/* --------------------------------------------------------------- */
/* > lbl-pill-icon-text-light-brown.css
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label | Icon + Text | Light Brown
/* --------------------------------------------------------------- */

.lbl-icon-text-light-brown {

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  border-radius: .8em;

  color:rgb(110, 110, 110);

  /* color - body header nav */
  color: #6e6e6e;

  color: #525252;

}

/* div 1 */
.lbl-icon-text-light-brown > div:last-child  {

  font-size: 14.5px;

}

/* img grey */
.lbl-icon-text-light-brown > img:nth-of-type(1) {

  opacity: .6;

}

/* --------------------------------------------------------------- */
/* Default Unshown | Black Img
/* --------------------------------------------------------------- */

.lbl-icon-text-light-brown > img:nth-of-type(2) {

  display: none;

}

/* --------------------------------------------------------------- */
/* Hover Handlings
/* > show black img by hover, unshown grey img
/* --------------------------------------------------------------- */

.lbl-icon-text-light-brown:hover {

  background-color: rgb(210, 195, 164);
  color:rgb(36, 36, 36);

}

/* unshow grey img */
.lbl-icon-text-light-brown:hover > img:nth-of-type(1) {

  display: none;

}

/* show black img */
.lbl-icon-text-light-brown:hover > img:nth-of-type(2) {

  display: flex;

}
