/* ---------------------------------------------------------------- */
/* > codings-unshown.css
/* ---------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* Row Container - Codings Unshown
/* ----------------------------------------------------------------- */

#row-container-codings-unshown {

  width: 100%;
  display: grid;
  justify-items: center;

}
