/* ---------------------------------------------------------------- */
/* > codings.css
/* ---------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* Codings Page Container
/* ----------------------------------------------------------------- */

#codings-page-container {

  /* fixed body header */
  margin-top: 4.5em;

  /* fixed body footer */
  /* margin-bottom: 3em; */

  z-index: 2;

  /* important to allow child elements to use max content area */
  width: 100%;
  /* height: 100%; */

  display: grid;
  justify-items: center;

  /* welcome, nav, content (x1) - mini it projects, mini games, codings, docs, unshow */
  grid: auto 1fr / 1fr;
  /* row-gap: 1em; */

  background-color: rgb(255, 255, 255);

}
