/* --------------------------------------------------------------- */
/* > resp-to-do-list.css
/*
/* : styles resp to do list
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* >= 800px |
/* --------------------------------------------------------------- */

@media (min-width: 800px) {

  /* -------------------------------------------------------------- */
  /* Project To Do Item & Future Idea
  /* -------------------------------------------------------------- */

  .project-to-do-item,
  .project-to-do-item-future-idea {

    /* desktop */
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .8em;

  }

  /* -------------------------------------------------------------- */
  /* Img | Media
  /* -------------------------------------------------------------- */

  .project-to-do-item-media > img {

    display: flex;

  }

}
