/* --------------------------------------------------------------- */
/* > to-do-list.css
/*
/* : styles to do list
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* To Do List
/* -------------------------------------------------------------- */

.to-do-list {

  width: 100%;
  padding: 1.5em .8em;

  border-radius: 1em;
  border: 1px dashed rgb(188, 188, 188);

  /* background-color: rgb(120, 120, 155); */

  /* default unshown, by click will be shown */
  /* display: none; */

}

/* -------------------------------------------------------------- */
/* To Do Item
/* -------------------------------------------------------------- */

.to-do-item {


}

/* -------------------------------------------------------------- */
/* in Progress Item
/* -------------------------------------------------------------- */

.in-progress-item {


}

/* -------------------------------------------------------------- */
/* To Do Later Item
/* -------------------------------------------------------------- */

.to-do-later-item {


}
