/* --------------------------------------------------------------- */
/* > to-do-list.css
/*
/* : styles to do list
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* To Do List
/* -------------------------------------------------------------- */

.to-do-list {

  width: 100%;

  display: grid;
  align-items: flex-start;

  row-gap: .8em;

}

/* -------------------------------------------------------------- */
/* Project To Do Item & Future Idea
/* -------------------------------------------------------------- */

.project-to-do-item,
.project-to-do-item-future-idea {

  width: 100%;
  padding: 1.3em 1.5em;

  /* desktop */
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  /* mobile */
  display: grid;
  row-gap: .8em;

  border-radius: 1em;
  border: 1px dashed rgb(188, 188, 188);

  background-color: white;

  transition: all .4s;

}

/* no focus on future ideas */
.project-to-do-item-future-idea {

  opacity: .1;

}

/* hover */
.project-to-do-item:hover,
.project-to-do-item-future-idea:hover {


  background-color: rgb(228, 228, 228);

  background-color: rgb(28, 28, 28);

  background-color: rgb(235, 235, 235);

  opacity: 1;

}

/* -------------------------------------------------------------- */
/* Content | Project To Do Item & Future Idea
/* -------------------------------------------------------------- */

.project-to-do-item-content {

  display: grid;
  row-gap: .4em;

}

/* -------------------------------------------------------------- */
/* Header | Content
/* -------------------------------------------------------------- */

.project-to-do-item-content > header {

  display: grid;
  row-gap: .6em;

}

/* title header */
.project-to-do-item-content > header > div:last-child {

  font-weight: bold;
  font-size: 18px;

  line-height: 1.4em;

}

/* -------------------------------------------------------------- */
/* Nr Status Header
/* -------------------------------------------------------------- */

.project-to-do-item-nr-status-header {

  display: flex;
  align-items: center;
  column-gap: .8em;

  /* background-color: red; */

}

/* nr */
.project-to-do-item-nr-status-header > div:nth-of-type(1) {

  font-size: 18px;
  font-weight: bold;

}

/* -------------------------------------------------------------- */
/* Main | Content
/* -------------------------------------------------------------- */

.project-to-do-item-content > main {

  color: #a8a8a8;;
  line-height: 1.6em;

}

/* -------------------------------------------------------------- */
/* Media | Project To Do Item & Future Idea
/* -------------------------------------------------------------- */

.project-to-do-item-media {

  display: grid;
  row-gap: .6em;

}

/* -------------------------------------------------------------- */
/* Img | Media
/* -------------------------------------------------------------- */

.project-to-do-item-media > img {

  height: 8em;

  border-radius: .4em;
  border: 3px solid rgb(225, 225, 225);

  display: none;

}

/* -------------------------------------------------------------- */
/* Footer | Media
/* -------------------------------------------------------------- */

.project-to-do-item-media > footer {

  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: .4em;

  /* background-color: blue; */

  /* display: none; */

}




























/* ❌❌❌ Trash */
/* -------------------------------------------------------------- */
/* To Do | In Progress, To Do, Later, STatus
/* -------------------------------------------------------------- */

.to-do-in-progress-status,
.to-do-status,
.to-do-later-status,
.to-do-future-idea-status {

  height: 1.8em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .4em;

  font-weight: bold;


}

/* div */
.to-do-in-progress-status > div,
.to-do-status > div,
.to-do-later-status > div,
.to-do-future-idea-status > div {

  font-size: 13.5px;

}

/* in progress | status */
.to-do-in-progress-status {

  /* border: 1px solid rgb(229, 49, 49); */
  background-color: rgb(251, 133, 133);
  background-color: rgb(255, 192, 192);
  color: rgb(169, 31, 31);

}

.to-do-in-progress-status > img {

  transform: rotate(-45deg);
  margin-top: 1px;

}

/* anim in progress to to */
.anim-in-progress-to-do-list {

  animation: anim-in-progress-to-do-list 1s infinite ease;

}

@keyframes anim-in-progress-to-do-list {

  0% {
    background-color: rgb(230, 230, 230);
  }
  50% {
      background-color: rgb(251, 133, 133);
  }
  100% {
      background-color: rgb(230, 230, 230);
      color: rgb(73, 73, 73);
  }

}

/* to do | status */
.to-do-status {

  /* border: 1px solid rgb(209, 174, 0); */
  background-color: rgb(255, 227, 86);
  color: rgb(142, 119, 5);

}


/* later | status */
.to-do-later-status {

  background-color: rgb(205, 205, 205);
  color: rgb(94, 94, 94);

}

/* future idea | status */
.to-do-future-idea-status {

  border: 1px solid rgb(205, 205, 205);
  color: rgb(94, 94, 94);


}
