/* --------------------------------------------------------------- */
/* > to-do-list.css
/*
/* : styles to do list
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* To Do List
/* -------------------------------------------------------------- */

.to-do-list {

  width: 100%;

  display: grid;
  align-items: flex-start;

  row-gap: .8em;

}

/* -------------------------------------------------------------- */
/* To Do | In Progress, To Do, Later
/* -------------------------------------------------------------- */

.to-do-in-progress-status,
.to-do-status,
.to-do-later-status {

  height: 1.8em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .4em;

  font-weight: bold;


}

/* div */
.to-do-in-progress-status > div,
.to-do-status > div,
.to-do-later-status > div {

  font-size: 13.5px;

}

/* in progress | status */
.to-do-in-progress-status {

  /* border: 1px solid rgb(229, 49, 49); */
  background-color: rgb(251, 133, 133);
  background-color: rgb(255, 192, 192);
  color: rgb(169, 31, 31);

}

.to-do-in-progress-status > img {

  transform: rotate(-45deg);
  margin-top: 1px;

}

/* anim in progress to to */
.anim-in-progress-to-do-list {

  animation: anim-in-progress-to-do-list 1s infinite ease;

}

@keyframes anim-in-progress-to-do-list {

  0% {
    background-color: rgb(230, 230, 230);
  }
  50% {
      background-color: rgb(251, 133, 133);
  }
  100% {
      background-color: rgb(230, 230, 230);
      color: rgb(73, 73, 73);
  }

}

/* to do | status */
.to-do-status {

  /* border: 1px solid rgb(209, 174, 0); */
  background-color: rgb(255, 227, 86);
  color: rgb(142, 119, 5);

}


/* later | status */
.to-do-later-status {

  background-color: rgb(205, 205, 205);
  color: rgb(94, 94, 94);

}
