/* --------------------------------------------------------------- */
/* > to-do-mini-projects.css
/*
/* : styles to do mini projects
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* To Do Mini Project Item
/* -------------------------------------------------------------- */

.to-do-mini-project-item {

  width: 100%;
  padding: 1.5em 1.5em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  border-radius: 1em;
  border: 1px dashed rgb(188, 188, 188);

  background-color: white;

  transition: all .4s;

}

/* hover */
.to-do-mini-project-item:hover {

  background-color: rgb(243, 243, 243);
  opacity: 1;
}

.to-do-mini-project-no-focus {

  opacity: .1;

}

/* -------------------------------------------------------------- */
/* [1/2] | Content To Do Mini Project
/* -------------------------------------------------------------- */

.content-to-do-mini-project {

  display: grid;
  row-gap: .4em;

}

/* -------------------------------------------------------------- */
/* Header | Content To Do Mini Project
/* -------------------------------------------------------------- */

.content-to-do-mini-project > header {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

/* nr */
.content-to-do-mini-project > header > div:nth-of-type(1) {

  font-weight: bold;
  font-size: 18px;

}

/* -------------------------------------------------------------- */
/* Header Mini Project Title | Content To Do Mini Project
/* -------------------------------------------------------------- */

.header-mini-project-title {

  font-weight: bold;
  font-size: 18px;

}


/* -------------------------------------------------------------- */
/* Main | Content To Do Mini Project
/* -------------------------------------------------------------- */

.content-to-do-mini-project > main {

  color:rgb(168, 168, 168);

}

/* -------------------------------------------------------------- */
/* [2/2] | Content To Do Mini Project
/* -------------------------------------------------------------- */

.img-content-to-do-mini-project {

  height: 8em;
  /* min-width: 9em; */

  border-radius: .4em;

  border: 3px solid rgb(225, 225, 225);

  /* default in mobile unshown */
  display: none;

}
