/* --------------------------------------------------------------- */
/* > hobbys.css
/*
/* : styles hobbys
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Hobbys | Show More Container
/* --------------------------------------------------------------- */

#hobbys-show-more-container {

  padding: 0em 1em 6em 1em;
  width: 100%;

  display: grid;
  justify-items: center;

  /* default unshown */
  display: none;

}


/* --------------------------------------------------------------- */
/* Hobby Category Content Container
/* --------------------------------------------------------------- */

.hobby-category-content-container {

  width: 100%;
  display: grid;
  /* row-gap: 2em; */

}

/* --------------------------------------------------------------- */
/* Header | Hobby Category Content Container
/* --------------------------------------------------------------- */

.hobby-category-content-container > header {

  width: 100%;
  padding: 4em 0;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: blue; */

}

.hobby-category-content-container > header > div:nth-of-type(1) {

  font-size: 22px;
  font-weight: bold;
  color:rgb(173, 173, 173);

}

/* --------------------------------------------------------------- */
/* Main | Hobby Category Content Container
/* --------------------------------------------------------------- */

.hobby-category-content-container > main {


  display: grid;
  row-gap: 1em;
  column-gap: 2em;

  /* background-color: red; */

}
