/* --------------------------------------------------------------- */
/* > hobbys.css
/*
/* : styles hobbys
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Hobbys | Show More Container
/* --------------------------------------------------------------- */

#hobbys-show-more-container {

  margin-bottom: 3.5em;
  padding: 3.5em 1em;
  width: 100%;

  display: grid;
  justify-items: center;

  border-radius: 1.3em;
  background-color: white;

  /* default unshown */
  display: none;

}


/* --------------------------------------------------------------- */
/* Hobby Category Content Container
/* --------------------------------------------------------------- */

.hobby-category-content-container {

  width: 100%;
  display: grid;

  /* row-gap: 2em; */

}

/* extra case, entertainment */
#hobbys-show-more-container .hobby-category-content-container:nth-of-type(2) > header {

  padding-top: 3em;
  /* background-color: blue; */

}

/* --------------------------------------------------------------- */
/* Header | Hobby Category Content Container
/* --------------------------------------------------------------- */

.hobby-category-content-container > header {

  width: 100%;
  padding-bottom: 3em;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: blue; */

}

.hobby-category-content-container > header > div:nth-of-type(1) {

  font-size: 22px;
  font-weight: bold;
  color:rgb(173, 173, 173);

}

/* --------------------------------------------------------------- */
/* Main | Hobby Category Content Container
/* --------------------------------------------------------------- */

.hobby-category-content-container > main {

  display: grid;
  align-items: flex-start;

  row-gap: 1em;
  column-gap: 2em;

  /* background-color: red; */

}
