/* --------------------------------------------------------------- */
/* > hobbys.css
/*
/* : styles hobbys
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Hobbys | Show More Container
/* --------------------------------------------------------------- */

#hobbys-show-more-container {

  margin: 1.3em 0 2.5em 0;

  padding: 3em 1em;
  width: 100%;

  display: grid;

  /* background-color: rgb(67, 144, 239); */

  border: 1px dashed grey;

  /* default unshown */
  display: none;

}
