/* ---------------------------------------------------------------- */
/* > resp-codings-task-header.css
/* ---------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* >= 600px
/* --------------------------------------------------------------- */

@media (min-width: 600px) {

  /* ------------------------------------------------- */
  /* Codings Task Header
  /* ------------------------------------------------- */

  #codings-header-img {

    display: flex;

  }

  #codings-task-header {

    padding: 1.5em 0em;

    /* desktop */
    grid-template-areas:
      'cth-meta cth-img'
    ;

    grid-template-columns: 1fr auto;

  }

}
