/* --------------------------------------------------------------- */
/* > about-top-it-projects.css
/*
/* : styles about top it projects
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Top IT Projects | About Container
/* --------------------------------------------------------------- */

#top-it-projects-about-container {

  width: 100%;
  height: 100%;

  padding: .8em;

  display: flex;
  justify-content: center;

  font-weight: bold;

  background-color: white;
  /* background-color: rgb(194, 60, 134); */

  border-left: 1px solid grey;
  border-right: 1px solid grey;

}
