/* --------------------------------------------------------------- */
/* > about-top-it-projects.css
/*
/* : styles about top it projects
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Top IT Projects | About Container
/* --------------------------------------------------------------- */

#top-it-projects-about-container {

  width: 100%;
  height: 100%;

  padding: 3.5em 0;

  display: grid;
  align-content: flex-start;
  justify-items: center;
  justify-content: center;

  row-gap: 4em;

  /* background-color: white; */

  /* border-left: 1px solid grey;
  border-right: 1px solid grey; */

}

/* --------------------------------------------------------------- */
/* Title Area | First Header Content | Overwrite CSS Style
/* --------------------------------------------------------------- */

#top-it-projects-about-container > .first-header-content-on-light .title-area-first-content-header {

  justify-items: center;

}

/* --------------------------------------------------------------- */
/* Img | First Header Content |
/* --------------------------------------------------------------- */

/* small mobile */
#top-it-projects-about-container > .first-header-content-on-light > img:nth-of-type(1) {

  height: 3em;

}

/* --------------------------------------------------------------- */
/* Img | First Header Content | Overwrite layout fix more sub
/* --------------------------------------------------------------- */

/* layout fix because of special x3 style */
#top-it-projects-about-container .first-header-content-on-light .layout-fix-more-sub-title-items {

  padding-top: .6em;

}

/* --------------------------------------------------------------- */
/* x3 Extra Style
/* --------------------------------------------------------------- */

#extra-three-style {

  height: 1.5em;
  padding: 0 .4em;
  margin: 0 .2em;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;

  font-style: italic;

  background-color: rgb(28, 28, 28);
  color:rgb(209, 209, 209);

}

#extra-three-style > span {

  font-size: 22px;

}

/* --------------------------------------------------------------- */
/* Top IT Project Content | About Container
/* --------------------------------------------------------------- */

#top-it-projects-content-about-container {

  width: 100%;

  /* mobile */
  display: grid;
  align-items: flex-start;
  justify-items: center;

  grid-template-areas:

    'about-top-it-project-1'
    'about-top-it-project-2'
    'about-top-it-project-3'
  ;

  row-gap: 3em;
  column-gap: 1em;

  /* background-color: red; */

}

/* --------------------------------------------------------------- */
/* Top It Project Cards
/* --------------------------------------------------------------- */

/* 1 */
#about-top-it-project-1 {

  grid-area: about-top-it-project-1;

}

/* 2 */
#about-top-it-project-2 {

  grid-area: about-top-it-project-2;

}

/* 3 */
#about-top-it-project-3 {

  grid-area: about-top-it-project-3;

}
