/* --------------------------------------------------------------- */
/* > about-top-it-projects.css
/*
/* : styles about top it projects
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Top IT Projects | About Container
/* --------------------------------------------------------------- */

#top-it-projects-about-container {

  width: 100%;
  height: 100%;

  padding: 3.5em 0;

  display: grid;
  align-content: flex-start;
  justify-items: center;
  justify-content: center;

  row-gap: 4em;

  /* background-color: white; */


  border-left: 1px solid grey;
  border-right: 1px solid grey;

}

/* --------------------------------------------------------------- */
/* First Header Content | Overwrite CSS Style
/* --------------------------------------------------------------- */

#top-it-projects-about-container > .first-header-content-on-light {

  display: grid;
  justify-items: center;
  row-gap: 1.5em;


}

/* --------------------------------------------------------------- */
/* Title Area | First Header Content | Overwrite CSS Style
/* --------------------------------------------------------------- */

#top-it-projects-about-container > .first-header-content-on-light .title-area-first-content-header {

  justify-items: center;

}

#top-it-projects-about-container > .first-header-content-on-light .sub-title-content-header-container {

  text-align: center;

}

/* --------------------------------------------------------------- */
/* Img | First Header Content |
/* --------------------------------------------------------------- */

/* small mobile */
#top-it-projects-about-container > .first-header-content-on-light > img:nth-of-type(1) {

  height: 3em;

}


/* --------------------------------------------------------------- */
/* Top IT Project Content | About Container
/* --------------------------------------------------------------- */

#top-it-projects-content-about-container {

  width: 100%;

  /* mobile */
  display: grid;
  align-items: flex-start;
  justify-items: center;

  grid-template-areas:

    'about-top-it-project-1'
    'about-top-it-project-2'
    'about-top-it-project-3'
  ;

  row-gap: 3em;
  column-gap: 1em;

  /* background-color: red; */

}

/* --------------------------------------------------------------- */
/* Top It Project Cards
/* --------------------------------------------------------------- */

/* 1 */
#about-top-it-project-1 {

  grid-area: about-top-it-project-1;

}

/* 2 */
#about-top-it-project-2 {

  grid-area: about-top-it-project-2;

}

/* 3 */
#about-top-it-project-3 {

  grid-area: about-top-it-project-3;

}
