/* --------------------------------------------------------------- */
/* > resp-about-top-it-projects.css
/*
/* : styles resp about top it projects
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* >= 380px
/* --------------------------------------------------------------- */

@media (min-width: 400px) {

  /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  .about-top-it-project-card {

    width: 95%;

  }

}

/* --------------------------------------------------------------- */
/* >= 480px
/* --------------------------------------------------------------- */

@media (min-width: 480px) {

  /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  .about-top-it-project-card {

    width: 25em;

  }

   /* img icon | online food #1 */
  #about-top-it-project-1 .content-top-it-project-card > main > header img {

    height: 1.4em;

  }

  /* img icon | insurance #2 */
  #about-top-it-project-2 .content-top-it-project-card > main > header img {

    height: 1.4em;

  }

  /* img icon | online shop #3 */
  #about-top-it-project-3 .content-top-it-project-card > main > header img {

    height: 1.6em;

  }

}

/* --------------------------------------------------------------- */
/* >= 550px
/* --------------------------------------------------------------- */

@media (min-width: 550px) {

  /* --------------------------------------------------------------- */
  /* First Header Content | Overwrite CSS Style
  /* --------------------------------------------------------------- */

  #top-it-projects-about-container > .first-header-content-on-light {

    display: flex;

  }

}

/* --------------------------------------------------------------- */
/* >= 650px
/* --------------------------------------------------------------- */

@media (min-width: 680px) {


  /* --------------------------------------------------------------- */
  /* Content | Top IT Project
  /* --------------------------------------------------------------- */

  #top-it-projects-content-about-container {


     grid-template-areas:

      'about-top-it-project-1 about-top-it-project-2'
      'about-top-it-project-3 about-top-it-project-3'

    ;

    /* row-gap: 3em;
    column-gap: 1em; */

  }

  /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  .about-top-it-project-card {

    width: 20em;

  }

}

/* --------------------------------------------------------------- */
/* >= 750px
/* --------------------------------------------------------------- */

@media (min-width: 750px) {

  /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  .about-top-it-project-card {

    width: 22em;

  }

}

/* --------------------------------------------------------------- */
/* >= 850px
/* --------------------------------------------------------------- */

@media (min-width: 850px) {

  /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  .about-top-it-project-card {

    width: 24em;

  }

}

/* --------------------------------------------------------------- */
/* >= 900px
/* --------------------------------------------------------------- */

@media (min-width: 900px) {


  #top-it-projects-content-about-container {

    column-gap: 2em;

  }

}

/* --------------------------------------------------------------- */
/* >= 1200px
/* --------------------------------------------------------------- */

@media (min-width: 1200px) {


  /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  .about-top-it-project-card {

    width: 22em;

  }

  /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  #top-it-projects-content-about-container {

    padding: 0 1em;

    grid-template-areas:

      'about-top-it-project-1 about-top-it-project-2 about-top-it-project-3'

    ;

    column-gap: 1.5em;

  }

}

/* --------------------------------------------------------------- */
/* >= 1400px
/* --------------------------------------------------------------- */

@media (min-width: 1400px) {


  /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  .about-top-it-project-card {

    width: 23em;

  }

   /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  #top-it-projects-content-about-container {

    padding: 0 3em;
    column-gap: 2em;


  }

}

/* --------------------------------------------------------------- */
/* >= 1600px
/* --------------------------------------------------------------- */

@media (min-width: 1600px) {

  /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  #top-it-projects-content-about-container {

    column-gap: 3em;

  }

}
