/* --------------------------------------------------------------- */
/* > resp-about-top-it-projects.css
/*
/* : styles resp about top it projects
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* >= 380px
/* --------------------------------------------------------------- */

@media (min-width: 380px) {

  /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  .about-top-it-project-card {

    width: 90%;

  }

}

/* --------------------------------------------------------------- */
/* >= 480px
/* --------------------------------------------------------------- */

@media (min-width: 480px) {

  /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  .about-top-it-project-card {

    width: 25em;

  }

}

/* --------------------------------------------------------------- */
/* >= 550px
/* --------------------------------------------------------------- */

@media (min-width: 550px) {

  /* --------------------------------------------------------------- */
  /* First Header Content | Overwrite CSS Style
  /* --------------------------------------------------------------- */

  #top-it-projects-about-container > .first-header-content-on-light {

    display: flex;

  }

  /* --------------------------------------------------------------- */
  /* Title Area | First Header Content | Overwrite CSS Style
  /* --------------------------------------------------------------- */

  #top-it-projects-about-container > .first-header-content-on-light .title-area-first-content-header {

    justify-items: flex-start;

  }

  #top-it-projects-about-container > .first-header-content-on-light .sub-title-content-header-container {

    text-align: left;

  }

}

/* --------------------------------------------------------------- */
/* >= 650px
/* --------------------------------------------------------------- */

@media (min-width: 650px) {

#top-it-projects-content-about-container {

  width: 100%;

  /* mobile */
  display: grid;
  align-items: flex-start;
  align-content: flex-start;
  justify-items: center;

  grid: auto / 1fr 1fr;

  row-gap: 3em;

}

  /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  .about-top-it-project-card {

    width: 100%;

  }

}

/* --------------------------------------------------------------- */
/* >= 800px
/* --------------------------------------------------------------- */

@media (min-width: 800px) {

   /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  #top-it-projects-content-about-container {

    grid: auto / 23em 23em;


  }

}

/* --------------------------------------------------------------- */
/* >= 1200px
/* --------------------------------------------------------------- */

@media (min-width: 1200px) {

   /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  #top-it-projects-content-about-container {

    padding: 0 2em;

    grid: auto / 1fr 1fr 1fr;


  }

}

/* --------------------------------------------------------------- */
/* >= 1400px
/* --------------------------------------------------------------- */

@media (min-width: 1400px) {

   /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  #top-it-projects-content-about-container {

    padding: 0 2em;

    grid: auto / 24em 24em 24em;

    column-gap: 2em;


  }

}

/* --------------------------------------------------------------- */
/* >= 1400px
/* --------------------------------------------------------------- */

@media (min-width: 1600px) {

   /* --------------------------------------------------------------- */
  /* About Top IT Project Card
  /* --------------------------------------------------------------- */

  #top-it-projects-content-about-container {

    padding: 0 2em;

    grid: auto / 24em 24em 24em;

    column-gap: 3em;


  }

}
