/* --------------------------------------------------------------- */
/* > status-progress-mini-items.css
/*
/* : styles status progress mini items
/* : later, now, done
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* All | Later, Now, Done
/* --------------------------------------------------------------- */

.status-progress-mini-later,
.status-progress-mini-now,
.status-progress-mini-done {

  min-height: 1.5em;
  min-width: 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .4em;



}

/* --------------------------------------------------------------- */
/* Later
/* --------------------------------------------------------------- */

.status-progress-mini-later {

  background-color: grey;

}

/* --------------------------------------------------------------- */
/* Now
/* --------------------------------------------------------------- */

.status-progress-mini-now {

  background-color: yellow;

}

/* --------------------------------------------------------------- */
/* Done
/* --------------------------------------------------------------- */

.status-progress-mini-done {

  background-color: rgb(65, 210, 99);
  border: 1px solid rgb(167, 161, 78);

}
