
/* --------------------------------------------------------------- */
/* > status-progress-items.css
/*
/* : styles status progress mini items
/* : in progress, next, later, done, future idea
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* All | Status Progress Item
/* --------------------------------------------------------------- */

.status-item-future-idea,
.status-item-later,
.status-item-next,
.status-item-in-progress,
.status-item-done {

  height: 1.8em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .6em;

}

/* img */
.status-item-future-idea > img,
.status-item-later > img,
.status-item-next > img,
.status-item-in-progress > img,
.status-item-done > img {

  opacity: .6;

}

/* div (text) */
.status-item-future-idea > div,
.status-item-later > div,
.status-item-next > div,
.status-item-in-progress > div,
.status-item-done > div {

  font-weight: bold;
  font-size: 12.5px;

}


/* --------------------------------------------------------------- */
/* Now | Status Progress Item
/* --------------------------------------------------------------- */

.status-item-in-progress {

  /* background-color: rgb(255, 227, 86); */
  /* color: rgb(142, 119, 5); */

   background-color: rgb(247, 207, 107);

}

.status-item-in-progress > img {

  /* layout fix */
  /* margin-top: .1em; */

}

/* anim now */
.anim-status-in-progress {

  animation: anim-status-in-progress 1.6s infinite reverse ease-in-out;

}

@keyframes anim-status-in-progress {

  0% {


    background-color: rgb(247, 207, 107);

  }

  50% {

    background-color: rgba(105, 105, 105, .8);


  }

  100% {

      background-color: rgb(255, 243, 214);

      background-color: rgb(247, 207, 107);

  }

}

/* --------------------------------------------------------------- */
/* Next | Status Progress Item
/* --------------------------------------------------------------- */

.status-item-next {

  background-color: rgb(205, 205, 205);
  color: rgb(94, 94, 94);

}

/* img layout pos fix */
.status-item-next > img {

  margin-top: 2px;

}

/* --------------------------------------------------------------- */
/* Later | Status Progress Item
/* --------------------------------------------------------------- */

.status-item-later {

  background-color: rgb(222, 222, 222);
  color:rgb(87, 87, 87);

}

.status-item-later > img {

  height: .8em;

}

/* --------------------------------------------------------------- */
/* Future Idea | Status Progress Item
/* --------------------------------------------------------------- */

.status-item-future-idea {

  border: 1px solid rgb(203, 203, 203);
  color:rgb(87, 87, 87);
  opacity: .6;

}

/* --------------------------------------------------------------- */
/* Done | Status Progress Item
/* --------------------------------------------------------------- */

.status-item-done {

  background-color: rgb(153, 251, 153);

}
