/* --------------------------------------------------------------- */
/* > status-progress-mini-items.css
/*
/* : styles status progress mini items
/* : later, in-progress, done
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* All | Later, in-progress, Done
/* --------------------------------------------------------------- */

.status-progress-mini-later,
.status-progress-mini-in-progress,
.status-progress-mini-done {

  min-height: 1.8em;
  min-width: 1.8em;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .4em;

}

.status-progress-mini-later > img,
.status-progress-mini-in-progress > img,
.status-progress-mini-done > img {

 opacity: .5;

}

/* --------------------------------------------------------------- */
/* Later
/* --------------------------------------------------------------- */

.status-progress-mini-later {

  background-color: #e3e3e3;
  border: 1px solid rgb(207, 207, 207);

}

/* --------------------------------------------------------------- */
/* in-progress
/* --------------------------------------------------------------- */

.status-progress-mini-in-progress {

  background-color: rgb(255, 227, 86);

  background-color: rgb(247, 207, 107);

  border: 1px solid rgb(207, 207, 207);
}

/* --------------------------------------------------------------- */
/* Done
/* --------------------------------------------------------------- */

.status-progress-mini-done {

  background-color: rgb(153, 251, 153);
  border: 1px solid rgb(207, 207, 207);

}
