/* --------------------------------------------------------------- */
/* > nav-handlings-java.css
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* 🖌️ Styles
/* -------------------------------------------------------------- */

  /* set - background color - in progress*/
  #radio-codings-task-header-java-basics:checked ~ .resp-content-container-max:nth-of-type(1) label[for="radio-codings-task-header-java-basics"].task-header-nav-label-in-progress,
  #radio-codings-task-header-java-advanced:checked ~ .resp-content-container-max:nth-of-type(1) label[for="radio-codings-task-header-java-advanced"].task-header-nav-label-in-progress,
  #radio-codings-task-header-java-libs:checked ~ .resp-content-container-max:nth-of-type(1) label[for="radio-codings-task-header-java-libs"].task-header-nav-label-in-progress,
  #radio-codings-task-header-java-cruds:checked ~ .resp-content-container-max:nth-of-type(1) label[for="radio-codings-task-header-java-cruds"].task-header-nav-label-in-progress {

    /* background-color: #d8d8d8; */
    background-color: rgba(251, 217, 132, .3);
    color: #464646;

  }

  /* set - background color - later */
  #radio-codings-task-header-java-basics:checked ~ .resp-content-container-max:nth-of-type(1) label[for="radio-codings-task-header-java-basics"].task-header-nav-label-later,
  #radio-codings-task-header-java-advanced:checked ~ .resp-content-container-max:nth-of-type(1) label[for="radio-codings-task-header-java-advanced"].task-header-nav-label-later,
  #radio-codings-task-header-java-libs:checked ~ .resp-content-container-max:nth-of-type(1) label[for="radio-codings-task-header-java-libs"] .task-header-nav-label-later,
  #radio-codings-task-header-java-cruds:checked ~ .resp-content-container-max:nth-of-type(1) label[for="radio-codings-task-header-java-cruds"].task-header-nav-label-later {

    /* background-color: #d8d8d8; */
    background-color: rgba(75, 127, 206, .3);
    color: #464646;

  }

  /* set - background color - libs */
  #radio-codings-task-header-java-basics:checked ~ .resp-content-container-max:nth-of-type(1) label[for="radio-codings-task-header-java-basics"].task-header-nav-label-future,
  #radio-codings-task-header-java-advanced:checked ~ .resp-content-container-max:nth-of-type(1) label[for="radio-codings-task-header-java-advanced"].task-header-nav-label-future,
  #radio-codings-task-header-java-libs:checked ~ .resp-content-container-max:nth-of-type(1) label[for="radio-codings-task-header-java-libs"].task-header-nav-label-future,
  #radio-codings-task-header-java-cruds:checked ~ .resp-content-container-max:nth-of-type(1) label[for="radio-codings-task-header-java-cruds"].task-header-nav-label-future {

    background-color: rgba(227, 227, 227, .3);
    color: #464646;

  }

  /* set - background color - cruds */
  #radio-codings-task-header-java-basics:checked ~ .resp-content-container-max:nth-of-type(1) label[for="radio-codings-task-header-java-basics"].task-header-nav-label-finished,
  #radio-codings-task-header-java-advanced:checked ~ .resp-content-container-max:nth-of-type(1) label[for="radio-codings-task-header-java-advanced"].task-header-nav-label-finished,
  #radio-codings-task-header-java-libs:checked ~ .resp-content-container-max:nth-of-type(1) label[for="radio-codings-task-header-java-libs"].task-header-nav-label-finished,
  #radio-codings-task-header-java-cruds:checked ~ .resp-content-container-max:nth-of-type(1) label[for="radio-codings-task-header-java-cruds"].task-header-nav-label-finished {

    background-color: rgba(136, 216, 136, .3);
    color: #464646;

  }

/* -------------------------------------------------------------- */
/* 🛠️ Handlings
/* -------------------------------------------------------------- */
