
/* --------------------------------------------------------------- */
/* > lbl-clap-light-grey.csss
/*
/* : styles lbl clap light grey
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label Clap | Light Grey
/* --------------------------------------------------------------- */

.lbl-clap-light-grey {

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .4em;

  font-weight: bold;

  border: 1px solid rgb(65, 65, 65);

  color:rgb(103, 103, 103);
  background-color: rgb(210, 210, 210);

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

/* icons + title box */
.lbl-clap-light-grey > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

/* ------------------------------------------------------------------------- */
/* Extra Hover Handling
/* > show black img by hover, unshown grey img
/* ------------------------------------------------------------------------- */

.lbl-clap-light-grey:hover {

  background-color: wheat;
  color:black;

}

/* unshow grey img */
.lbl-clap-light-grey:hover > img:nth-of-type(1) {

  display: none;

}

/* show black img */
.lbl-clap-light-grey:hover > img:nth-of-type(2) {

  display: flex;

}
