/* --------------------------------------------------------------- */
/* > about-show-more.css
/*
/* : styles about show more
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* About Show More | About Container
/* --------------------------------------------------------------- */

#show-more-about-container {

  width: 100%;
  padding: .8em;

  background-color: white;
  /* background-color: blueviolet; */

  border-left: 1px solid grey;
  border-right: 1px solid grey;

}
