/* --------------------------------------------------------------- */
/* > about-show-more.css
/*
/* : styles about show more
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Row Container | Show More About
/* --------------------------------------------------------------- */

/* special layout case, because we like to have
   info show more which has his own row container and its
   part of smooth container */

#row-container-show-more-about {

  width: 100%;
  height: 100%;

  display: grid;
  justify-items: center;

  /* background-color: white; */

}


/* --------------------------------------------------------------------- */
/* Img Background
/* --------------------------------------------------------------------- */

#img-background-about-show-more {

  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../../../media/imgs/content/01-about/about-me/sky_cloud_clouds_175163_3840x2400.jpg);
  background-image: url(../../../../media/imgs/content/01-about/about-me/grass_dew_drops_158971_3840x2400.jpg);
  background-image: url(../../../../../media/imgs/content/01-about/about-me/grass_dew_drops_158971_3840x2400.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

/* --------------------------------------------------------------- */
/* About Show More | About Container
/* --------------------------------------------------------------- */

#show-more-about-container {

  width: 100%;
  /* padding: .8em; */

  display: grid;
  justify-items: center;

  /* background-color: red; */

  /* border-left: 1px dashed grey;
  border-right: 1px dashed grey; */

}

/* --------------------------------------------------------------- */
/* Info Nav | Show More About Container
/* --------------------------------------------------------------- */

#info-nav-show-more-about-container {

  z-index: 3;

  width: 100%;

  margin: 1.5em 0;
  padding: 1em 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(246, 246, 246);

  /* default unshown, wait on click */
  display: none;

}

/* imgs */
#info-nav-show-more-about-container > img {

  height: 2em;
  opacity: .3;

  /* default unshown, shows by clicked */
  display: none;

}

/* --------------------------------------------------------------- */
/* Info Show More About Container
/* --------------------------------------------------------------- */

#info-show-more-about-container {

  padding: 1.5em 0;

  display: flex;
  align-items: center;
  justify-content: center;

  column-gap: 1.3em;

}

/* img */
#img-clipart-info-show-more {

  height: 5em;

}

/* title container */
#info-show-more-about-container > div {

  line-height: 1.5em;

  font-weight: bold;
  width: 8em;

  color: rgb(235, 235, 235);

}
