/* --------------------------------------------------------------- */
/* > about-show-more.css
/*
/* : styles about show more
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Row Container | Show More About
/* --------------------------------------------------------------- */

/* special layout case, because we like to have
   info show more which has his own row container and its
   part of smooth container */

#row-container-show-more-about {

  width: 100%;
  height: 100%;

  display: grid;
  justify-items: center;

  background-color: white;

}

/* --------------------------------------------------------------- */
/* Row Container 1 | Overwerite (nav show more)
/* --------------------------------------------------------------- */

#row-container-show-more-about #smooth-show-more-about-container > div:nth-of-type(1) > .row-container:nth-of-type(1) {

  /* background-color: rgb(101, 101, 101); */
  background-color: white;

}

/* --------------------------------------------------------------- */
/* Row Container 2 | Overwerite (info show more)
/* --------------------------------------------------------------- */

#row-container-show-more-about #smooth-show-more-about-container > div:nth-of-type(1) > .row-container:nth-of-type(2) {

  background-color: rgb(28, 28, 28);

}

/* --------------------------------------------------------------- */
/* About Show More | About Container
/* --------------------------------------------------------------- */

#show-more-about-container {

  width: 100%;
  /* padding: .8em; */

  display: grid;
  justify-items: center;

  /* background-color: red; */

  border-left: 1px dashed grey;
  border-right: 1px dashed grey;

}

/* --------------------------------------------------------------- */
/* Info Nav | Show More About Container
/* --------------------------------------------------------------- */

#info-nav-show-more-about-container {

  width: 100%;

  margin: 1.5em 0;
  padding: 1em 0;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: red; */

}

/* imgs */
#info-nav-show-more-about-container > img {

  height: 2em;
  opacity: .3;

  /* default unshown, shows by clicked */
  display: none;

}

/* --------------------------------------------------------------- */
/* Info Show More About Container
/* --------------------------------------------------------------- */

#info-show-more-about-container {

  padding: 1.5em 0;

  display: flex;
  align-items: center;
  justify-content: center;

  column-gap: 1.3em;

}

/* img */
#img-clipart-info-show-more {

  height: 5em;

}

/* title container */
#info-show-more-about-container > div {

  line-height: 1.5em;

  font-weight: bold;
  width: 8em;

  color: rgb(235, 235, 235);

}
