/* --------------------------------------------------------------- */
/* > resp-show-more.css
/*
/* : all resps of show more
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* >= 380px
/* --------------------------------------------------------------- */

@media (min-width: 380px ) {

  /* --------------------------------------------------------------- */
  /* Video | Mindset Video Item
  /* --------------------------------------------------------------- */

  .mindset-video-item > video {

    height: 16em;

  }

}




/* --------------------------------------------------------------- */
/* >= 400px
/* --------------------------------------------------------------- */

@media (min-width: 400px ) {

  .it-skill-row-container-show-more {

    width: 95%;
    /* background-color: red; */

  }

  /* --------------------------------------------------------------- */
  /* Header | It Skill Row Container Show More
  /* --------------------------------------------------------------- */

  .it-skill-row-container-show-more > header {

    grid-template-areas:

    'img-itSkill-showMore title-itSkill-showMore nrBox-itSkill-showMore'
    'text-itSkill-showMore text-itSkill-showMore text-itSkill-showMore'

    ;

    align-items: center;

    grid-template-columns: auto auto 1fr;

    column-gap: .8em;

  }

  /* nr */
  .nr-box-it-skill-category {

    justify-self: flex-end;

  }

}


/* --------------------------------------------------------------- */
/* >= 450px
/* --------------------------------------------------------------- */

@media (min-width: 450px ) {

  /* --------------------------------------------------------------- */
  /* Video | Mindset Video Item
  /* --------------------------------------------------------------- */

  .mindset-video-item > video {

    height: 20em;

  }


}

/* --------------------------------------------------------------- */
/* >= 500px
/* --------------------------------------------------------------- */

@media (min-width: 500px ) {

  /* --------------------------------------------------------------- */
  /* Mindset Videos Container
  /* --------------------------------------------------------------- */

  #mindset-videos-container {

    /* width: 85%; */

    display: grid;
    justify-items: center;

    /* mobile */
    grid: auto auto / 28em;

    /* grid: auto / 1fr 1fr; */

    column-gap: 2.5em;
    row-gap: 2.5em;

    /* background-color: red; */

  }

}


/* --------------------------------------------------------------- */
/* >= 850px
/* --------------------------------------------------------------- */

@media (min-width: 850px ) {

  /* --------------------------------------------------------------- */
  /* It Skill Row Container Show More
  /* --------------------------------------------------------------- */


  .it-skill-row-container-show-more  {

    width: 42em;


  }

  /* --------------------------------------------------------------- */
  /* Main | It Skill Row Container Show More
  /* --------------------------------------------------------------- */

  .it-skill-row-container-show-more > main {

    width: 80%;
    /* background-color: red; */

  }

  /* --------------------------------------------------------------- */
  /* Content Container | Story Behind SFD
  /* --------------------------------------------------------------- */

  .content-container-story-behind-sfd {

    width: 90%;

  }

  /* --------------------------------------------------------------- */
  /* Video | Mindset Video Item
  /* --------------------------------------------------------------- */

  .mindset-video-item > video {

    height: 16em;

  }

  /* --------------------------------------------------------------- */
  /* Mindset Videos Container
  /* --------------------------------------------------------------- */

  #mindset-videos-container {

    /* width: 85%; */

    display: grid;
    justify-items: center;

    /* mobile */
    grid: auto / 22em 22em;

    /* grid: auto / 1fr 1fr; */

    column-gap: 2.5em;
    row-gap: 2.5em;

    /* background-color: red; */

  }

}


/* --------------------------------------------------------------- */
/* >= 1000px
/* --------------------------------------------------------------- */

@media (min-width:1000px ) {

  /* --------------------------------------------------------------- */
  /* Content Container | Story Behind SFD
  /* --------------------------------------------------------------- */

  .content-container-story-behind-sfd {

    width: 43em;
    /* background-color: blue; */

  }

}


/* --------------------------------------------------------------- */
/* >= 1100px
/* --------------------------------------------------------------- */

@media (min-width:1100px ) {

   /* --------------------------------------------------------------- */
  /* Video | Mindset Video Item
  /* --------------------------------------------------------------- */

  .mindset-video-item > video {

    height: 16em;

  }

  /* --------------------------------------------------------------- */
  /* Mindset Videos Container
  /* --------------------------------------------------------------- */

  #mindset-videos-container {

    /* width: 85%; */

    display: grid;
    justify-items: center;

    /* mobile */
    grid: auto / 24em 24em;

    /* grid: auto / 1fr 1fr; */

    column-gap: 2.5em;
    row-gap: 2.5em;

    /* background-color: red; */

  }

}
