/* ---------------------------------------------------------------- */
/* > kits-container.css
/* : kits
/* ---------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Codings Kits Container
/* --------------------------------------------------------------- */

#codings-kits-container {

  width: 100%;
  padding: 1.3em;

  display: grid;
  justify-items: center;
  align-content: flex-start;

  row-gap: 1.3em;

  border-left: 1px solid grey;
  border-right: 1px solid grey;

  /* defualt unshown, only by nav checked */
  display: none;

}

/* --------------------------------------------------------------- */
/* Codings Kits Category Container
/* --------------------------------------------------------------- */

.codings-kits-category-container {

  width: 100%;

  display: grid;
  row-gap: 1.3em;

}
