/* ---------------------------------------------------------------- */
/* > kits-container.css
/* : kits
/* ---------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Codings Kits Container
/* --------------------------------------------------------------- */

#codings-kits-container {

  width: 100%;
  /* padding: 1.5em 0em 1.5em 0; */

  display: grid;
  justify-items: center;
  align-content: flex-start;

  row-gap: 1.5em;

  /* border-left: 1px solid grey;
  border-right: 1px solid grey; */

  /* defualt unshown, only by nav checked */
  display: none;

  /* background-color: grey; */

}

/* --------------------------------------------------------------- */
/* Kits Content Container
/* --------------------------------------------------------------- */

#kits-content-container {

  width: 100%;
  display: grid;

}
