/* ---------------------------------------------------------------- */
/* > kits-container.css
/* : kits
/* ---------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Codings Kits Container
/* --------------------------------------------------------------- */

#codings-kits-container {

  padding: 1.3em;

  display: grid;

  background-color: grey;

  /* defualt unshown, only by nav checked */
  display: none;

}

/* --------------------------------------------------------------- */
/* ...
/* --------------------------------------------------------------- */
