/* --------------------------------------------------------------- */
/* > unshow-private-container.css
/*
/* : styles unshow private container
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Unshow Private Container
/* -------------------------------------------------------------- */

#unshow-private-container {

  width: 100%;
  padding: 1.5em .8em;

  background-color: rgb(120, 120, 155);

  /* default unshown, by click will be shown */
  /* display: none; */

}
