/* --------------------------------------------------------------- */
/* > info-boxes-progress-project.css
/*
/* : styles info boxes, link boxes
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Status Items Box
/* --------------------------------------------------------------- */

.progress-project-status-items-box {

  display: grid;
  row-gap: .5em;

  background-color: white;

  border: 1px solid black;


}
