/* --------------------------------------------------------------- */
/* > info-boxes-progress-project.css
/*
/* : styles info boxes, link boxes
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* [1/2] | Info Box
/* --------------------------------------------------------------- */

.category-progress-project-info-box {

  display: grid;
  row-gap: .3em;

   font-weight: bold;


  background-color: white;

}

/* div */
.category-progress-project-info-box > div {

  font-size: 14.5px;
  color:#969696;

}


/* --------------------------------------------------------------- */
/* [1/2] | Status Box
/* --------------------------------------------------------------- */

.category-progress-project-status-box {

  display: grid;
  row-gap: .5em;


  background-color: rgb(237, 237, 237);

  background-color: white;

}

/* --------------------------------------------------------------- */
/* Status Link
/* --------------------------------------------------------------- */

.category-progress-project-status-link {

  line-height: 1.3em;

  display: flex;
  align-items: flex-start;
  column-gap: .4em;

  font-weight: bold;

  color:#969696;

  transition: all .4s;

}

/* div */
.category-progress-project-status-link div {

  font-size: 14.5px;

}

/* visited */
.category-progress-project-status-link:visited {

  color:#969696;

}

/* hover */
.category-progress-project-status-link:hover {

  color:black;

}

/* --------------------------------------------------------------- */
/* Status Info
/* --------------------------------------------------------------- */

.category-progress-project-status-info {

  line-height: 1.3em;

  display: flex;
  align-items: flex-start;
  column-gap: .4em;

  font-weight: bold;

  color:#969696;

}

.category-progress-project-status-info > div {

  font-size: 14.5px;

}

/* --------------------------------------------------------------- */
/* Status Info To Do
/* --------------------------------------------------------------- */

.category-progress-project-status-info-to-do {

  line-height: 1.3em;

  display: flex;
  align-items: flex-start;
  column-gap: .4em;

  font-weight: bold;

  color:#969696;
  opacity: .6;

}

.category-progress-project-status-info-to-do > div {

  font-size: 14.5px;

}
