/* --------------------------------------------------------------- */
/* > lbl-only-icon-on-dark.css
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label Only Icon | Light Brown
/* --------------------------------------------------------------- */

.lbl-only-icon-on-dark {

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;

}

.lbl-only-icon-on-dark:hover {

  background-color: wheat;
  background-color: rgb(215, 195, 157);
  /* background-color: #cbcbcb; */

}

/* --------------------------------------------------------------- */
/* Default Img Show Grey
/* --------------------------------------------------------------- */

.lbl-only-icon-on-dark > img:nth-of-type(1) {

  opacity: .8;

}

/* --------------------------------------------------------------- */
/* Default Img Black Unshown
/* --------------------------------------------------------------- */

.lbl-only-icon-on-dark > img:nth-of-type(2) {

  display: none;

}

/* ------------------------------------------------------------------------- */
/* Extra Hover Handling
/* > show black img by hover, unshown grey img
/* ------------------------------------------------------------------------- */

/* unshow grey img */
.lbl-only-icon-on-dark:hover > img:nth-of-type(1) {

  display: none;

}

/* show black img */
.lbl-only-icon-on-dark:hover > img:nth-of-type(2) {

  display: flex;

}
