/* --------------------------------------------------------------- */
/* > resp-content-containers.css
/*
/* : styles resp content containers to let content
     same content space
/* --------------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* >= 450px
/* ----------------------------------------------------------- */

@media (min-width: 450px) {

  /* Codings Task Category Content */
  #codings-topic-info-container > main {

    display: grid;
    /* mobile */
    row-gap: .6em;

 }

}

/* ----------------------------------------------------------- */
/* >= 500px
/* ----------------------------------------------------------- */

@media (min-width: 500px) {

  /* Codings Task Category Content */
  #codings-topic-info-container > main {

    width: 95%;
    row-gap: .6em;

    /* background-color: red; */

 }

  /* ------------------------------------------------------ */
  /* Codings Masonry Container */
  /* ------------------------------------------------------ */

    /* Reminder: Codings Masonry resp sets is in js defined 3 cols */
    #codings-masonry-position {

      width: 90%;

    }


}

/* ----------------------------------------------------------- */
/* >= 600px
/* ----------------------------------------------------------- */

@media (min-width: 600px) {

  /* Codings Task Category Content */
  #codings-topic-info-container > main {

    width: 85%;
    row-gap: .4em;

 }

}

/* ----------------------------------------------------------- */
/* >= 900px
/* ----------------------------------------------------------- */

@media (min-width: 900px) {

  /* Codings Task Category Content */
  #codings-topic-info-container > main {

    width: 38em;

 }

/* ------------------------------------------------------ */
/* Codings Masonry Container */
/* ------------------------------------------------------ */

  /* Reminder: Codings Masonry resp sets is in js defined 3 cols */
  #codings-masonry-position {

    width: 55em;
    /* background-color: blue; */

  }

}


/* ----------------------------------------------------------- */
/* >= 1200px
/* ----------------------------------------------------------- */

@media (min-width: 1200px) {

  /* ------------------------------------------------------ */
  /* Codings Masonry Container */
  /* ------------------------------------------------------ */

    /* Reminder: Codings Masonry resp sets is in js defined 3 cols */
    #codings-masonry-position {

      width: 65em;
      /* background-color: red; */

    }

}

/* ----------------------------------------------------------- */
/* >= 1400px
/* ----------------------------------------------------------- */

@media (min-width: 1400px) {

  /* ------------------------------------------------------ */
  /* Codings Masonry Container */
  /* ------------------------------------------------------ */

    /* Reminder: Codings Masonry resp sets is in js defined 3 cols */
    #codings-masonry-position {

      width: 75em;
      /* background-color: rgb(71, 152, 79); */

    }

}

/* ----------------------------------------------------------- */
/* >= 1600px
/* ----------------------------------------------------------- */

@media (min-width: 1600px) {

  /* ------------------------------------------------------ */
  /* Codings Masonry Container */
  /* ------------------------------------------------------ */

    /* Reminder: Codings Masonry resp sets is in js defined 3 cols */
    #codings-masonry-position {

      width: 80em;
      /* background-color: rgb(145, 152, 71); */

    }

}
