/* --------------------------------------------------------------- */
/* > lbl-ovalRec-icon-light-brown.css
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label | Icon | Light Brown
/* --------------------------------------------------------------- */

.lbl-ovalRec-icon-light-brown {

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;

}

.lbl-ovalRec-icon-light-brown:hover {

  background-color: rgb(210, 195, 164);
  color:rgb(36, 36, 36);
  /* background-color: #cbcbcb; */

}

/* --------------------------------------------------------------- */
/* Default Img Show Grey
/* --------------------------------------------------------------- */

.lbl-ovalRec-icon-light-brown > img:nth-of-type(1) {

  opacity: .8;

}

/* --------------------------------------------------------------- */
/* Default Img Black Unshown
/* --------------------------------------------------------------- */

.lbl-ovalRec-icon-light-brown > img:nth-of-type(2) {

  display: none;

}

/* ------------------------------------------------------------------------- */
/* Extra Hover Handling
/* > show black img by hover, unshown grey img
/* ------------------------------------------------------------------------- */

/* unshow grey img */
.lbl-ovalRec-icon-light-brown:hover > img:nth-of-type(1) {

  display: none;

}

/* show black img */
.lbl-ovalRec-icon-light-brown:hover > img:nth-of-type(2) {

  display: flex;

}
