/* --------------------------------------------------------------- */
/* > lbl-ovalRec-icon-text-counter-light-brown.css
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label | Icon Text Counter | Light Brown
/* --------------------------------------------------------------- */

.lbl-ovalRec-icon-text-counter-light-brown {

  padding-left: .6em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .1em;

  font-weight: bold;

  border-radius: .8em;

  color: #525252;
  color: #636363;

  /* border: 1px solid rgb(68, 68, 68); */

  /* background-color: red; */

  opacity: 1;

}

/* icons + title box */
.lbl-ovalRec-icon-text-counter-light-brown > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .5em;

}

/* div 1 - title */
.lbl-ovalRec-icon-text-counter-light-brown > div:nth-of-type(1) > div:last-child {

  font-size: 14.5px;
  /* color:red; */

}

/* --------------------------------------------------------------- */
/* Img - Grey
/* --------------------------------------------------------------- */

.lbl-ovalRec-icon-text-counter-light-brown > div:nth-of-type(1) > img:nth-of-type(1) {

  opacity: .6;

}

/* --------------------------------------------------------------- */
/* Default Unshown | Light Brown Img
/* --------------------------------------------------------------- */

.lbl-ovalRec-icon-text-counter-light-brown > div:nth-of-type(1) > img:nth-of-type(2) {

  opacity: .7;

  display: none;

}

/* ------------------------------------------------------------------------- */
/* Extra Hover Handling
/* > show black img by hover, unshown grey img
/* ------------------------------------------------------------------------- */

.lbl-ovalRec-icon-text-counter-light-brown:hover {

  background-color: rgb(210, 195, 164);
  color:rgb(36, 36, 36);

  opacity: 1;

}

/* unshow grey img */
.lbl-ovalRec-icon-text-counter-light-brown:hover > div:nth-of-type(1) > img:nth-of-type(1) {

  display: none;

}

/* show grey img */
.lbl-ovalRec-icon-text-counter-light-brown:hover > div:nth-of-type(1) > img:nth-of-type(2) {

  display: flex;

}

/* -------------------------------------------------------------- */
/* Counter
/* -------------------------------------------------------------- */

.lbl-ovalRec-icon-text-counter-light-brown > div:nth-of-type(2) {

  height: 1.2em;
  padding: 0em .3em;

  border-radius: .3em;

  display: flex;
  align-items: center;
  justify-content: center;

  /* opacity: .8; */

}

.lbl-ovalRec-icon-text-counter-light-brown > div:nth-of-type(2) > div {

  /* layout pos fix */
  padding-top: 1px;

  font-size: 13px;

  color: rgb(152, 152, 152);

  color:rgb(107, 94, 74);

}

/* hover - counter */
.lbl-ovalRec-icon-text-counter-light-brown:hover  > div:nth-of-type(2) > div {

  /* body header company color */
  /* color: rgb(179, 161, 131); */

}
