/* ---------------------------------------------------------------- */
/* > codings-masonry-task-infos.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Codings Masonry Task Infos
/* ---------------------------------------------------------------- */

#codings-masonry-task-infos {

  width: 100%;

  padding: 2.5em .8em;

  border-radius: .4em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .8em;

}

/* ---------------------------------------------------------------- */
/* Icon | Codings Masonry Task Infos
/* ---------------------------------------------------------------- */

#codings-masonry-task-infos > img {

 height: 1.1em;
 opacity: .6;

}

/* ---------------------------------------------------------------- */
/* Text Container  | Codings Masonry Task Infos
/* ---------------------------------------------------------------- */

#codings-masonry-task-infos > div {

  display: grid;
  row-gap: .3em;

}

/* ---------------------------------------------------------------- */
/* Text | Codings Masonry Task Infos
/* ---------------------------------------------------------------- */

#codings-masonry-task-infos > div > div {

  font-size: 14px;
  /* line-height: 1.5em; */

  font-weight: bold;

  color:rgb(150, 150, 150);

}
