/* --------------------------------------------------------------- */
/* > button-sfd.css
/*
/* : styles button sfd
/* --------------------------------------------------------------- */

/* button-fill-sfd | button-border-sfd | ...  */

/* --------------------------------------------------------------- */
/* Button Sfd | Small, Medium, Big
/* --------------------------------------------------------------- */

.button-sfd-small,
.button-sfd-medium,
.button-sfd-big {

  /* delete default browser button styles */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  /* new button style */
  display: flex;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;

  border-radius: .4em;

  border: 1px solid rgb(196, 196, 196);
  color: #6b6b6b;

  text-decoration: none;
  transition: all .4s;

}

/* imgs */
.button-sfd-small > img,
.button-sfd-medium > img,
.button-sfd-big > img {

  opacity: .6;

}

/* hover */
.button-sfd-small:hover,
.button-sfd-medium:hover,
.button-sfd-big:hover {

  background-color: wheat;

}

/* --------------------------------------------------------------- */
/* Small
/* --------------------------------------------------------------- */

.button-sfd-small {

  height: 1.5em;
  padding: 0 .6em;

  border-radius: .4em;

}

.button-sfd-small > div {

  font-size: 14.5px;

}

/* --------------------------------------------------------------- */
/* Medium
/* --------------------------------------------------------------- */

.button-sfd-medium {

  height: 2.1em;
  padding: 0 .6em;

  border-radius: .4em;

}

.button-sfd-medium > div {

  font-size: 14.5px;

}

/* --------------------------------------------------------------- */
/* Big
/* --------------------------------------------------------------- */

.button-sfd-big {

  height: 2.5em;
  padding: 0 .6em;

  border-radius: .4em;

}

.button-sfd-big > div {

  font-size: 14.5px;

}
