/* ---------------------------------------------------------------- */
/* > doc-card-status.css
/* : doc card status info
/* ---------------------------------------------------------------- */

/* ⚠️ - future - sterne  */

/* --------------------------------------------------------------- */
/* Doc Card | In Progress, Later, Future
/* --------------------------------------------------------------- */

.doc-card-status-in-progress,
.doc-card-status-later,
.doc-card-status-future  {

  position: absolute;

  width: 100%;
  height: 100%;

  padding-bottom: 1em;

  display: grid;

  justify-content: center;
  justify-items: center;
  align-content: center;

  row-gap: .4em;

  border-radius: .5em;

  background-color: rgba(128, 128, 128, .6);

}

/* Status Text */
.doc-card-status-in-progress > div,
.doc-card-status-later > div,
.doc-card-status-future > div {

  font-size: 13.5px;

}

/* --------------------------------------------------------------- */
/* Status Box | In Progress | Later
/* --------------------------------------------------------------- */

.doc-card-status-box {

  height: 6em;
  min-width: 7em;

  padding: 1.1em .6em;

  display: grid;

  justify-content: center;
  justify-items: center;
  align-content: center;

  row-gap: .4em;

  font-weight: bold;

  border-radius: .5em;

}

/* --------------------------------------------------------------- */
/* In Progress | Doc Card
/* --------------------------------------------------------------- */

.doc-card-status-in-progress  {


}

/* status box - in progress */
.doc-card-status-in-progress .doc-card-status-box {

  background-color: rgb(253, 212, 109);
  color: rgb(182, 141, 39);

}

/* img */
.doc-card-status-in-progress > .doc-card-status-box > img {

  height: 1.7em;
  opacity: .5;

}

/* --------------------------------------------------------------- */
/* Later | Doc Card
/* --------------------------------------------------------------- */

.doc-card-status-later {


}

/* status box - later */
.doc-card-status-later .doc-card-status-box {

  background-color: rgb(184, 213, 255);
  color: rgb(118, 118, 118);

}

/* img */
.doc-card-status-later > .doc-card-status-box > img {

  height: 1.5em;
  opacity: .4;

}

/* --------------------------------------------------------------- */
/* Future | Doc Card
/* --------------------------------------------------------------- */

.doc-card-status-future  {


}

/* status box - later */
.doc-card-status-future .doc-card-status-box {

  background-color: rgb(150, 150, 150);
  color: rgb(77, 77, 77);

}

/* img */
.doc-card-status-future > .doc-card-status-box > img {

  height: 1.9em;
  opacity: .4;

}
