/* --------------------------------------------------------------- */
/* > status-task-minis.css
/*
/* : styles task minis
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* All | In Progress, Later, Done
/* --------------------------------------------------------------- */

.status-task-mini-in-progress,
.status-task-mini-later,
.status-task-mini-done {

  min-height: 1.8em;
  min-width: 1.8em;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .4em;

}

.status-task-mini-in-progress > img,
.status-task-mini-later > img,
.status-task-mini-done > img {

  opacity: .5;

}

/* --------------------------------------------------------------- */
/* In Progress
/* --------------------------------------------------------------- */

.status-task-mini-in-progress {

  background-color: rgb(251, 217, 132);
  border: 1px solid rgba(220, 174, 55, .3);

}

/* --------------------------------------------------------------- */
/* Later
/* --------------------------------------------------------------- */

.status-task-mini-later {

  background-color: #e3e3e3;
  border: 1px solid rgba(107, 107, 107, 0.3);

}

/* --------------------------------------------------------------- */
/* Done
/* --------------------------------------------------------------- */

.status-task-mini-done {

  background-color: rgb(136, 216, 136);
  border: 1px solid rgba(10, 114, 19, 0.3);

}
