/* --------------------------------------------------------------- */
/* > status-task-verticals.css
/*
/* : styles vertical status styles
/* :
/* --------------------------------------------------------------- */

/*

  status-link-...

  status-vertial-bar
  status-mini
  status-sticker

*/


/* status-vertical-bar-in-progress
   status-vertical-bar-later
   status-vertical-bar-done
*/


/* 🟩 */
/* --------------------------------------------------------------- */
/* All | Status Domino
/* --------------------------------------------------------------- */

.status-domino-in-progress,
.status-domino-later,
.status-domino-done {

  min-width: 2em;
  max-width: 2em;

  display: grid;
  grid: 2.3em 2.5em / 2em;

  border-radius: .6em;

}

/* --------------------------------------------------------------- */
/* Div 1 | Nr Box
/* --------------------------------------------------------------- */

.status-domino-in-progress > div:nth-of-type(1),
.status-domino-later > div:nth-of-type(1),
.status-domino-done > div:nth-of-type(1) {

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .6em .6em 0 0;

  font-weight: bold;

  /* background-color: red; */

}

/* in progress - bottom border - nr  */
.status-domino-in-progress > div:nth-of-type(1) {

  border-bottom: 1px solid rgba(218, 177, 82, .6);

}

/* later - bottom border - nr  */
.status-domino-later > div:nth-of-type(1) {

  border-bottom: 1px solid rgba(142, 142, 142, .6);

}


/* done - bottom border - nr  */
.status-domino-done > div:nth-of-type(1) {

  border-bottom: 1px solid rgba(23, 113, 52, .6);

}


/* nr text */
.status-domino-in-progress > div:nth-of-type(1) > div,
.status-domino-later > div:nth-of-type(1) > div,
.status-domino-done > div:nth-of-type(1) > div {

  font-size: 13.5px;

}

/* in progress - nr */
.status-domino-in-progress > div:nth-of-type(1) > div {

  color:rgb(171, 139, 65);

}

/* later - nr */
.status-domino-later > div:nth-of-type(1) > div {

   color:rgb(104, 104, 104);

}

/* done - nr */
.status-domino-done > div:nth-of-type(1) > div {

  color:green;

}

/* --------------------------------------------------------------- */
/* Div 2 | Img Box
/* --------------------------------------------------------------- */

.status-domino-in-progress > div:nth-of-type(2),
.status-domino-later > div:nth-of-type(2),
.status-domino-done > div:nth-of-type(2) {

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0 0 .6em .6em;

  /* background-color: rgb(147, 147, 147); */

}

/* in progress - img - fire */
.status-domino-in-progress > div:nth-of-type(2) > img {

  height: 1em;
  opacity: .5;

}

/* later - img - stop hand */
.status-domino-later > div:nth-of-type(2) > img {

  margin-right: 3px;
  height: .9em;
  opacity: .5;

}

/* done - img - arrow done */
.status-domino-done > div:nth-of-type(2) > img {

  height: .78em;
  opacity: .4;

}

/* --------------------------------------------------------------- */
/* In Progress - Status Domino
/* --------------------------------------------------------------- */

.status-domino-in-progress {

  background-color: rgb(251, 217, 132);

  background-color: rgb(255, 228, 161);
  border: 1px solid rgba(220, 174, 55, .3);

}

/* --------------------------------------------------------------- */
/* Later - Status Domino
/* --------------------------------------------------------------- */

.status-domino-later {

  background-color: #e3e3e3;
  background-color: #c7c7c7;
  border: 1px solid rgba(107, 107, 107, 0.2);

}

/* --------------------------------------------------------------- */
/* Done - Status Domino
/* --------------------------------------------------------------- */

.status-domino-done {

  background-color: rgb(136, 216, 136);
  border: 1px solid rgba(10, 114, 19, 0.1);

}
