/* --------------------------------------------------------------- */
/* > status-task-verticals.css
/*
/* : styles vertical status styles
/* :
/* --------------------------------------------------------------- */

/*

  status-link-...

  status-vertial-bar
  status-mini
  status-sticker

*/


/* status-vertical-bar-in-progress
   status-vertical-bar-later
   status-vertical-bar-done
*/


/* ❌ */
/* --------------------------------------------------------------- */
/* All | Status Task Verticals
/* --------------------------------------------------------------- */

.status-task-vertical-in-progress,
.status-task-vertical-later,
.status-task-vertical-done {

  min-width: 1.9em;
  max-width: 1.9em;

  padding: .6em 0em;

  height: 100%;

  display: grid;
  grid: auto 1fr / 1fr;

  align-items: start;
  justify-items: center;

  row-gap: .3em;

  border-radius: .5em;

  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */

  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */

}

/* div 1 nr */
.status-task-vertical-in-progress > div:nth-of-type(1),
.status-task-vertical-later > div:nth-of-type(1),
.status-task-vertical-done > div:nth-of-type(1) {

  height: 1.1em;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: blue; */

}

/* span nr */
.status-task-vertical-in-progress > div:nth-of-type(1) > span,
.status-task-vertical-later > div:nth-of-type(1) > span,
.status-task-vertical-done > div:nth-of-type(1) > span {

  font-size: 12.5px;

  font-weight: bold;

}

/* div 2 - icon */
.status-task-vertical-in-progress > div:nth-of-type(2),
.status-task-vertical-later > div:nth-of-type(2),
.status-task-vertical-done > div:nth-of-type(2) {

  /* height: 1em; */

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: blue; */

}

/* icon - img */
.status-task-vertical-in-progress > div:nth-of-type(2) img,
.status-task-vertical-later  > div:nth-of-type(2) img,
.status-task-vertical-done > div:nth-of-type(2) img {

  opacity: .5;

}

/* --------------------------------------------------------------- */
/* In Progress | Status Task Verticals
/* --------------------------------------------------------------- */

.status-task-vertical-in-progress {

  background-color: rgb(251, 217, 132);
  border: 1px solid rgba(220, 174, 55, .3);

}

/* nr */
.status-task-vertical-in-progress > div:nth-of-type(1) {

  color:#886e18;

}


/* --------------------------------------------------------------- */
/* Later | Status Task Verticals
/* --------------------------------------------------------------- */

.status-task-vertical-later {

  background-color: #e3e3e3;
  border: 1px solid rgba(107, 107, 107, 0.2);


}

/* nr */
.status-task-vertical-later > div:nth-of-type(1){

  color:rgb(145, 139, 139);


}

/* --------------------------------------------------------------- */
/* Done | Status Progress Verticals
/* --------------------------------------------------------------- */

.status-task-vertical-done {

  background-color: rgb(136, 216, 136);
  border: 1px solid rgba(10, 114, 19, 0.1);

}

/* nr */
.status-task-vertical-done > div:nth-of-type(1) {

  color:rgb(1, 96, 1);

}
