/* ---------------------------------------------------------------- */
/* > codings-task-card-mains.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Codings Task Card Main
/* ---------------------------------------------------------------- */

.codings-task-card-main {

  padding-top: 2.3em;

  padding-top: 1.3em;

  width: 100%;
  display: grid;


}
