/* ---------------------------------------------------------------- */
/* > codings-task-card-main-content.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Content
/* ---------------------------------------------------------------- */

.codings-task-card-content {

  /* margin: .3em 0; */
  padding: .5em 0em .3em 0em;

  width: 100%;
  display: grid;
  row-gap: .3em;


}

/* Content - In Progress */
.codings-task-card-in-progress .codings-task-card-content  {

  border-top: 1px solid rgba(155, 155, 155, 0.4);
  /* border-bottom: 1px solid rgba(155, 155, 155, 0.4); */

}

/* Content - Later */
.codings-task-card-later .codings-task-card-content  {

  border-top: 1px solid rgba(155, 155, 155, 0.4);
  /* border-bottom: 1px solid rgba(155, 155, 155, 0.4); */

}

/* Content - Done */
.codings-task-card-done .codings-task-card-content  {

  border-top: 1px solid rgba(155, 155, 155, 0.4);
  /* border-bottom: 1px solid rgba(155, 155, 155, 0.4); */

}

/*-------------------------------------------------------------- */
/* Title
/* ---------------------------------------------------------------- */

.codings-task-card-title {

  padding: 0 .3em;

  font-size: 14px;
  line-height: 1.7em;

  /* font-weight: bold; */
  /* font-style: italic; */

  /* font-weight: bold; */

}

/* header title - in progress */
.codings-task-card-in-progress .codings-task-card-title {

  color:rgb(182, 149, 64);

  color: rgba(156, 156, 156, .8);

  /* color: rgba(171, 129, 24, 0.6); */


}

/* header title - later */
.codings-task-card-later .codings-task-card-title {

  color: rgb(156, 156, 156);

  color: rgba(156, 156, 156, .8);


}

/* header title - done */
.codings-task-card-done .codings-task-card-title {

  /* color:rgba(59, 114, 43, 0.6); */

  /* color: rgb(156, 156, 156);


   */

   color: rgba(156, 156, 156, .8);

}

/* ---------------------------------------------------------------- */
/* Hashtag List | Codings Task Card Main
/* ---------------------------------------------------------------- */

.codings-task-card-hashtag-list {

  padding: .3em 0 .5em 0;

  display: flex;
  flex-wrap: wrap;

  column-gap: .3em;
  row-gap: .3em;

}

/* Divs | Items */
.codings-task-card-hashtag-list > div {

  font-size: 12.5px;

  /* height: 1.8em; */
  padding: .1em .4em .2em .4em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .6em;

  opacity: .9;

}

/* HashTag - In Progress */
.codings-task-card-in-progress .codings-task-card-hashtag-list > div  {

  /* border: 1px dashed rgb(189, 171, 120);
  color:rgba(174, 154, 101, .8); */

  border: 1px dashed rgba(200, 200, 200, 1);
  color: rgba(145, 145, 145, 0.8);

}

/* HashTag - Later */
.codings-task-card-later .codings-task-card-hashtag-list > div  {

  border: 1px dashed rgb(163, 163, 163);
  color:rgb(164, 164, 164);

   border: 1px dashed rgba(200, 200, 200, 1);
  color: rgba(145, 145, 145, 0.8);

}

/* HashTag - Done */
.codings-task-card-done .codings-task-card-hashtag-list > div  {

  border: 1px dashed rgb(84, 176, 61);
  color:rgb(113, 173, 97);

  border: 1px dashed rgba(200, 200, 200, 1);
  color: rgba(145, 145, 145, 0.8);


}
