/* ---------------------------------------------------------------- */
/* > codings-task-card-main-context.css
/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* X-Header
/* ---------------------------------------------------------------- */

.x-header {

  display: grid;
  row-gap: .3em;

}

.real-context {


  justify-self: flex-start;

  /* height: 1.4em; */
  padding: .0em 0em;
  padding-left: .4em;

  display: inline-flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .4em;

  /* opacity: .8; */

  /* background-color: rgb(239, 237, 237); */

  /* border: 1px solid rgb(210, 210, 210);; */

}

.real-context > img {

  opacity: .4;


}

.text-context {

  font-size: 12px;
  color:rgb(150, 150, 150);

  color: #8e8e8e;

  font-weight: bold;

}

/* ---------------------------------------------------------------- */
/* Context List Container
/* ---------------------------------------------------------------- */

.codings-task-card-context-list-container {

  padding-bottom: .6em;

  display: flex;
  justify-content: space-between;

  column-gap: 1em;

  /* background-color: red; */

}

/* ---------------------------------------------------------------- */
/* Category List
/* ---------------------------------------------------------------- */

.codings-task-card-category-list {

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  column-gap: 0em;
  row-gap: .3em;

  font-weight: bold;

  line-height: 1em;

  /* background-color: rgb(192, 192, 192); */

}

/* Div */
.codings-task-card-category-list > div  {

  font-size: 13px;

  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;

}


/* Img | Bullet Points */
.codings-task-card-category-list > img {

  /* layout pos fix */
  margin-top: 1px;

  height: .26em;
  opacity: .4;

}


/* Category List - In Progress */
.codings-task-card-in-progress .codings-task-card-category-list {

  color:rgb(192, 145, 27);

  color: rgba(171, 129, 24, 0.6);

  /* color: #9a9a9a; */


}

/* Category List - Later */
.codings-task-card-later .codings-task-card-category-list  {

  color: rgb(156, 156, 156);

  color: rgb(156, 156, 156);

  color: rgba(154, 154, 154, .9);

}

/* Category List - Done */
.codings-task-card-done .codings-task-card-category-list {

  color:rgba(86, 151, 86, .8);

  /* color: #9a9a9a; */



  /* color: rgb(156, 156, 156); */


}

/* ------------------------------------------------------------ */
/* Time Box
/* ------------------------------------------------------------ */

.codings-task-card-time-box {

  /* padding-top: .7em; */

  min-width: 3.3em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  /* opacity: .6; */

}

/* Time Text */
.codings-task-card-time-box > div {

  font-size: 12.5px;

}

/* Time Box - In Progress */
.codings-task-card-in-progress .codings-task-card-time-box {

  color:rgb(192, 145, 27);

  color: #9c9c9c;

  color: #6c6c6c;

   color: #9a9a9a;


}

/* Time Box - Later */
.codings-task-card-later .codings-task-card-time-box  {

  color: rgb(156, 156, 156);

  color: #6c6c6c;

  color: #9a9a9a;

}

/* Time Box - Done */
.codings-task-card-done .codings-task-card-time-box {

  color: rgb(75, 160, 72);

  color: rgb(156, 156, 156);

  color: #6c6c6c;

  color: #9a9a9a;


}
