/* ---------------------------------------------------------------- */
/* > codings-task-card-main-content.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Content
/* ---------------------------------------------------------------- */

.codings-task-card-content {

  /* margin: .3em 0; */
  padding: .5em 0em 1em 0em;

  width: 100%;
  display: grid;
  row-gap: .3em;

}

/* Content - In Progress */
.codings-task-card-in-progress .codings-task-card-content  {

  border-top: 1px solid rgba(168, 140, 62, .4);

  border-bottom: 1px solid rgba(168, 140, 62, .4);

  border-top: 1px solid rgba(155, 155, 155, 0.4);
  border-bottom: 1px solid rgba(155, 155, 155, 0.4);



}

/* Content - Later */
.codings-task-card-later .codings-task-card-content  {

  border-top: 1px solid rgba(114, 114, 114, 0.4);

  border-bottom: 1px solid rgba(114, 114, 114, 0.4);

  border-top: 1px solid rgba(155, 155, 155, 0.4);
  border-bottom: 1px solid rgba(155, 155, 155, 0.4);

}

/* Content - Done */
.codings-task-card-done .codings-task-card-content  {

  border-top: 1px solid rgba(21, 133, 1, 0.4);

  border-bottom: 1px solid rgba(21, 133, 1, 0.4);


  border-top: 1px solid rgba(155, 155, 155, 0.4);
  border-bottom: 1px solid rgba(155, 155, 155, 0.4);

}

/*-------------------------------------------------------------- */
/* Title
/* ---------------------------------------------------------------- */

.codings-task-card-title {

  padding: 0 .2em;

  font-size: 14.5px;
  line-height: 1.7em;

  /* font-weight: bold; */
  /* font-style: italic; */

  /* font-weight: bold; */

}

/* header title - in progress */
.codings-task-card-in-progress .codings-task-card-title {

  color:rgb(151, 117, 33);

  color:rgb(176, 134, 27);

  color:grey;

}

/* header title - later */
.codings-task-card-later .codings-task-card-title {

  color: rgb(146, 146, 146);

  color:grey;

}

/* header title - done */
.codings-task-card-done .codings-task-card-title {

  color: rgb(60, 142, 58);

  color:grey;

}

/* ---------------------------------------------------------------- */
/* Hashtag List | Codings Task Card Main
/* ---------------------------------------------------------------- */

.codings-task-card-hashtag-list {

  padding-top: .2em;

  display: flex;
  flex-wrap: wrap;

  column-gap: .2em;
  row-gap: .2em;

}

/* Divs | Items */
.codings-task-card-hashtag-list > div {

  font-size: 12.5px;

  height: 1.8em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .6em;

  opacity: .6;

}

/* HashTag - In Progress */
.codings-task-card-in-progress .codings-task-card-hashtag-list > div  {

  border: 1px dashed rgb(143, 119, 53);
  color: rgb(114, 85, 11);

  border: 1px dashed rgb(173, 173, 173);
  color:rgb(97, 97, 97);

}

/* HashTag - Later */
.codings-task-card-later .codings-task-card-hashtag-list > div  {

  border: 1px dashed rgb(173, 173, 173);
  color:rgb(97, 97, 97);

}

/* HashTag - Done */
.codings-task-card-done .codings-task-card-hashtag-list > div  {

  border: 1px dashed rgb(27, 125, 3);
  color:rgb(27, 125, 3);

  border: 1px dashed rgb(173, 173, 173);
  color:rgb(97, 97, 97);
}
