/* --------------------------------------------------------------- */
/* > quick-info-about-me.css
/*
/* : styles quick info about me
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Quick Info Text Container | About Me
/* --------------------------------------------------------------- */

#quick-info-text-about-container {

  grid-area: quick-info-about;

  /* padding-left: 1em; */
  /* background-color: rgb(99, 99, 99); */

  display: grid;

  /* mobile */
  justify-items: center;
  row-gap: 1.3em;

}

/* --------------------------------------------------------------- */
/* Header | Quick Info Text Container
/* --------------------------------------------------------------- */

#quick-info-text-about-container > header {

  height: 2em;
  padding: 0 .7em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .6em;


  /* background-color: #aeb7bf; */

  background-color: rgb(55, 55, 55);
  color:rgb(157, 157, 157);

  background-color: rgb(181, 181, 181);
  color:rgb(55, 55, 55);

  background-color: transparent;
  background-color: rgb(48, 48, 48);

  border: 2px solid rgb(44, 44, 44);
  color:rgb(170, 170, 170);


  background-color: rgb(33, 33, 33);
  color: rgb(201, 200, 200);
  border: 1px solid rgb(63, 63, 63);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  opacity: 1;

}

/* img */
#quick-info-text-about-container > header > img:nth-of-type(1) {

  opacity: .6;
}

/* div 1 */
#quick-info-text-about-container > header > div:nth-of-type(1) {

  font-size: 14.5px;
  font-weight: bold;

}

/* --------------------------------------------------------------- */
/* Main | Quick Info Text Container
/* --------------------------------------------------------------- */

#quick-info-text-about-container > main {

  /* mobile */
  text-align: center;

  width: 90%;

  color: rgb(131, 131, 131);

  /* background-color: red; */

}

/* --------------------------------------------------------------- */
/* Footer | Quick Info Text Container
/* --------------------------------------------------------------- */

#quick-info-text-about-container > footer {

  width: 100%;
  padding-top: 1.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: rgb(211, 211, 211); */
  color:white;
  font-weight: bold;

}

/* default unshown img black arrow */
#quick-info-text-about-container > footer img:nth-of-type(2) {

  display: none;

}

/* hover, unshown img grey */
#quick-info-text-about-container > footer > label:hover > img:nth-of-type(1) {

  display: none;
}

/* hover, show img black */
#quick-info-text-about-container > footer > label:hover > img:nth-of-type(2) {

  display: flex;
}
