/* ---------------------------------------------------------------- */
/* > codings-task-header-nav.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Codings Task Header Nav
/* ---------------------------------------------------------------- */


#codings-task-header-nav {

  display: flex;
  flex-wrap: wrap;

  column-gap: .3em;
  row-gap: .4em;

}

/* -------------------------------------------------------------- */
/* All | Codings Task Nav Items
/* -------------------------------------------------------------- */

.codings-task-header-nav-item-in-progress,
.codings-task-header-nav-item-later,
.codings-task-header-nav-item-done {

  height: 2.1em;

  display: flex;
  align-items: center;

  border-radius: .4em;

  border: 1px solid rgb(205, 205, 205);

  color:grey;

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

/* -------------------------------------------------------------- */
/* Hover | Codings Task Nav Items
/* -------------------------------------------------------------- */

/* hover - default */
.codings-task-header-nav-item-in-progress:hover,
.codings-task-header-nav-item-later:hover,
.codings-task-header-nav-item-done:hover {

  background-color: rgb(204, 204, 204);
  color:rgb(88, 88, 88);

}

/* hover - border left - counters */
.codings-task-header-nav-item-in-progress:hover .codings-task-header-nav-item-counter-box,
.codings-task-header-nav-item-later:hover .codings-task-header-nav-item-counter-box,
.codings-task-header-nav-item-done:hover .codings-task-header-nav-item-counter-box {

  border-left: 1px solid rgb(183, 183, 183);

}

/* -------------------------------------------------------------- */
/* Status | Codings Task Nav Items
/* -------------------------------------------------------------- */

/* Div 1 */
.codings-task-header-nav-item-in-progress > div:nth-of-type(1),
.codings-task-header-nav-item-later > div:nth-of-type(1),
.codings-task-header-nav-item-done > div:nth-of-type(1) {

  height: 100%;
  padding: 0 .5em 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .3em 0 0 .3em;

}

/* imgs */
.codings-task-header-nav-item-in-progress > div:nth-of-type(1) > img,
.codings-task-header-nav-item-later > div:nth-of-type(1) > img,
.codings-task-header-nav-item-done > div:nth-of-type(1) > img {

  opacity: .6;

}

/* Div 1 - In Progress */
.codings-task-header-nav-item-in-progress > div:nth-of-type(1) {

  background-color: rgb(251, 217, 132);

}

/* Div 2 - Later */
.codings-task-header-nav-item-later > div:nth-of-type(1) {

  background-color: #e3e3e3;

}

/* Div 3 - Done */
.codings-task-header-nav-item-done > div:nth-of-type(1) {

  background-color: rgb(136, 216, 136);

}

/* -------------------------------------------------------------- */
/* Text + Counters | Codings Task Nav Items
/* -------------------------------------------------------------- */


/* Div 2 */
.codings-task-header-nav-item-in-progress > div:nth-of-type(2),
.codings-task-header-nav-item-later > div:nth-of-type(2),
.codings-task-header-nav-item-done > div:nth-of-type(2) {

  height: 100%;

  display: flex;
  align-items: center;

}

/* Div 2 | Div 1 - Text */
.codings-task-header-nav-item-in-progress > div:nth-of-type(2) > div:nth-of-type(1),
.codings-task-header-nav-item-later > div:nth-of-type(2) > div:nth-of-type(1),
.codings-task-header-nav-item-done > div:nth-of-type(2) > div:nth-of-type(1) {

  padding: 0 .6em;

  font-size: 13.5px;
  font-weight: bold;

  /* background-color: red; */

}

/* -------------------------------------------------------------- */
/*  Counters | Codings Task Nav Items
/* -------------------------------------------------------------- */

.codings-task-header-nav-item-counter-box {

  height: 100%;
  padding: 0 .5em 0 .4em;

  display: flex;
  align-items: center;

  font-weight: bold;

  border-radius: 0 .6em .6em 0;

  border-left: 1px solid rgb(205, 205, 205);
  /* background-color: grey; */

}

.codings-task-header-nav-item-counter-box > div {

  font-size: 12px;

}

/* -------------------------------------------------------------- */
/* Codings Task Nav Item Unshown
/* -------------------------------------------------------------- */

.codings-task-header-nav-item-unshown {

  height: 2.1em;
  width: 2.3em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;

  /* background-color: rgb(251, 217, 132); */

  border: 1px solid rgb(205, 205, 205);

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

/* hover */
.codings-task-header-nav-item-unshown:hover {

  background-color: rgb(204, 204, 204);
  color:rgb(152, 152, 152);

}

/* default 2nd Img Black Unshown */
.codings-task-header-nav-item-unshown > img:nth-of-type(1) {

 opacity: .8;

}
