/* --------------------------------------------------------------- */
/* > codings-task-header-nav.css
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Default Codings Task Header Nav Radios Unshown
/* --------------------------------------------------------------- */

input[name="name-radio-codings-task-header-nav"] {

  display: none;

}

/* --------------------------------------------------------------- */
/* Codings Task Header Nav
/* --------------------------------------------------------------- */

#codings-task-header-nav {

  display: flex;
  flex-wrap: wrap;
  column-gap: .4em;
  row-gap: .6em;

}
