
/* --------------------------------------------------------------- */
/* > lbl-clap-icon-text-on-dark.css
/*
/* : styles lbl clap icon text on dark
/* --------------------------------------------------------------- */



/* --------------------------------------------------------------- */
/* Label Clap | Light Grey
/* --------------------------------------------------------------- */

.lbl-clap-icon-text-on-dark {

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .6em;

  font-weight: bold;

  border: 2px solid rgb(47, 47, 47);

  border-radius: .8em;

  color:rgb(103, 103, 103);


  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

/* icons + title box */
.lbl-clap-icon-text-on-dark > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

/* img - compass - light brown */
.lbl-clap-icon-text-on-dark > div:nth-of-type(1) > img:nth-of-type(1){

  height: 1em;
  opacity: .4;


}

/* img - compass - black */
.lbl-clap-icon-text-on-dark > div:nth-of-type(1) > img:nth-of-type(2)  {

  height: 1em;

  /* default unshown */
  display: none;

}

/* title */
.lbl-clap-icon-text-on-dark > div:nth-of-type(1) > div {

  font-size: 14.5px;

}

/* ------------------------------------------------------------------------- */
/* Extra Hover Handling
/* > show / unshown black/grey img arrow
/* ------------------------------------------------------------------------- */

.lbl-clap-icon-text-on-dark:hover {

  background-color: wheat;
  color:black;

}


/* ------------------------------------------------------------------------- */
/* Extra Hover Handling
/* > show / unshown black/white img wave
/* ------------------------------------------------------------------------- */

/* unshown - white img - wave */
.lbl-clap-icon-text-on-dark:hover > div:nth-of-type(1) > img:nth-of-type(1) {

  display: none;

}

/* show - black img - wave */
.lbl-clap-icon-text-on-dark:hover > div:nth-of-type(1)  > img:nth-of-type(2) {

  display: flex;

}
