/* --------------------------------------------------------------- */
/* > info-boxes-progress-project.css
/*
/* : styles link, status boxes
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Link Box Progress Project
/* --------------------------------------------------------------- */

.link-box-progress-project {

  display: grid;
  row-gap: .4em;

}

/* --------------------------------------------------------------- */
/* Link | Link Box Progress Project
/* --------------------------------------------------------------- */

.link-box-progress-project > a {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: .4em;
  row-gap: .4em;

  font-weight: bold;

  color:#969696;

  /* opacity: .8; */

}

/* hover */
.link-box-progress-project > a:hover {

  color:black;
  opacity: 1;

}

/* visited */
.link-box-progress-project > a:visited {

  /* color:#969696; */

}

/* text */
.link-box-progress-project > a > div {

  font-size: 14.5px;
}

/* --------------------------------------------------------------- */
/* Status Box Progress Project
/* --------------------------------------------------------------- */

.status-box-progress-project {

  display: grid;
  row-gap: .4em;

}

/* --------------------------------------------------------------- */
/* Status Mini Stickers
/* --------------------------------------------------------------- */

.status-mini-sticker-now,
.status-mini-sticker-coming-soon,
.status-mini-sticker-finished {

  padding: 0em .4em;

  justify-self: flex-start;

  display: flex;
  align-items: center;

  font-weight: bold;

  border-radius: .4em;

}

/* text */
.status-mini-sticker-now > div,
.status-mini-sticker-coming-soon > div,
.status-mini-sticker-finished > div {

  font-size: 13.5px;

}

/* --------------------------------------------------------------- */
/* Now | Status Mini Stickers
/* --------------------------------------------------------------- */

.status-mini-sticker-now {

  background-color: rgb(255, 192, 192);
  color: rgb(169, 31, 31);

}

/* --------------------------------------------------------------- */
/* Coming Soon | Status Mini Stickers
/* --------------------------------------------------------------- */

.status-mini-sticker-coming-soon {

  background-color: #dcdcdc;
  color: #808080;

}

/* --------------------------------------------------------------- */
/* Finished | Status Mini Stickers
/* --------------------------------------------------------------- */

.status-mini-sticker-finished {

  background-color: rgb(139, 250, 139);
  color: rgb(5, 103, 15);

}




/* --------------------------------------------------------------- */
/* Main | Status Box Progress Project
/* --------------------------------------------------------------- */

.status-box-progress-project > main {

  padding: 0 .4em;

  display: grid;
  row-gap: .2em;

}

/* --------------------------------------------------------------- */
/* To Do Items
/* --------------------------------------------------------------- */

.status-box-progress-project-to-do-item  {

  display: flex;
  align-items: flex-start;

  column-gap: .4em;
  row-gap: .4em;

  font-weight: bold;
  color: #969696;

}

.status-box-progress-project-to-do-item > .status-progress-item-to-do {

  /* layout fix */
  margin-top: .45em;

}

.status-box-progress-project-to-do-item > img:nth-of-type(1) {

  /* layout fix */
  margin-top: .45em;

}

.status-box-progress-project-to-do-item > div:nth-of-type(2) {

  /* layout pos fix */
  margin-top: .38em;

  line-height: 1.5em;

  font-size: 14.5px;

}

/* --------------------------------------------------------------- */
/* Link Finished Items
/* --------------------------------------------------------------- */

.status-box-progress-project-finished-item  {

  display: flex;
  align-items: flex-start;

  column-gap: .4em;
  row-gap: .4em;

  font-weight: bold;
  color: #969696;

}

.status-box-progress-project-finished-item > .status-progress-item-finished {

  /* layout fix */
  margin-top: .45em;

}

.status-box-progress-project-finished-item > div:nth-of-type(2) {

  /* layout pos fix */
  margin-top: .35em;

  line-height: 1.5em;

  font-size: 14.5px;

}
