/* --------------------------------------------------------------- */
/* > status-progress-project-info.css
/*
/* : styles info, link, build status
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Info | Progress Project Status
/* --------------------------------------------------------------- */

.progress-project-status-info {

  background-color: rgb(218, 218, 218);
  color:rgb(49, 49, 49);

}

/* --------------------------------------------------------------- */
/* In Progress | Progress Project Status
/* --------------------------------------------------------------- */

.progress-project-status-in-progress {

  background-color: rgb(255, 192, 192);
  color: rgb(169, 31, 31);

}

/* --------------------------------------------------------------- */
/* Finished | Progress Project Status
/* --------------------------------------------------------------- */

.progress-project-status-finished {

  background-color: rgb(139, 250, 139);
  color: rgb(5, 103, 15);

}


/* --------------------------------------------------------------- */
/* Status Progress Items | now | to do | finished
/* --------------------------------------------------------------- */

.status-progress-item-now,
.status-progress-item-to-do,
.status-progress-item-finished {

  min-height: 1.1em;
  min-width: 1.1em;

  border-radius: .3em;

}

/* --------------------------------------------------------------- */
/* Now | Status Progress Items
/* --------------------------------------------------------------- */

.status-progress-item-now {

  background-color: rgb(241, 192, 30);

}

.img-status-progress-item-now {

  height: .9em;

  animation: anim-img-status-progress-item-now 1s ease infinite;

}

@keyframes anim-img-status-progress-item-now {

  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(0deg);
  }

}

/* --------------------------------------------------------------- */
/* To Do | Status Progress Items
/* --------------------------------------------------------------- */

.status-progress-item-to-do {

  background-color: rgb(235, 68, 68);

  background-color: rgb(219, 59, 59);

}


/* --------------------------------------------------------------- */
/* Finished | Status Progress Items
/* --------------------------------------------------------------- */

.status-progress-item-finished {

  background-color: rgb(83, 184, 83);

}
