/* --------------------------------------------------------------- */
/* > lbl-icon-text-light-grey.css
/* : styles label icon text light
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label Icon + Text | Light Grey
/* --------------------------------------------------------------- */

.lbl-icon-text-light-grey {

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */

  /* background-color: rgb(44, 44, 44); */

  /* border: 1px solid rgb(186, 186, 186); */

  color:#808080;

  color: #c0c0c0;


}

/* div 1 */
.lbl-icon-text-light-grey > div:last-child  {

  font-size: 14.5px;

}

/* --------------------------------------------------------------- */
/* Default Unshown | Black Img
/* --------------------------------------------------------------- */

.lbl-icon-text-light-grey > img:nth-of-type(2) {

  display: none;

}

/* --------------------------------------------------------------- */
/* Hover Handlings
/* > show black img by hover, unshown grey img
/* --------------------------------------------------------------- */

.lbl-icon-text-light-grey:hover {

  background-color: wheat;

  /* background-color: #cbcbcb; */
  color:black;

}

/* unshow grey img */
.lbl-icon-text-light-grey:hover > img:nth-of-type(1) {

  display: none;

}

/* show black img */
.lbl-icon-text-light-grey:hover > img:nth-of-type(2) {

  display: flex;

}
