/* --------------------------------------------------------------- */
/* > fixed-header-body.css
/*
/* : styles fixed header of body
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Fixed Header Body
/* --------------------------------------------------------------- */

#fixed-header-body {

  z-index: 99;

  height: 4em;
  width: 100%;

  display: grid;
  justify-items: center;


  position: fixed;
  left:0;
  right:0;

  background-color: rgb(28, 28, 28);

  border-bottom: 1px solid rgb(47, 47, 47);


}

/* ----------------------------------------------------------------------- */
/* [1/1] | Resp Content Container Medium | Overwrite | Fixed Header Body
/* ----------------------------------------------------------------------- */

#fixed-header-body > .resp-content-container-medium {

  background-color: rgb(28, 28, 28);

}

/* --------------------------------------------------------------- */
/* Fixed Header Content Body
/* --------------------------------------------------------------- */

#fixed-header-content-body {

  width: 100%;
  height: 100%;

  /* mobile */
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(28, 28, 28);
  color:white;

  border-left: 1px solid grey;
  border-right: 1px solid grey;



}
