/* --------------------------------------------------------------- */
/* > resp-fixed-header-body.css
/*
/* : styles responsive breakboints for fixed header
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* >= 400px
/* --------------------------------------------------------------- */

@media (min-width: 400px) {

  /* --------------------------------------------------------------- */
  /* Company | Img
  /* --------------------------------------------------------------- */
  #img-company-header-body  {

    display: flex;

  }

}

/* --------------------------------------------------------------- */
/* >= 600px
/* --------------------------------------------------------------- */

@media (min-width: 600px) {

  /* --------------------------------------------------------------- */
  /* Company | Img
  /* --------------------------------------------------------------- */
  #img-company-header-body  {

    display: none;

  }

  /* --------------------------------------------------------------- */
  /* Company | Title
  /* --------------------------------------------------------------- */
  #info-company-title  {

    display: flex;

  }

}
