/* --------------------------------------------------------------- */
/* > resp-fixed-header-body.css
/*
/* : styles responsive breakboints for fixed header
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* >= 390px
/* --------------------------------------------------------------- */

@media (min-width: 390px) {


  /* --------------------------------------------------------------- */
  /* Label Header Body | Img
  /* --------------------------------------------------------------- */
  .lbl-header-body > img {

    display: flex;

  }

  /* --------------------------------------------------------------- */
  /* Add Hover Handling | img grey black
  /* --------------------------------------------------------------- */

  #radio-about:hover ~ #fixed-header-body label[for="radio-about"],
  #radio-more-it:hover ~ #fixed-header-body label[for="radio-more-it"],
  #radio-private:hover ~ #fixed-header-body label[for="radio-private"] {

    opacity: 1;

    background-color: wheat;
    color:black;

  }

  /* unshown grey img */
  #radio-about:hover ~ #fixed-header-body label[for="radio-about"] > img:nth-of-type(1),
  #radio-more-it:hover ~ #fixed-header-body label[for="radio-more-it"] > img:nth-of-type(1),
  #radio-private:hover ~ #fixed-header-body label[for="radio-private"] > img:nth-of-type(1) {

    display: none;

  }

  /* shown black img */
  #radio-about:hover ~ #fixed-header-body label[for="radio-about"] > img:nth-of-type(2),
  #radio-more-it:hover ~ #fixed-header-body label[for="radio-more-it"] > img:nth-of-type(2),
  #radio-private:hover ~ #fixed-header-body label[for="radio-private"] > img:nth-of-type(2) {

    display: flex;

  }

  /* --------------------------------------------------------------- */
  /* Add Img Handling | img grey black
  /* --------------------------------------------------------------- */

  /* unshown grey img */
  #radio-about:checked ~ #fixed-header-body label[for="radio-about"] > img:nth-of-type(1),
  #radio-more-it:checked ~ #fixed-header-body label[for="radio-more-it"] > img:nth-of-type(1),
  #radio-private:checked ~ #fixed-header-body label[for="radio-private"] > img:nth-of-type(1) {

    display: none;

  }

  /* shown black img */
  #radio-about:checked ~ #fixed-header-body label[for="radio-about"] > img:nth-of-type(2),
  #radio-more-it:checked ~ #fixed-header-body label[for="radio-more-it"] > img:nth-of-type(2),
  #radio-private:checked ~ #fixed-header-body label[for="radio-private"] > img:nth-of-type(2) {

    display: flex;

  }




}

/* --------------------------------------------------------------- */
/* >= 500px
/* --------------------------------------------------------------- */

@media (min-width: 500px) {

  /* --------------------------------------------------------------- */
  /* Fixed Header Content Body
  /* --------------------------------------------------------------- */
  #fixed-header-content-body {

    justify-content: space-between;

  }

  /* --------------------------------------------------------------- */
  /* Img Company Container
  /* --------------------------------------------------------------- */
  #img-company-container-header-body {

    display: flex;

  }

}

/* --------------------------------------------------------------- */
/* >= 600px
/* --------------------------------------------------------------- */

@media (min-width: 600px) {


}

/* --------------------------------------------------------------- */
/* >= 700px
/* --------------------------------------------------------------- */

@media (min-width: 700px) {

  /* --------------------------------------------------------------- */
  /* Company | Img
  /* --------------------------------------------------------------- */
  #img-company-container-header-body  {

    display: none;

  }

  /* --------------------------------------------------------------- */
  /* Company | Title
  /* --------------------------------------------------------------- */
  #info-company-title  {

    display: flex;

  }


}
