/* --------------------------------------------------------------- */
/* > codings-category-tasks-nav-handlings.css
/* : styles codings category tasks nav handlings
/* --------------------------------------------------------------- */


/* default checkboxes unshown */
input[name="name-chk-codings-category-header"] {

  display: none;

}

/* ---------------------------------------------------- */
/* Imgs - Show / Unshown
/* ---------------------------------------------------- */

/* unshown - img plus */
input[name="name-chk-codings-category-header"]:checked + label > nav > img:nth-of-type(1) {

  display: none;

}

/* show - img minus */
input[name="name-chk-codings-category-header"]:checked + label > nav > img:nth-of-type(2) {

  display: flex;

}

/* ---------------------------------------------------- */
/* Sytlings
/* ---------------------------------------------------- */

input[name="name-chk-codings-category-header"]:checked + label {

  /* background-color: rgb(43, 43, 43); */

   background-color: rgb(232, 232, 232);

  /* background-color: rgb(43, 43, 43); */

}

input[name="name-chk-codings-category-header"]:checked + label > nav  {

  /* background-color: rgb(69, 69, 69); */
  /* background-color: rgb(219, 198, 159); */

}

/* ---------------------------------------------------- */
/* Show Content
/* ---------------------------------------------------- */

/* show content - task list */
input[name="name-chk-codings-category-header"]:checked  ~ .smooth-open-close-codings-category-task-list:nth-of-type(1) {

  grid-template-rows: 1fr;

}
