/* --------------------------------------------------------------- */
/* > handling-nav-codings.css
/*
/* : styles handling nav codings
/* : tech - algos - leetcode - unshown
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Handling Nav Codings More It
/* -------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-nav-codings"] {

  display: none;

}

/* style background */
#radio-nav-codings-tech:checked ~ #codings-container label[for="radio-nav-codings-tech"],
#radio-nav-codings-algos:checked ~ #codings-container label[for="radio-nav-codings-algos"],
#radio-nav-codings-leetcode:checked ~ #codings-container label[for="radio-nav-codings-leetcode"],
#radio-nav-codings-unshown:checked ~ #codings-container label[for="radio-nav-codings-unshown"] {

  background-color: wheat;
  color:black;

}

/* unshown grey img */
#radio-nav-codings-tech:checked ~ #codings-container label[for="radio-nav-codings-tech"] > img:nth-of-type(1),
#radio-nav-codings-algos:checked ~ #codings-container label[for="radio-nav-codings-algos"] > img:nth-of-type(1),
#radio-nav-codings-leetcode:checked ~ #codings-container label[for="radio-nav-codings-leetcode"] > img:nth-of-type(1),
#radio-nav-codings-unshown:checked ~ #codings-container label[for="radio-nav-codings-unshown"] > img:nth-of-type(1) {

  display: none;

}

/* show black img */
#radio-nav-codings-tech:checked ~ #codings-container label[for="radio-nav-codings-tech"] > img:nth-of-type(2),
#radio-nav-codings-algos:checked ~ #codings-container label[for="radio-nav-codings-algos"] > img:nth-of-type(2),
#radio-nav-codings-leetcode:checked ~ #codings-container label[for="radio-nav-codings-leetcode"] > img:nth-of-type(2),
#radio-nav-codings-unshown:checked ~ #codings-container label[for="radio-nav-codings-unshown"] > img:nth-of-type(2) {

  display: flex;

}

/* show nav categories */
#radio-nav-codings-tech:checked ~ #codings-container #nav-tech-codings-more-it {

  display: flex;

}

/* show header coding categories - tech, algos, leetcode */
#radio-nav-codings-tech:checked ~ #codings-container #coding-content-container #header-coding-category-container,
#radio-nav-codings-algos:checked ~ #codings-container #coding-content-container #header-coding-category-container,
#radio-nav-codings-leetcode:checked ~ #codings-container #coding-content-container #header-coding-category-container {

  /* display: flex; */

}

/* unshown checked - unshow =  header coding category container */
#radio-nav-codings-unshown:checked ~ #codings-container > #coding-content-container #header-coding-category-container {

  /* display: none; */

}

/* show content - tech, algos, leetcode */
#radio-nav-codings-tech:checked ~ #codings-container > #coding-content-container .resp-content-container-medium #coding-tech-container,
#radio-nav-codings-algos:checked ~ #codings-container > #coding-content-container .resp-content-container-medium #coding-algos-container,
#radio-nav-codings-leetcode:checked ~ #codings-container > #coding-content-container .resp-content-container-medium #coding-leetcode-container,
#radio-nav-codings-unshown:checked ~ #codings-container > #coding-content-container .resp-content-container-medium #coding-unshown-container {

  display: grid;

}
