/* --------------------------------------------------------------- */
/* > nav-codings.css
/*
/* : styles nav list & nav coding category
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Nav List Codings More It
/* -------------------------------------------------------------- */

#nav-list-codings-more-it {

  padding: .5em 0 1.5em 0;

  display: grid;
  row-gap: 1em;

  /* background-color: red; */

}

/* -------------------------------------------------------------- */
/* Nav Coding Category
/* -------------------------------------------------------------- */

.nav-coding-category {

  z-index: 3;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  column-gap: .4em;
  row-gap: .6em;

}
