/* ---------------------------------------------------------------- */
/* > docs-card.css
/* : doc card
/* ---------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Docs Card
/* --------------------------------------------------------------- */

.docs-card {

  position: relative;

  width: 13em;

  display: grid;
  grid: 1fr auto / 1fr;

  border-radius: .6em;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  transition: all .4s;

}

.docs-card:hover > img {

  opacity: 1;

}

/* --------------------------------------------------------------- */
/* Img | Docs Card
/* --------------------------------------------------------------- */

.docs-card > img {

  width: 100%;
  height: 100%;

  border-radius: .8em;

  opacity: .5;

}


/* --------------------------------------------------------------- */
/* Footer | Docs Card
/* --------------------------------------------------------------- */

.docs-card > footer {

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 2.5em;

  display: grid;
  grid: auto / .8fr 1fr;

  border-radius: 0 0 .6em .6em;


  background-color: rgba(44, 44, 44, .4);

}


/* --------------------------------------------------------------- */
/* Link | Footer | Docs Card
/* --------------------------------------------------------------- */

.docs-card > footer > a {

  width: 100%;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .4em;

  font-weight: bold;

  color:rgb(228, 228, 228);
  opacity: .3;

  transition: all .4s;

}

.docs-card > footer > a > div {

  font-size: 14.5px;

}

/* link 1 */
.docs-card > footer > a:nth-of-type(1) {

  border-radius: 0 0 0em .5em;

}

/* link 2 */
.docs-card > footer > a:nth-of-type(2) {

  border-radius: 0 0 .5em 0em;

}

/* hover */
.docs-card > footer > a:hover {

  background-color: rgb(66, 66, 66);
  opacity: 1;

}
