/* --------------------------------------------------------------- */
/* > meals.css
/*
/* : styles meals
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Meals Container
/* -------------------------------------------------------------- */

#meals-container {

  width: 100%;
  padding: 1.5em .8em;

  background-color: rgb(104, 104, 104);

  /* default unshown, by click will be shown */
  /* display: none; */

}
