/* --------------------------------------------------------------- */
/* > meals.css
/*
/* : styles meals
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Meals Container
/* -------------------------------------------------------------- */

#meals-container {

  width: 100%;
  padding: 1.5em 0em;

  display: grid;
  align-items: flex-start;
  grid: auto 1fr / 1fr;

  row-gap: 1em;

  /* border-left: 1px solid grey;
  border-right: 1px solid grey; */

  /* default unshown, by click will be shown */
  /* display: none; */

}
