/* --------------------------------------------------------------- */
/* > lbl-only-icon-light-grey.css
/* : styles label only icon light grey
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label Only Icon | Light Grey
/* --------------------------------------------------------------- */

.lbl-only-icon-light-grey {

  display: flex;
  align-items: center;
  justify-content: center;


  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */

  background-color: rgb(44, 44, 44);

  /* border: 1px solid rgb(186, 186, 186); */

}

.lbl-only-icon-light-grey:hover {

  background-color: wheat;
  /* background-color: #cbcbcb; */

}

/* --------------------------------------------------------------- */
/* Img 2 ( Black ) Default Unshown
/* --------------------------------------------------------------- */

.lbl-only-icon-light-grey > img:nth-of-type(2) {

  display: none;

}

/* ------------------------------------------------------------------------- */
/* Extra Hover Handling
/* > show black img by hover, unshown grey img
/* ------------------------------------------------------------------------- */

/* unshow grey img */
.lbl-only-icon-light-grey:hover > img:nth-of-type(1) {

  display: none;

}

/* show black img */
.lbl-only-icon-light-grey:hover > img:nth-of-type(2) {

  display: flex;

}
