/* --------------------------------------------------------------- */
/* > mini-it-projects.css
/*
/* : styles mini it projects
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Mini It Projects Container
/* -------------------------------------------------------------- */

#mini-it-projects-container {

  width: 100%;
  padding: 1.5em .8em;

  display: grid;

  grid: auto 1fr / 1fr;

  row-gap: 2em;

  border-left: 1px solid grey;
  border-right: 1px solid grey;

  /* background-color: red; */

  /* default unshown, by click will be shown */
  /* display: none; */

}
