/* --------------------------------------------------------------- */
/* > resp-contact-me.css
/*
/* : styles resp contact me
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* >= 360px
/* --------------------------------------------------------------- */

@media (min-width: 360px) {

  /* --------------------------------------------------------------- */
  /* Contact Me Content | About Container
  /* --------------------------------------------------------------- */

  #contact-me-content-about-container {

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 1em;

  }

  #email-link-container-contact-me {

    order: 1;

  }

}

/* --------------------------------------------------------------- */
/* >= 530px
/* --------------------------------------------------------------- */

@media (min-width: 530px) {

  /* --------------------------------------------------------------- */
  /* Img Arrow Line
  /* --------------------------------------------------------------- */

  #img-arrow-line-contact-me {

    /* desktop */
    display: flex;

    height: 12em;

    left: 13em;
    bottom: .1em;

  }


}

/* --------------------------------------------------------------- */
/* >= 600px
/* --------------------------------------------------------------- */

@media (min-width: 600px) {

  /* --------------------------------------------------------------- */
  /* Img Arrow Line
  /* --------------------------------------------------------------- */

  #img-arrow-line-contact-me {

    transform: rotate(10deg);

    left: 14em;
    bottom: -.8em;

  }

}

/* --------------------------------------------------------------- */
/* >= 800px
/* --------------------------------------------------------------- */

@media (min-width: 800px) {

  /* --------------------------------------------------------------- */
  /* Img Arrow Line
  /* --------------------------------------------------------------- */

  #img-arrow-line-contact-me {

    transform: rotate(10deg);
    height: 14em;

    left: 14em;
    bottom: -.8em;

  }


}
