/* --------------------------------------------------------------- */
/* > docs.css
/*
/* : styles docs
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Docs Container
/* -------------------------------------------------------------- */

#docs-container {

  width: 100%;
  padding: 1.5em 0em;

  display: flex;
  justify-content: center;

  font-weight: bold;

  background-color: rgb(176, 176, 176);

  /* default unshown, by click will be shown */
  /* display: none; */

}
