/* --------------------------------------------------------------- */
/* > nav-handlings-tech.css
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Default Unshown
/* -------------------------------------------------------------- */

input[name="name-radio-codings-nav-tech"] {

  display: none;

}

/* -------------------------------------------------------------- */
/* Handlings - Stylings
/* -------------------------------------------------------------- */

/* set background color */
#radio-codings-tech-nav-java:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-java"],
#radio-codings-tech-nav-spring-boot:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-spring-boot"],
#radio-codings-tech-nav-observability:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-observability"],
#radio-codings-tech-nav-cloud:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-cloud"],
#radio-codings-tech-nav-ai:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-ai"],
#radio-codings-tech-nav-angular:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-angular"],
#radio-codings-tech-nav-react-native:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-react-native"]  {

  color:rgb(36, 36, 36);
  color:rgb(207, 191, 164);

  /* background-color: blue; */

}

/* by checked, unshown grey img */
/* #radio-codings-tech-nav:checked ~ #row-container-codings-navs label[for="radio-codings-tech-nav"] > img:nth-of-type(1),
#radio-codings-algos-nav:checked ~ #row-container-codings-navs label[for="radio-codings-algos-nav"] > img:nth-of-type(1),
#radio-codings-challenges-nav:checked ~ #row-container-codings-navs label[for="radio-codings-challenges-nav"]  > img:nth-of-type(1),
#radio-codings-kits-nav:checked ~ #row-container-codings-navs label[for="radio-codings-kits-nav"] > img:nth-of-type(1),
#radio-codings-docs-nav:checked ~ #row-container-codings-navs label[for="radio-codings-docs-nav"] > img:nth-of-type(1),
#radio-codings-unshwon-nav:checked ~ #row-container-codings-navs label[for="radio-codings-unshwon-nav"] > img:nth-of-type(1) {

 display: none;

} */

/* by checked, show black img */
/* #radio-codings-tech-nav:checked ~ #row-container-codings-navs label[for="radio-codings-tech-nav"] > img:nth-of-type(2),
#radio-codings-algos-nav:checked ~ #row-container-codings-navs label[for="radio-codings-algos-nav"]  img:nth-of-type(2),
#radio-codings-challenges-nav:checked ~ #row-container-codings-navs label[for="radio-codings-challenges-nav"]  > img:nth-of-type(2),
#radio-codings-kits-nav:checked ~ #row-container-codings-navs label[for="radio-codings-kits-nav"] > img:nth-of-type(2),
#radio-codings-docs-nav:checked ~ #row-container-codings-navs label[for="radio-codings-docs-nav"] > img:nth-of-type(2),
#radio-codings-unshwon-nav:checked ~ #row-container-codings-navs label[for="radio-codings-unshwon-nav"] > img:nth-of-type(2) {

 display: flex;

} */


/* counter box */
/* #radio-codings-tech-nav-java:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-java"] > div:last-child,
#radio-codings-tech-nav-spring-boot:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-spring-boot"] > div:last-child,
#radio-codings-tech-nav-observability:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-observability"] > div:last-child,
#radio-codings-tech-nav-cloud:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-cloud"] > div:last-child,
#radio-codings-tech-nav-ai:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-ai"] > div:last-child,
#radio-codings-tech-nav-angular:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-angular"] > div:last-child,
#radio-codings-tech-nav-react-native:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-react-native"] > div:last-child {





} */

/* counter color text */
/* #radio-codings-tech-nav-java:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-java"] > div:last-child > div,
#radio-codings-tech-nav-spring-boot:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-spring-boot"] > div:last-child > div,
#radio-codings-tech-nav-observability:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-observability"] > div:last-child > div,
#radio-codings-tech-nav-cloud:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-cloud"] > div:last-child > div,
#radio-codings-tech-nav-ai:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-ai"] > div:last-child > div,
#radio-codings-tech-nav-angular:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-angular"] > div:last-child > div,
#radio-codings-tech-nav-react-native:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-react-native"] > div:last-child > div {

  color:rgb(36, 36, 36);
  color:rgb(108, 108, 108);

} */

/* ------------------------------------------------------------- */
/* Handlings - Content
/* ------------------------------------------------------------- */

/* #radio-codings-tech-nav-java:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-tech-nav-spring-boot:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-tech-nav-observability:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-tech-nav-cloud:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-tech-nav-ai:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-tech-nav-angular:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-tech-nav-react-native:checked ~ #codings-tech-nav #codings-masonry-container {

 display: grid;

} */

/* unshown primary checked + nav tech any is checked -> unshown codings masonry container */
/* #radio-codings-nav-unshown:checked ~ #radio-codings-tech-nav-java:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-tech-nav-spring-boot:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-tech-nav-observability:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-tech-nav-cloud:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-tech-nav-ai:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-tech-nav-angular:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-pyhton:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-tech-nav-react-native:checked ~ #codings-tech-nav #codings-masonry-container {

  display: none;

} */
