/* ---------------------------------------------------------------- */
/* > codings-masonry-container.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Codings Masonry Content
/* ---------------------------------------------------------------- */

#codings-masonry-content {

  height: 100%;
  width: 100%;

  z-index: 3;

  padding-bottom: 6em;

  display: grid;
  justify-content: flex-start;

  /* justify-items: center; */

  grid: auto 1fr / 1fr;

  /* background-color: lightgrey; */

  /* default unshown */
  display: none;

}

/* ---------------------------------------------------------------- */
/* Codings Masonry Container
/* ---------------------------------------------------------------- */

#codings-masonry-container {

  position: relative;

  /* width: 100%; */
  /* height: 100%; */

  display: grid;

}

/* ---------------------------------------------------------------- */
/* Divs | Codings Masonry Container
/* ---------------------------------------------------------------- */

/* Default Masonry Item Set -
/* With default transition Masonry show animation by changing column layout -
/* this is what we dont like to see - it looks like ghost in motion */
#codings-masonry-container > div {

  transition: none !important;

}
