/* ---------------------------------------------------------------- */
/* > docs-category-header.css
/* : doc category header
/* ---------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Header | Category Container
/* --------------------------------------------------------------- */

.docs-category-header {

  padding-right: .6em;

  height: 6em;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;


  /* background-color: red; */

}

/* --------------------------------------------------------------- */
/* Category Info Box | Header
/* --------------------------------------------------------------- */

.docs-category-info-box {

  font-size: 16px;

  padding: .6em 1em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  font-weight: bold;

  /* opacity: .3; */

  border-radius: .6em;

  background-color: rgba(28, 28, 28, .1);

  /* background-color: rgba(28, 28, 28, .8); */

  opacity: .8;

}

/* --------------------------------------------------------------- */
/* Title | Category Box
/* --------------------------------------------------------------- */

.docs-category-info-box > div:nth-of-type(1) {

  color:rgb(114, 114, 114)

}

/* --------------------------------------------------------------- */
/* Sub Title | Category Box
/* --------------------------------------------------------------- */

.docs-category-info-box > div:nth-of-type(2) {

  display: flex;
  align-items: center;
  column-gap: .2em;

}

/* Sub Title */
.docs-category-info-box > div:nth-of-type(2) > div {

  color:rgb(173, 173, 173)

}
