/* ---------------------------------------------------------------- */
/* > codings-task.css
/* ---------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* Codings Content Tasks
/* ----------------------------------------------------------------- */

#codings-content-tasks {

  position: relative;

  height: 100%;
  width: 100%;

  display: grid;
  justify-content: start;

  grid: auto / 1fr;

  /* default unshown */
  /* display: none; */

}
