/* --------------------------------------------------------------- */
/* > task-info-container.css
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Topic Info Container
/* --------------------------------------------------------------- */

#codings-topic-info-container {

  width: 100%;
  padding: 2em .8em 2em .8em;

  display: grid;
  justify-items: center;

  row-gap: .6em;

}

/* --------------------------------------------------------------- */
/* Header | Task Category Info
/* --------------------------------------------------------------- */

#codings-topic-info-container > header {

  font-weight: bold;
  color:#484848;

}

/* title */
#codings-topic-info-container > header > div {

  font-size: 16px;

}

/* --------------------------------------------------------------- */
/* Main | Task Category Info
/* --------------------------------------------------------------- */

#codings-topic-info-container > main {

  width: 100%;
  display: grid;
  justify-items: center;

  text-align: center;

  /* mobile */
  row-gap: 1em;

  /* border-left: 1px solid black;
  border-right: 1px solid black; */

}

/* --------------------------------------------------------------- */
/* Div | Main | Task Category Info
/* --------------------------------------------------------------- */

#codings-topic-info-container > main > div {

  font-size: 16px;
  line-height: 1.6em;

  text-align: center;

  column-gap: .3em;
  color:#484848;

  opacity: .6;

}
