/* --------------------------------------------------------------- */
/* > top-it-project-card-img-status.css
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Top IT Project Card Img Status
/* --------------------------------------------------------------- */

.top-it-project-img-status-in-progress,
.top-it-project-img-status-later {

  /* z-index: 3; */

  position: absolute;
  width: 100%;
  height: 100%;

  top:0;

  display: grid;
  justify-items: center;
  justify-content: center;
  align-content: center;
  row-gap: .4em;

  border-radius: .6em;

  transition: all .4s;

}

/* hover - default */
.top-it-project-card-img-container:hover .top-it-project-img-status-in-progress,
.top-it-project-card-img-container:hover .top-it-project-img-status-later {

  z-index: -1;
  opacity: 0;

}


/* --------------------------------------------------------------- */
/* In Progress | Top IT Project Card Img Status
/* --------------------------------------------------------------- */

.top-it-project-img-status-in-progress {

  background-color: #ffdf40;
  opacity: .8;

}

/* img */
.top-it-project-img-status-in-progress img {

  height: 2em;

}

/* --------------------------------------------------------------- */
/* Later | Top IT Project Card Img Status
/* --------------------------------------------------------------- */

.top-it-project-img-status-later {

  background-color: rgb(176, 209, 255);
  opacity: .8;

}

/* img */
.top-it-project-img-status-later img {

  height: 2em;

}
