/* --------------------------------------------------------------- */
/* > task-card-main.css
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Main - Task Card
/* --------------------------------------------------------------- */

.task-card-main {

  display: grid;

}

/* --------------------------------------------------------------- */
/* [1/3] | Topic Categories & Time Limit - Box
/* --------------------------------------------------------------- */

.task-card-main > div:nth-of-type(1) {

  padding: 1.3em 0 .6em 0;

  display: grid;
  grid: auto / 1fr auto;
  column-gap: 1em;

  border-bottom: 1px solid rgb(180, 180, 180);

}

/* -------------------------------------------------- */
/* Topic Categories
/* -------------------------------------------------- */

.task-card-topic-categories {

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  row-gap: .2em;

  font-weight: bold;

  color:rgb(72, 72, 72);

  opacity: .8;

}

/* text */
.task-card-topic-categories > div {

  padding-right: .3em;
  font-size: 14.5px;
}

/* img bullets */
.task-card-topic-categories > img {

  /* layout fix */
  margin-top: 2px;
  padding-right: .3em;

  height: .28em;
  opacity: .6;

}

/* -------------------------------------------------- */
/* Task Card Time Limit
/* -------------------------------------------------- */

.task-card-time-limit {

  font-weight: bold;
  color:rgb(72, 72, 72);

  opacity: .6;

}

/* text */
.task-card-time-limit > div {

  font-size: 14.5px;

}


/* --------------------------------------------------------------- */
/* [2/3] | Goal Content - Box
/* --------------------------------------------------------------- */

.task-card-main > div:nth-of-type(2) {

  padding-top: .6em;
  line-height: 1.5em;

}

/* Task Fokus Word */
.task-card-fokus-word {

  font-weight: bold;
  color:rgb(72, 72, 72);

  opacity: .8;

}

.task-card-main > div:nth-of-type(2) > span {

  font-size: 14.5px;

}

.task-card-main > div:nth-of-type(2) > span:not(span:nth-of-type(1)) {

  color:grey;

}

/* --------------------------------------------------------------- */
/* [3/3] | Tech Hashtag
/* --------------------------------------------------------------- */

.task-card-tech-hashtag {

 padding-top: .6em;

  display: flex;
  flex-wrap: wrap;

  column-gap: .3em;
  row-gap: .3em;

}

/* items */
.task-card-tech-hashtag > div {

  height: 1.4em;
  padding: 0 .3em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .3em;

  border: 1px solid grey;

  opacity: .4;

}

/* text */
.task-card-tech-hashtag > div > div {

  /* layout fix */
  margin-bottom: 2px;

  font-size: 13.5px;

}
