/* --------------------------------------------------------------- */
/* > story-behind-sfd.css
/*
/* : styles story-behind-sfd
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Stroy Behind Sfd | Show More Container
/* --------------------------------------------------------------- */

#story-behind-sfd-show-more-container {

  padding: 3em 1em;
  width: 100%;

  display: grid;

  /* background-color: rgb(220, 231, 161); */

  border: 1px dashed grey;

  /* default unshown */
  display: none;


}
