/* ---------------------------------------------------------------- */
/* > docs-category-card-list.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Docs Category Card List
/* ---------------------------------------------------------------- */

.docs-category-card-list {

  width: 100%;

  display: grid;

  /* small mobile */
  grid: auto / 1fr 1fr;
  justify-items: center;
  align-items: center;





  column-gap: 1em;
  row-gap: 1em;



}
