/* --------------------------------------------------------------- */
/* > sport-lifestyle.css
/*
/* : styles sport lifestyle
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Sport Lifestyle Container
/* -------------------------------------------------------------- */

#sport-lifestyle-container {

  width: 100%;
  padding: 1.5em .8em;

  background-color: rgb(255, 43, 43);

  /* default unshown, by click will be shown */
  /* display: none; */

}
