/* --------------------------------------------------------------- */
/* top-it-project-card-tech-list.css
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Tech List - Top IT Project Card
/* --------------------------------------------------------------- */

.top-it-project-card-tech-list {

  display: grid;
  row-gap: .6em;

  /* background-color: yellow; */

}

/* --------------------------------------------------------------- */
/* Header | Tech List Container
/* --------------------------------------------------------------- */

.top-it-project-card-tech-list > header {

  /* layout fix */
  padding-left: .3em;

  font-size: 13.5px;
  font-weight: bold;

  color:rgb(101, 101, 101);

}

/* --------------------------------------------------------------- */
/* Main | Tech List Container
/* --------------------------------------------------------------- */

.top-it-project-card-tech-list > main {

  display: flex;
  flex-wrap: wrap;
  column-gap: .4em;
  row-gap: .4em;

  /* font-weight: bold; */

}

/* items */
.top-it-project-card-tech-list > main > div {

  height: 1.8em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .3em;


  border: 1px solid rgb(213, 213, 213);

  background-color: rgb(247, 247, 247);

  color:rgb(156, 156, 156);

  border-radius: .6em;

  /* opacity: .7; */

  /* user-select: none; */
  transition: all .4s;


}

/* hover */
.top-it-project-card-tech-list > main > div:hover {

  opacity: 1;
  background-color: rgb(218, 218, 218);
  /* background-color: white; */
  color:black;

}

/* hover + img */
.top-it-project-card-tech-list > main > div:hover img {

  opacity: 1;

}

/* img */
.top-it-project-card-tech-list > main > div > img {

  opacity: .6;

}

/* text */
.top-it-project-card-tech-list > main > div > div {

  font-size: 14.5px;

}
