/* --------------------------------------------------------------- */
/* > top-it-project-card-details-container.css
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Details Container - Top IT Project Card
/* --------------------------------------------------------------- */

.top-it-project-card-details-container {

    width: 100%;

    /* desktop */
    display: grid;
    align-items: flex-start;
    /* ⚠️ */
    align-content: flex-start;
    /* align-content: space-between; */

    /* background-color: rgb(245, 245, 245); */

}

/* --------------------------------------------------------------- */
/* Details Content - Top IT Project Card
/* --------------------------------------------------------------- */

.top-it-project-card-details-content {

  display: grid;
  row-gap: 1em;

  /* desktop */
  padding: 1.3em 1.3em;

  /* mobile */
  padding: .8em .8em;

  border-radius: .8em;

  background-color: rgba(241, 241, 241, .5);

  border: 3px solid rgb(159, 159, 159);

  border: 3px solid rgba(159, 159, 159, .4);

  border: 3px solid rgba(159, 159, 159, .1);

  /* background-color: red; */

}
