/* ---------------------------------------------------------------- */
/* > codings-sub-navs.css
/* ---------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* Codings Sub Navs Container
/* ----------------------------------------------------------------- */

#codings-sub-navs-container {

  width: 100%;

  display: grid;
  justify-items: center;
  z-index: 3;

}

/* ----------------------------------------------------------------- */
/* Codings Sub Nav
/* ----------------------------------------------------------------- */

.codings-sub-nav {

  padding: 1em 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  /* justify-content: flex-end; */

  justify-content: center;

  /* mobile */
  column-gap: .3em;
  row-gap: .8em;


}

/* ----------------------------------------------------------------- */
/* x3 - Codings Sub Nav
/* Tech, Kits , Docs
/* ----------------------------------------------------------------- */

#codings-tech-nav,
#codings-kits-nav,
#codings-docs-nav {

  display: none;

}
