/* ---------------------------------------------------------------- */
/* > codings-masonry-tasks.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* All | Codings Task Cards
/* ---------------------------------------------------------------- */

.codings-task-card-in-progress,
.codings-task-card-later,
.codings-task-card-done {

  padding: .8em;
  display: grid;

  row-gap: .8em;

  border-radius: .6em;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  transition: all .4s;

}

/* hover */
.codings-task-card-in-progress:hover,
.codings-task-card-later:hover,
.codings-task-card-done:hover {

  background-color: white;

}

/* ---------------------------------------------------------------- */
/* In Progress | Codings Task Card
/* ---------------------------------------------------------------- */

.codings-task-card-in-progress {

  border-left: .8em solid rgb(251, 217, 132);
  background-color: rgb(255, 243, 216);


}

/* ---------------------------------------------------------------- */
/* Later | Codings Task Card
/* ---------------------------------------------------------------- */

.codings-task-card-later {

  border-left: .8em solid #e3e3e3;;
  background-color: #f7f7f7;

}


/* ---------------------------------------------------------------- */
/* Done | Codings Task Card
/* ---------------------------------------------------------------- */

.codings-task-card-done {

  border-left: .8em solid rgb(136, 216, 136);
  background-color: rgb(219, 253, 219);

}
