/* ---------------------------------------------------------------- */
/* > codings-task-card-mains.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Codings Task Card Main
/* ---------------------------------------------------------------- */

.codings-task-card-main {

  width: 100%;
  display: grid;
  row-gap: .3em;

}

/* ---------------------------------------------------------------- */
/* Category List | Codings Task Card Main
/* ---------------------------------------------------------------- */

.codings-task-card-category-list {

  line-height: 1.3em;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  column-gap: .3em;
  row-gap: .2em;

  font-weight: bold;

}

/* Category List - In Progress */
.codings-task-card-in-progress .codings-task-card-category-list {

  color: rgb(168, 140, 62);

}

/* Category List - Later */
.codings-task-card-later .codings-task-card-category-list  {

  color: rgb(146, 146, 146);

}

/* Category List - Done */
.codings-task-card-done .codings-task-card-category-list {

  color: rgb(14, 150, 12);

}

/* Div | Text */
.codings-task-card-category-list > div {

  font-size: 12.5px;


}

/* Img | Bullet Points */
.codings-task-card-category-list > img {

  height: .28em;
  opacity: .4;

}

/* ---------------------------------------------------------------- */
/* Title | Codings Task Card Main
/* ---------------------------------------------------------------- */

.codings-task-card-title {

  font-size: 15.5px;
  line-height: 1.5em;

  /* font-weight: bold; */

  opacity: .8;

}

/* header title - in progress */
.codings-task-card-in-progress .codings-task-card-title {

  color: rgb(91, 75, 32);

}

/* header title - later */
.codings-task-card-later .codings-task-card-title {

  color: rgb(86, 86, 86);

}

/* header title - done */
.codings-task-card-done .codings-task-card-title {

  color: rgb(10, 96, 9);

}

/* ---------------------------------------------------------------- */
/* Hashtag List | Codings Task Card Main
/* ---------------------------------------------------------------- */

.codings-task-card-hashtag-list {

  margin-top: .3em;
  display: flex;
  flex-wrap: wrap;

  column-gap: .2em;
  row-gap: .3em;

}

/* Divs | Items */
.codings-task-card-hashtag-list > div {

  font-size: 12.5px;

  height: 2em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .6em;

  opacity: .6;

}

/* HashTag - In Progress */
.codings-task-card-in-progress .codings-task-card-hashtag-list > div  {

  border: 1px dashed rgb(48, 48, 48);
  color:black;

}

/* HashTag - Later */
.codings-task-card-later .codings-task-card-hashtag-list > div  {

  border: 1px dashed rgb(48, 48, 48);
  color:black;

}

/* HashTag - Done */
.codings-task-card-done .codings-task-card-hashtag-list > div  {

  border: 1px dashed rgb(48, 48, 48);
  color:black;

}
