/* ---------------------------------------------------------------- */
/* > codings-masonry-tasks.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* All | Codings Task Cards
/* ---------------------------------------------------------------- */

.codings-task-card-in-progress,
.codings-task-card-later,
.codings-task-card-done {

  padding: .8em;
  display: grid;

  /* row-gap: .1em; */


  border-radius: .6em;

  /* border-radius: 1-3em; */


  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */


  border: 1px solid rgb(191, 191, 191);

  transition: all .4s ease-in-out;

  background-color: white;


}

/* hover */
.codings-task-card-in-progress:hover,
.codings-task-card-later:hover,
.codings-task-card-done:hover {

  background-color: white;

}

/* .codings-task-card-in-progress:hover {

  background-color: rgb(254, 246, 226);

}

.codings-task-card-later:hover {

  background-color: #f7f7f7;

}

.codings-task-card-done:hover {

  background-color: rgb(238, 255, 238);

} */

/* ---------------------------------------------------------------- */
/* In Progress | Codings Task Card
/* ---------------------------------------------------------------- */

.codings-task-card-in-progress {

  border-left: .8em solid rgb(251, 217, 132);

  background-color: rgb(247, 247, 247);

  background-color: rgb(255, 243, 216);

  background-color: rgb(254, 246, 226);

}

/* ---------------------------------------------------------------- */
/* Later | Codings Task Card
/* ---------------------------------------------------------------- */

.codings-task-card-later {

  border-left: .8em solid #bcbcbc;;

  background-color: #f7f7f7;

  background-color: rgb(247, 247, 247);

}

/* ---------------------------------------------------------------- */
/* Done | Codings Task Card
/* ---------------------------------------------------------------- */

.codings-task-card-done {

  border-left: .8em solid rgb(136, 216, 136);

  background-color: rgb(247, 247, 247);

  background-color: rgb(219, 253, 219);

}
