/* ---------------------------------------------------------------- */
/* > codings-task-card-headers.css
/* ---------------------------------------------------------------- */


/* ------------------------------------------------------------ */
/* Codings Task Card Header
/* ------------------------------------------------------------ */

.codings-task-card-header {

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

}

/* ------------------------------------------------------------ */
/* Left Box | Nr Box & Status Sticker
/* ------------------------------------------------------------ */

.codings-task-card-header > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .3em;

}

/* ------------------------------------------------------------ */
/* All | Nr Box
/* ------------------------------------------------------------ */

.codings-task-card-nr-box {

  min-width: 1.8em;
  height: 1.7em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;

  font-weight: bold;

  opacity: .8;

}

/* Nr Text */
.codings-task-card-nr-box > div {

  font-size: 12.5px;

}

/* Nr Box - In Progress */
.codings-task-card-in-progress .codings-task-card-nr-box {

  border: 1px solid rgb(230, 192, 96);
  background-color: rgb(251, 217, 132);

  color:rgb(133, 104, 30);

}

/* Nr Box - Later */
.codings-task-card-later .codings-task-card-nr-box {

  border: 1px solid #c3c3c3;
  background-color: #e3e3e3;

  color:#727272;

}

/* Nr Box - Done */
.codings-task-card-done .codings-task-card-nr-box {

  border: 1px solid rgb(113, 185, 113);
  background-color: rgb(136, 216, 136);

  color:rgb(46, 106, 46);

}

/* ------------------------------------------------------------ */
/* Right Box | Task Tech Category Sticker
/* ------------------------------------------------------------ */

.codings-task-card-tech-category-sticker {

  padding: 0 .4em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  border-radius: .5em;

}

/* Img */
.codings-task-card-tech-category-sticker > img {

  opacity: .4;

}

/* Text */
.codings-task-card-tech-category-sticker > div {

  font-size: 12.5px;
  font-weight: bold;

}

/* In Progress - tech category sticker */
.codings-task-card-in-progress .codings-task-card-tech-category-sticker  {

  /* background-color: rgb(251, 217, 132); */
  border: 1px dashed rgb(230, 192, 96);
  border: 1px solid rgb(230, 192, 96);
  color: rgb(168, 140, 62);

}

/* Later - tech category sticker */
.codings-task-card-later .codings-task-card-tech-category-sticker  {

  border: 1px solid #c3c3c3;
  color: #919191;

}

/* Done - tech category sticker */
.codings-task-card-done .codings-task-card-tech-category-sticker  {

  border: 1px solid rgb(113, 185, 113);
  color: rgb(83, 162, 83);

}
