/* ---------------------------------------------------------------- */
/* > codings-task-card-footer.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Codings Task Card Footer
/* ---------------------------------------------------------------- */

.codings-task-card-footer {

  margin-top: .8em;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: .4em;

}

/* ---------------------------------------------------------------- */
/* GitHub Link
/* ---------------------------------------------------------------- */

.codings-task-card-footer > a {

  text-decoration: none;

  height: 1.8em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  border-radius: .6em;

  font-weight: bold;
  border: 1px solid rgba(164, 164, 164, .4);

  color: rgb(88, 88, 88);

  transition: all .4s;

  opacity: .6;

}

/* text - Github */
.codings-task-card-footer > a > img {

  opacity: .6;

}


/* text - Github */
.codings-task-card-footer > a > div {

  font-size: 12.5px;

}

/* hover */
.codings-task-card-footer > a:hover {

  background-color: rgb(227, 227, 227);

}
