/* ---------------------------------------------------------------- */
/* > codings-task-card-mains.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Codings Task Card Main
/* ---------------------------------------------------------------- */

.codings-task-card-main {

  width: 100%;
  display: grid;
  row-gap: .6em;

}

/* ---------------------------------------------------------------- */
/* Div 1 | Title | Codings Task Card Main
/* ---------------------------------------------------------------- */

.codings-task-card-main > div:nth-of-type(1) {

  font-size: 14.5px;
  line-height: 1.5em;

  /* font-weight: bold; */

  opacity: .8;

}

/* header title - in progress */
.codings-task-card-in-progress .codings-task-card-main > div:nth-of-type(1) {

  color: rgb(91, 75, 32);

  /* color:black; */

}

/* header title - later */
.codings-task-card-later .codings-task-card-main > div:nth-of-type(1) {

  color: rgb(86, 86, 86);

  /* color:black; */

}

/* header title - done */
.codings-task-card-done .codings-task-card-main > div:nth-of-type(1) {

  color: rgb(10, 96, 9);

  /* color:black; */

}

/* ---------------------------------------------------------------- */
/* Hashtag List | Codings Task Card Main
/* ---------------------------------------------------------------- */

.codings-task-card-hashtag-list {

  display: flex;
  flex-wrap: wrap;

  column-gap: .2em;
  row-gap: .3em;

}

/* Divs | Items */
.codings-task-card-hashtag-list > div {

  font-size: 12.5px;

  height: 2em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;

  opacity: .6;

}

/* HashTag - In Progress */
.codings-task-card-in-progress .codings-task-card-hashtag-list > div  {

  /* background-color: rgb(251, 217, 132);
  background-color: rgb(255, 236, 184); */

  border: 1px dashed rgb(48, 48, 48);
  color: rgb(124, 104, 52);

  color:black;


}

/* HashTag - Later */
.codings-task-card-later .codings-task-card-hashtag-list > div  {

  /* background-color: #e3e3e3;
  background-color: #efefef; */

   border: 1px dashed rgb(48, 48, 48);
  color:rgb(56, 56, 56);

  color:black;

}

/* HashTag - Done */
.codings-task-card-done .codings-task-card-hashtag-list > div  {

  /* background-color: rgb(136, 216, 136);
  background-color: rgb(198, 253, 198); */

   border: 1px dashed rgb(48, 48, 48);
  color:rgb(3, 83, 3);

  color:black;

}
