/* --------------------------------------------------------------- */
/* > lbl-only-icon-on-light.css
/*
/* : styles label only icon style
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label Only Icon Style | on light
/* --------------------------------------------------------------- */

.lbl-only-icon-on-light {

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgb(203, 203, 203);

  background-color: rgb(237, 237, 237);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.lbl-only-icon-on-light:hover {

  background-color: wheat;

}

/* --------------------------------------------------------------- */
/* Img 2 ( Black ) Default Unshown
/* --------------------------------------------------------------- */

.lbl-only-icon-on-light > img:nth-of-type(2) {

  display: none;

}

/* ------------------------------------------------------------------------- */
/* Extra Hover Handling
/* > show black img by hover, unshown grey img
/* ------------------------------------------------------------------------- */

/* unshow grey img */
.lbl-only-icon-on-light:hover > img:nth-of-type(1) {

  display: none;

}

/* show black img */
.lbl-only-icon-on-light:hover > img:nth-of-type(2) {

  display: flex;

}
