/* --------------------------------------------------------------- */
/* > codings-category-tasks.css
/* : styles codings category task container
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Codings Category Tasks
/* -------------------------------------------------------------- */

.codings-category-tasks {

  display: grid;
  grid: auto 1fr / 1fr;

  border-radius: 1.5em;

  /* margin-bottom: 24px; */

  /* border: 3px solid rgba(31, 31, 31, 0.1); */


  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */

}


/* -------------------------------------------------------------- */
/* [1/2] | Header
/* -------------------------------------------------------------- */

.codings-category-tasks > header {

  /* margin-bottom: 1em; */
  padding: 1.3em .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  /* border-radius: 1em; */

  border-radius: .8em;


  /* border: 2px solid rgba(99, 99, 99, .8); */

  background-color: rgb(49, 49, 49);

  background-color: rgb(66, 66, 66);

  /* background-color: #2b2b2b; */

  color:rgba(143, 143, 143, 1);




}

/* -------------------------------------------------- */
/* Div 2 | Icon + Title - Item
/* -------------------------------------------------- */

.codings-category-tasks > header > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .8em;

}

/* img - icon */
.codings-category-tasks > header > div:nth-of-type(1) > img {

  height: 1.6em;
  transform: rotate(15deg);
  opacity: .8;

}

/* div - title  */
.codings-category-tasks > header > div:nth-of-type(1) > div:nth-of-type(1) {

  line-height: 1.3em;

  font-size: 14.5px;
  font-weight: bold;



}

/* -------------------------------------------------- */
/* Div 2 | Tasks Counter - Item
/* -------------------------------------------------- */

.codings-category-tasks > header > div:nth-of-type(2) {

  height: 1.6em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  column-gap: .4em;

  border-radius: .8em;

  border: 1px solid rgba(158, 158, 158, 0.3);

  /* background-color: rgb(55, 55, 55); */
  /* background-color: rgb(27, 27, 27); */

  background-color: rgb(60, 60, 60);

  color: rgb(181, 181, 181);


}

/* text - tasks nr */
.codings-category-tasks > header > div:nth-of-type(2) > span {

  font-size: 13.5px;
  font-weight: bold;

}

/* -------------------------------------------------------------- */
/* [2/2] | Main
/* -------------------------------------------------------------- */

.codings-category-tasks > main {

  padding-top: 1em;

  display: grid;
  row-gap: .8em;


  /* padding-left: 1em;
  border-left: 3px dotted rgb(182, 182, 182); */

}


.codings-category-tasks > main > div:not(:last-child) {

  /* border-bottom: 3px solid rgb(206, 206, 206); */

  border-radius: 1em;

  border: 2px dashed rgba(0, 0, 0, .1);


  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */

}

/* div - last  */
.codings-category-tasks > main > div:last-child {

  /* border-radius: 0 0 1.3em 1.3em; */
  /* background-color: red; */

  border-radius: 1em;

  border: 2px dashed rgba(0, 0, 0, .1);

}
