/* --------------------------------------------------------------- */
/* > codings-category-task-item.css
/* : styles codings category task item
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Codings Category Task Items
/* > in progress, later, done
/* -------------------------------------------------------------- */

.codings-category-task-item-in-progress,
.codings-category-task-item-later,
.codings-category-task-item-done {

  padding: 1.1em .8em;

  display: grid;

  background-color: white;

  border: 1px dashed rgb(198, 198, 198);

  transition: all .4s;

}

/* hover */
.codings-category-task-item-in-progress:hover,
.codings-category-task-item-later:hover,
.codings-category-task-item-done:hover {

  background-color: white;

}

/* -------------------------------------------------------------- */
/* In Progress | Task Item
/* -------------------------------------------------------------- */

.codings-category-task-item-in-progress {

  background-color: rgb(255, 242, 214);

}

/* -------------------------------------------------------------- */
/* Later | Task Item
/* -------------------------------------------------------------- */

.codings-category-task-item-later {

  background-color: rgb(241, 241, 241);

}

/* -------------------------------------------------------------- */
/* Done | Task Item
/* -------------------------------------------------------------- */

.codings-category-task-item-done {

  background-color: rgb(220, 255, 220);

}

/* -------------------------------------------------------------- */
/* [1/2] Section Content
/* -------------------------------------------------------------- */

.codings-category-task-item-in-progress > section,
.codings-category-task-item-later > section,
.codings-category-task-item-done > section {

  width: 100%;

  display: flex;
  align-items: flex-start;
  column-gap: 1em;

}

/* -------------------------------------------------------------- */
/* Header | Div 2 | Content
/* -------------------------------------------------------------- */

.codings-task-header {

  line-height: 1.3em;

  font-size: 14.5px;

  font-weight: bold;

}

/* header - in progress */
.codings-category-task-item-in-progress .codings-task-header {


  color:rgba(177, 144, 34, 1);


  /* color:rgb(153, 124, 28); */

  /* color:rgb(114, 114, 114); */

  /* color: rgb(31, 31, 31); */

}

/* header - later */
.codings-category-task-item-later .codings-task-header {

  color:rgba(74, 74, 74, 0.5);

  color:rgb(114, 114, 114);

  color:rgb(161, 161, 161);

}

/* header - done */
.codings-category-task-item-done .codings-task-header {

  color:rgba(20, 155, 40, 0.8);

  color:rgb(112, 183, 93);

  /* color:rgb(114, 114, 114); */


}

/* -------------------------------------------------------------- */
/* Time Info | Div 2 | Content
/* -------------------------------------------------------------- */

.codings-task-time-info {

  float: right;
  margin-left: .6em;
  margin-bottom: .4em;

  height: 1.3em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  border-radius: .6em;

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */

  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */

}

/* in progress - time info */
.codings-category-task-item-in-progress .codings-task-time-info {

  border: 1px solid rgba(107, 107, 107, 0.2);
  color:rgba(84, 84, 84, 0.6);

}

/* later - time info */
.codings-category-task-item-later .codings-task-time-info {

  border: 1px solid rgba(107, 107, 107, 0.2);
  color:rgba(84, 84, 84, 0.6);


}

/* done - time info */
.codings-category-task-item-done .codings-task-time-info {

  border: 1px solid rgba(107, 107, 107, 0.2);
  color:rgba(84, 84, 84, 0.6);

}

/* img */
.codings-task-time-info > img:nth-of-type(1) {

  height: .6em;
  opacity: .6;

}

/* text - div */
.codings-task-time-info > div:nth-of-type(1) {

  font-size: 11.5px;
  font-weight: bold;

  display: flex;
  align-items: center;
  column-gap: .2em;

}

/* -------------------------------------------------------------- */
/* Description Text | Div 2 | Content
/* -------------------------------------------------------------- */

.codings-task-description {

  padding-top: .4em;

  font-size: 14.5px;

  line-height: 1.5em;

}

/* description - in progress */
.codings-category-task-item-in-progress .codings-task-description {

  color:rgba(159, 129, 32, .6);

  /* color:rgb(177, 177, 177); */

   /* color:rgb(47, 47, 47); */

   /* color:rgb(145, 145, 145); */

}

/* description  - later */
.codings-category-task-item-later .codings-task-description {

  color:rgba(61, 61, 61, 0.4);
  /* color:rgb(177, 177, 177); */

   color:rgb(47, 47, 47);

    color:rgb(145, 145, 145);

}

/* description  - done */
.codings-category-task-item-done .codings-task-description {

  color:rgba(20, 155, 40, 0.6);

  /* color:rgb(47, 47, 47); */

   /* color:rgb(143, 143, 143); */

}

/* -------------------------------------------------------------- */
/* [2/2] Nav Links
/* -------------------------------------------------------------- */

.codings-category-task-item-in-progress > nav,
.codings-category-task-item-later > nav,
.codings-category-task-item-done > nav {

  padding-top: .8em;

  display: flex;
  justify-content: flex-end;

  /* background-color: green; */

}

/* -------------------------------------------------------------- */
/* Codings Github Link
/* -------------------------------------------------------------- */

.codings-github-link {

  text-decoration: none;

  height: 1.6em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  border-radius: .8em;

  font-weight: bold;

  border: 1px solid rgba(164, 164, 164, .4);

  /* background-color: rgba(239, 239, 239, 0.9); */

  /* background-color: rgb(159, 159, 159); */

  color: rgb(126, 126, 126);

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */

  /* opacity: .3; */


  /* opacity: .6; */
  transition: all .4s;

}

/* hover */
.codings-github-link > img {

  height: .8em;
  opacity: .6;

}

/* text */
.codings-github-link > div {

  font-size: 12.5px;
  font-weight: bold;
  /* color: red; */

}

/* hover */
.codings-github-link:hover {

  background-color: rgb(237, 237, 237);

}
