/* ------------------------------------------------------------------- */
/* > first-header-content.css
/*
/* : styles first header content defaults
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* Title Area | First Content Header
/* ------------------------------------------------------------------- */

.title-area-first-content-header {

  width: 100%;
  display: grid;
  font-weight: bold;

  /* background-color: blue; */
}

/* ------------------------------------------------------------------- */
/* Sub Title Content Header Container
/* ------------------------------------------------------------------- */

.sub-title-content-header-container {

  width: 100%;

  display: grid;
  justify-items: flex-start;

  line-height: 1.4em;
  /* background-color: red; */

}

.layout-fix-more-sub-title-items {

  line-height: 1.6em;
  padding-top: .3em;

}
