/* ------------------------------------------------------------------- */
/* > first-header-content.css
/*
/* : styles first header content
/* ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- */
/* First Header Content | on dark, on light
/* ------------------------------------------------------------------- */

.first-header-content-on-dark,
.first-header-content-on-light {

  display: flex;
  align-items: center;
  column-gap: 1.5em;

}

/* ------------------------------------------------------------------- */
/* Title Area | First Content Header
/* ------------------------------------------------------------------- */

.title-area-first-content-header {

  display: grid;
  font-weight: bold;

}

/* ------------------------------------------------------------------- */
/* Sub Title Content Header Container
/* ------------------------------------------------------------------- */

.sub-title-content-header-container {

  line-height: 1.6em;

}

/* ------------------------------------------------------------------- */
/* on Dark
/* ------------------------------------------------------------------- */

/* title */
.first-header-content-on-dark .first-title-content-header {

  color:white;
  font-size: 18px;

}

/* sub title */
.first-header-content-on-dark .sub-title-content-header-container > div {

  color:rgb(125, 125, 125);
  color:rgb(108, 108, 108);
  font-size: 14.5px;

}

/* ------------------------------------------------------------------- */
/* on Light
/* ------------------------------------------------------------------- */

/* title */
.first-header-content-on-light .first-title-content-header {

  color:black;
  font-size: 18px;

}

/* sub title */
.first-header-content-on-light .sub-title-content-header-container > div {

  color:rgb(95, 95, 95);
  font-size: 14.5px;

}
