/* --------------------------------------------------------------- */
/* > resp-first-section-headers.css
/*
/* : styles resp first section headers
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* >= 800px
/* --------------------------------------------------------------- */

@media (min-width: 800px) {


  /* ------------------------------------------------------------------- */
  /* Div 1 | Title Content
  /* ------------------------------------------------------------------- */

  .first-title-content-header {

    line-height: 1.7em;

  }

  /* title | on dark, light */
  .first-header-content-on-dark .first-title-content-header,
  .first-header-content-on-light .first-title-content-header {

    /* 22px */
    font-size: 1.375em;

  }

  /* sub title | on dark, light */
  .first-header-content-on-dark .sub-title-content-header-container > div,
  .first-header-content-on-light .sub-title-content-header-container > div {

    /* 16px */
    font-size: 1em;

  }


}

/* --------------------------------------------------------------- */
/* >= 1200px
/* --------------------------------------------------------------- */

@media (min-width: 1200px) {

  /* ------------------------------------------------------------------- */
  /* Div 1 | Title Content
  /* ------------------------------------------------------------------- */

  .first-title-content-header {

    line-height: 1.6em;

  }

   /* title | on dark, light */
  .first-header-content-on-dark .first-title-content-header,
  .first-header-content-on-light .first-title-content-header {

    /* 22px */
    font-size: 1.5em;

  }

  /* div (text) | sub title | on dark, light */
  .first-header-content-on-dark .sub-title-content-header-container > div,
  .first-header-content-on-light .sub-title-content-header-container > div {

    /* 16px */
    /* font-size: 1em; */

    font-size: 18px;

  }

   /* only by more than x1 item | sub title | on dark, light */
  .first-header-content-on-dark .layout-fix-more-sub-title-items div,
  .first-header-content-on-light .layout-fix-more-sub-title-items div {

    line-height: 1.6em;
    /* color:red; */

  }

 }
