/* --------------------------------------------------------------- */
/* > resp-first-section-headers.css
/*
/* : styles resp first section headers
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* >= 800px
/* --------------------------------------------------------------- */

@media (min-width: 800px) {


  /* ------------------------------------------------------------------- */
  /* Div 1 | Title Content
  /* ------------------------------------------------------------------- */

  .first-title-content-header {

    line-height: 1.7em;

  }

  /* title | on dark, light */
  .first-header-content-on-dark .first-title-content-header,
  .first-header-content-on-light .first-title-content-header {

    /* 22px */
    font-size: 1.375em;

  }

  /* sub title | on dark, light */
  .first-header-content-on-dark .sub-title-content-header-container > div,
  .first-header-content-on-light .sub-title-content-header-container > div {

    font-size: 1em;

  }


}
