/* --------------------------------------------------------------- */
/* > lbl-pill-icon-text-counter-light-grey.css
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label | Icon Text Counter | Light Grey
/* --------------------------------------------------------------- */

.lbl-pill-icon-text-counter-light-grey {

  padding-left: .6em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .3em;

  font-weight: bold;

  border-radius: .8em;

  /* background-color: rgb(163, 163, 163); */

  /* border: 1px solid rgb(209, 209, 209); */
  color: rgb(135, 135, 135);

  opacity: .8;

}

/* icons + title box */
.lbl-pill-icon-text-counter-light-grey > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .5em;

}

/* div 1 - title */
.lbl-pill-icon-text-counter-light-grey > div:nth-of-type(1) > div:last-child {

  font-size: 14.5px;
  /* color:red; */

}

/* --------------------------------------------------------------- */
/* Img - Grey
/* --------------------------------------------------------------- */

.lbl-pill-icon-text-counter-light-grey > div:nth-of-type(1) > img:nth-of-type(1) {

  opacity: .6;

}

/* --------------------------------------------------------------- */
/* Default Unshown | Light Grey Img
/* --------------------------------------------------------------- */

.lbl-pill-icon-text-counter-light-grey > div:nth-of-type(1) > img:nth-of-type(2) {

  opacity: .6;

  display: none;

}

/* ------------------------------------------------------------------------- */
/* Extra Hover Handling
/* > show black img by hover, unshown grey img
/* ------------------------------------------------------------------------- */

.lbl-pill-icon-text-counter-light-grey:hover {

  background-color: rgb(214, 214, 214);
  color:rgb(114, 114, 114);

  opacity: 1;

}

/* unshow grey img */
.lbl-pill-icon-text-counter-light-grey:hover > div:nth-of-type(1) > img:nth-of-type(1) {

  display: none;

}

/* show grey img */
.lbl-pill-icon-text-counter-light-grey:hover > div:nth-of-type(1) > img:nth-of-type(2) {

  display: flex;

}

/* -------------------------------------------------------------- */
/* Counter
/* -------------------------------------------------------------- */

.lbl-pill-icon-text-counter-light-grey > div:nth-of-type(2) {

  height: 1.2em;
  padding: 0em .3em;

  border-radius: .3em;

  display: flex;
  align-items: center;
  justify-content: center;

  /* opacity: .8; */

}

.lbl-pill-icon-text-counter-light-grey > div:nth-of-type(2) > div {

  /* layout pos fix */
  padding-top: 1px;

  font-size: 12.5px;

  color: rgb(152, 152, 152);

}

/* hover - counter */
.lbl-pill-icon-text-counter-light-grey:hover  > div:nth-of-type(2) > div {

  /* body header company color */
  /* color: rgb(179, 161, 131); */

}
