/* ---------------------------------------------------------------- */
/* > nav-handlings-spring-boot.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* > nav-handlings-java.css
/* ---------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Styles
/* -------------------------------------------------------------- */

/* radio-codings-task-header-java-basics */

/* set - background colors , in progress: yellow, later: grey, done: green */
#radio-codings-task-header-spring-boot-basics:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-spring-boot-basics"],
#radio-codings-task-header-spring-boot-communications:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-spring-boot-communications"],
#radio-codings-task-header-spring-boot-data-security:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-spring-boot-data-security"],
#radio-codings-task-header-spring-boot-ai-cloud:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-spring-boot-ai-cloud"],
#radio-codings-header-nav-debugging:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-header-nav-debugging"]  {

  background-color: rgb(204, 204, 204);
  color:rgb(91, 91, 91);

}

/* border left - counters */
#radio-codings-task-header-spring-boot-basics:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-spring-boot-basics"] .codings-task-header-nav-item-counter-box,
#radio-codings-task-header-spring-boot-communications:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-spring-boot-communications"] .codings-task-header-nav-item-counter-box,
#radio-codings-task-header-spring-boot-data-security:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-spring-boot-data-security"] .codings-task-header-nav-item-counter-box,
#radio-codings-task-header-spring-boot-ai-cloud:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-spring-boot-ai-cloud"] .codings-task-header-nav-item-counter-box {

  border-left: 1px solid rgb(173, 173, 173);

}

/* Set bg-c + border - unshown */
#radio-codings-task-header-unshown:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-unshown"] {

  background-color: rgb(204, 204, 204);
  color:rgb(84, 84, 84);

}

/* -------------------------------------------------------------- */
/* Show Content
/* -------------------------------------------------------------- */

/* show - codings masonry content */
#radio-codings-task-header-spring-boot-basics:checked ~ .row-container:nth-of-type(3) #codings-masonry-content,
#radio-codings-task-header-spring-boot-communications:checked ~ .row-container:nth-of-type(3) #codings-masonry-content,
#radio-codings-task-header-spring-boot-data-security:checked ~ .row-container:nth-of-type(3) #codings-masonry-content,
#radio-codings-task-header-spring-boot-ai-cloud:checked ~ .row-container:nth-of-type(3) #codings-masonry-content {

  display: grid;

}
