/* ---------------------------------------------------------------- */
/* > nav-handlings-observability.css
/* ---------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Styles
/* -------------------------------------------------------------- */

/* radio-codings-task-header-observability-basics */

/* set - background colors , in progress: yellow, later: grey, done: green */
#radio-codings-task-header-cloud-gcp-basics:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-cloud-gcp-basics"],
#radio-codings-task-header-cloud-gcp-compute-data:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-cloud-gcp-compute-data"],
#radio-codings-task-header-cloud-gcp-cicd-iac:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-cloud-gcp-cicd-iac"],
#radio-codings-task-header-cloud-gcp-advanced:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-cloud-gcp-advanced"]  {

  background-color: rgb(204, 204, 204);
  color:rgb(91, 91, 91);

}

/* border left - counters */
#radio-codings-task-header-cloud-gcp-basics:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-cloud-gcp-basics"] .codings-task-header-nav-item-counter-box,
#radio-codings-task-header-cloud-gcp-compute-data:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-cloud-gcp-compute-data"] .codings-task-header-nav-item-counter-box,
#radio-codings-task-header-cloud-gcp-cicd-iac:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-cloud-gcp-cicd-iac"] .codings-task-header-nav-item-counter-box,
#radio-codings-task-header-cloud-gcp-advanced:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-cloud-gcp-advanced"] .codings-task-header-nav-item-counter-box {

  border-left: 1px solid rgb(173, 173, 173);

}

/* Set bg-c + border - unshown */
#radio-codings-task-header-unshown:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-unshown"] {

  background-color: rgb(204, 204, 204);
  color:rgb(84, 84, 84);

}

/* -------------------------------------------------------------- */
/* Show Content
/* -------------------------------------------------------------- */

/* show - codings masonry content */
#radio-codings-task-header-cloud-gcp-basics:checked ~ .row-container:nth-of-type(3) #codings-masonry-content,
#radio-codings-task-header-cloud-gcp-compute-data:checked ~ .row-container:nth-of-type(3) #codings-masonry-content,
#radio-codings-task-header-cloud-gcp-cicd-iac:checked ~ .row-container:nth-of-type(3) #codings-masonry-content,
#radio-codings-task-header-cloud-gcp-advanced:checked ~ .row-container:nth-of-type(3) #codings-masonry-content {

  display: grid;

}
