/* --------------------------------------------------------------- */
/* > private-page.css
/*
/* : private page
/* --------------------------------------------------------------- */

#private-page-container {

  margin-top: 4.5em;

  z-index: 2;

  /* important to allow child elements to use max content area */
  height: 100%;
  width: 100%;

  display: grid;
  justify-items: center;
  /* row-gap: 1em; */

  background-color: rgb(0, 238, 255);

}
