/* --------------------------------------------------------------- */
/* > about-me.css
/*
/* : styles about me
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* About Me Container
/* --------------------------------------------------------------- */

#about-me-container {

  width: 100%;
  height: 100%;

  padding: .8em;

  background-color: green;
  background-color: rgb(28, 28, 28);

}
