/* --------------------------------------------------------------- */
/* > about-me.css
/*
/* : styles about me
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* 🟪 Auslagern Font Styles
/* --------------------------------------------------------------- */

.txt-b-light-brown {

  font-weight: bold;
  color:wheat;

}

.txt-b-light-grey {

  font-weight: bold;
  color:rgb(152, 152, 152);
  color:rgb(167, 152, 124);

  color:rgb(189, 172, 141);

  color:wheat;

  /* font-size: 14.5px; */

}

.txt-b-light-brown-transparent {

  font-weight: bold;
  color:rgb(215, 195, 158);

  color:rgb(158, 158, 158);

  opacity: .8;

}

/* --------------------------------------------------------------- */
/* About Me Container
/* --------------------------------------------------------------- */

#about-me-container {

  width: 100%;
  height: 100%;

  padding: 2em 0em 3em 0em;

  /* mobile */
  display: grid;
  justify-items: center;

  grid-template-areas:

    'welcome-about'
    'img-container-about-quick-info'
    'quick-info-about'

  ;

  row-gap: 2em;

  /* background-color: rgb(28, 28, 28); */

}
