/* --------------------------------------------------------------- */
/* > resp-about-me.css
/*
/* : styles resp about me
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* >= 380px
/* --------------------------------------------------------------- */

@media (min-width: 380px ) {


  /* title container */
  #title-welcome-sfd-container {

    line-height: 1.6em;

  }

  /* text - welcome */
  #title-welcome {

   font-size: 18px;
   /* color:red; */

  }

  /* text - sfd */
  #title-welcome-sfd > span:nth-of-type(1) {

    font-size: 20px;

  }

  /* text - world */
  #title-welcome-sfd > span:nth-of-type(2) {

    font-size: 20px;

  }

  /* sub text - sfd */
  #sub-title-welcome-sfd {

    /* padding-top: 0em; */
    /* font-size: 16px; */

  }

  #quick-info-text-about-container > main {

    /* font-size: 18px;
    line-height: 1.8em; */

    padding-left: .6em;

    color:rgb(122, 122, 122);

  }



}

/* --------------------------------------------------------------- */
/* >= 400px
/* --------------------------------------------------------------- */

@media (min-width: 400px ) {

  /* --------------------------------------------------------------- */
  /* Imgs | Rectangle & Square
  /* --------------------------------------------------------------- */

  #img-about-me-rectangle,
  #img-about-me-square {

    width: 80%;

  }

}

/* --------------------------------------------------------------- */
/* >= 420px
/* --------------------------------------------------------------- */

@media (min-width: 420px ) {

  /* --------------------------------------------------------------- */
  /* Welcome | Img Clipart
  /* --------------------------------------------------------------- */
  #img-clipart-welcome-sfd {

    height: 5.5em;

  }

}

/* --------------------------------------------------------------- */
/* >= 500px
/* --------------------------------------------------------------- */

@media (min-width: 600px ) {

  /* --------------------------------------------------------------- */
  /* Imgs | Rectangle & Square
  /* --------------------------------------------------------------- */

  #img-about-me-rectangle,
  #img-about-me-square {

    width: 50%;

  }

}

/* --------------------------------------------------------------- */
/* >= 600px
/* --------------------------------------------------------------- */

@media (min-width: 600px ) {


  /* --------------------------------------------------------------- */
  /* Quick Info | Container
  /* --------------------------------------------------------------- */
  #quick-info-about-container {

    /* mobile */
    grid: auto / 1fr auto;

}

  /* --------------------------------------------------------------- */
  /* Quick Info | img square
  /* --------------------------------------------------------------- */
  #img-about-me-prof-square {

    width: 14em;
  }



}

/* --------------------------------------------------------------- */
/* >= 700px
/* --------------------------------------------------------------- */

@media (min-width: 700px ) {

  /* --------------------------------------------------------------- */
  /* Imgs | Rectangle & Square
  /* --------------------------------------------------------------- */

  #img-about-me-rectangle,
  #img-about-me-square {

    width: 14.5em;
    /* border: 3px solid wheat; */

  }

  /* --------------------------------------------------------------- */
  /* Imgs | Rectangle, Square
  /* --------------------------------------------------------------- */

  /* unshown img square */
  #img-about-me-square {

    display: none;

  }

  /* show img rectangle */
  #img-about-me-rectangle {

    margin-bottom: 4em;

    align-self: flex-end;
    display: grid;

  }

  /* --------------------------------------------------------------- */
  /* About Me Container
  /* --------------------------------------------------------------- */

  #about-me-container {

    width: 42em;

    /* desktop */
    align-items: center;

    grid-template-areas:

      'welcome-about img-about'
      'quick-info-about img-about'

    ;

    row-gap: 3em;
    column-gap: 2.5em;


  }

  /* --------------------------------------------------------------- */
  /* Quick Info Text
  /* --------------------------------------------------------------- */

  #quick-info-text-about-container {

    /* desktop */
    justify-items: flex-start;

  }

  /* --------------------------------------------------------------- */
  /* Quick Info Text | Main
  /* --------------------------------------------------------------- */

  #quick-info-text-about-container > main {

    /* desktop */
    text-align: left;
    padding: 0 0 0 .3em;

}

}


/* --------------------------------------------------------------- */
/* >= 700px
/* --------------------------------------------------------------- */

@media (min-width: 800px ) {

  #about-me-container {

    width: 45em;

    /* background-color: red; */

  }

}

/* --------------------------------------------------------------- */
/* >= 1400px
/* --------------------------------------------------------------- */
@media (min-width: 1400px ) {


   #about-me-container {

    width: 50em;

    /* background-color: red; */

  }

  /* --------------------------------------------------------------- */
  /* Imgs | Rectangle
  /* --------------------------------------------------------------- */

  #img-about-me-rectangle {

    margin-bottom: .5em;

    width: 17em;
    /* border: 3px solid red; */

  }


}



/* 14 inch Laptops */
/* --------------------------------------------------------------- */
/* >= 400px & <= 1200px
/* --------------------------------------------------------------- */

@media (max-height: 900px ) and (max-width: 1024px)  {

  /* show img square */
  #img-about-me-prof-square {

    /* display: grid;
    width: 14em; */

  }



}



/* Desktop over 14 inch */
/* --------------------------------------------------------------- */
/* >= 400px & > 1200px
/* --------------------------------------------------------------- */

@media (min-height: 901px )  {

  /* unshown img square */
  #img-about-me-prof-square {

    /* display: none; */

  }

  /* show img rectangle */
  #img-about-me-prof-rectangle {

    /* display: grid; */

  }

}
