/* --------------------------------------------------------------- */
/* > welcome-about-me.css
/*
/* : styles welcome about me
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Welcome SuperfreshDev Container
/* --------------------------------------------------------------- */

#welcome-sfd-container {

  display: flex;
  align-items: center;
  column-gap: .8em;

}

/* --------------------------------------------------------------- */
/* [1/2] | Img Clipart
/* --------------------------------------------------------------- */

#img-clipart-welcome-sfd {

  height: 6em;

}

/* --------------------------------------------------------------- */
/* [2/2] | Title Welcome Superfreshdev Container
/* --------------------------------------------------------------- */

#title-welcome-sfd-container {

  line-height: 1.7em;

  font-weight: bold;

}

/* ----------------------------------- */
/* Title Welcome
/* ----------------------------------- */

#title-welcome {

  color:#aeb7bf;

  font-size: 18px;

}

/* ----------------------------------- */
/* Title Welcome Sfd
/* ----------------------------------- */

#title-welcome-sfd {


}

/* span 1 | superfreshdev */
#title-welcome-sfd > span:nth-of-type(1) {

  font-size: 20px;
  color:white;

}

/* span 2 | world */
#title-welcome-sfd > span:nth-of-type(2) {

  font-size: 20px;
  color:wheat;

}

/* ----------------------------------- */
/* Sub Title Sfd
/* ----------------------------------- */

#sub-title-welcome-sfd {

  color:#75787a;

}
