/* --------------------------------------------------------------- */
/* > welcome-about-me.css
/*
/* : styles welcome about me
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Welcome SuperfreshDev Container
/* --------------------------------------------------------------- */

#welcome-sfd-container {

  grid-area: welcome-about;

  width: 100%;

  display: flex;
  align-items: center;
  column-gap: .8em;

}

/* --------------------------------------------------------------- */
/* [1/2] | Img Clipart
/* --------------------------------------------------------------- */

#img-clipart-welcome-sfd {

  /* small mobile */
  height: 4.5em;

}

/* --------------------------------------------------------------- */
/* [2/2] | Title Welcome Superfreshdev Container
/* --------------------------------------------------------------- */

#title-welcome-sfd-container {

  line-height: 1.5em;

  font-weight: bold;

}

/* ----------------------------------- */
/* Title Welcome
/* ----------------------------------- */

#title-welcome {

  /* small mobile */
  font-size: 14.5px;
  color:#aeb7bf;

}

/* ----------------------------------- */
/* Title Welcome Sfd
/* ----------------------------------- */

#title-welcome-sfd {

}

/* span 1 | superfreshdev */
#title-welcome-sfd > span:nth-of-type(1) {

  /* small mobile */
  font-size: 18px;
  color:white;

}

/* span 2 | world */
#title-welcome-sfd > span:nth-of-type(2) {

  /* small mobile */
  font-size: 16px;
  color:wheat;

}

/* ----------------------------------- */
/* Sub Title Sfd
/* ----------------------------------- */

#sub-title-welcome-sfd {

  padding-top: .3em;

  line-height: 1.3em;

  /* small mobile */
  font-size: 14.5px;

  color:rgb(132, 132, 132);

}
