/* --------------------------------------------------------------- */
/* > masnory-category-task-container.css
/*
/* : styles codings
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Mansory Category Task List
/* --------------------------------------------------------------- */

.mansory-category-task-list {

  position: relative;
  width: 100%;
  /* display: grid;
  grid: auto / 1fr 1fr; */


}

/* --------------------------------------------------------------- */
/* Divs | Mansory Category Task List
/* --------------------------------------------------------------- */

.mansory-category-task-list > div {

  padding: .8em;

  width: calc(50% - 8px);
  margin-bottom: 16px;

  border-radius: .8em;

  border: 1px dashed rgb(205, 205, 205);

}
