/* ---------------------------------------------------------------- */
/* > kits-category-container.css
/* ---------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Kits Category Container
/* --------------------------------------------------------------- */

.kits-category-container {

  width: 100%;
  /* padding: 3em .8em; */

  display: grid;
  justify-items: center;
  row-gap: 1.5em;

  /* background-color: white; */

}

/* --------------------------------------------------------------- */
/* Header | Kits Items Row Container
/* --------------------------------------------------------------- */

.kits-category-container > header {

  display: flex;
  align-items: center;
  column-gap: 1em;

  /* background-color: red; */

}

/* ------------------------------------------ */
/* Kits Category Header | Box
/* ------------------------------------------ */

.kits-header-category-box {

  height: 2.3em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  column-gap: .2em;

  border-radius: .6em;

  border: 1px solid rgb(197, 196, 196);
  background-color: rgba(171, 171, 171, 0.4);

  background-color: rgba(90, 90, 90, .2);

  /* background-color: rgb(106, 106, 106); */

}

/* ------------------------------------------ */
/* Category Title | Box
/* ------------------------------------------ */

.kits-header-category-box > div:nth-of-type(1) {

  font-weight: bold;
  color:rgb(70, 70, 70);

}

/* text */
.kits-header-category-box > div:nth-of-type(1) > div {

  font-size: 16px;

}

/* ------------------------------------------ */
/* Kits Info | Box
/* ------------------------------------------ */

.kits-header-category-box > div:nth-of-type(2) {

  display: flex;
  align-items: center;
  column-gap: .2em;

  color:rgba(91, 91, 91, 0.8);

}

/* text */
.kits-header-category-box > div:nth-of-type(2) > div {

  font-size: 16px;

}

/* ------------------------------------------ */
/* Kits Category Header | Nr Box
/* ------------------------------------------ */

.kits-header-category-nr-box {

  display: flex;
  align-items: center;
  /* column-gap: .1em; */

  font-weight: bold;

  color:rgba(92, 92, 92, .4);

}

.kits-header-category-nr-box > div {

  font-size: 16px;

}

/* --------------------------------------------------------------- */
/* Main | Kits Items Row Container
/* --------------------------------------------------------------- */

.kits-category-container > main {

  width: 100%;
  height: 100%;
  /* margin-top: 3em;
  margin-bottom: 1em; */

  display: grid;
  justify-items: center;
  align-items: center;

  column-gap: 2em;
  row-gap: 2em;

}


#kits-masonry-test {

  width: 100%;
  height: 100%;
  /* margin-top: 3em;
  margin-bottom: 1em; */

  display: grid;
  justify-items: center;
  align-items: center;

  column-gap: 2em;
  row-gap: 2em;

}
