/* ---------------------------------------------------------------- */
/* > kits-category-container.css
/* ---------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Codings Kits Category Container
/* --------------------------------------------------------------- */

.kits-category-container {

  width: 100%;

  display: grid;
  row-gap: 1.3em;

  /* background-color: red; */

}
