/* --------------------------------------------------------------- */
/* > lbl-icon-text-light-grey-on-dark
/* : styles label icon text dark
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label Icon + Text | Light Grey
/* --------------------------------------------------------------- */

.lbl-icon-text-light-grey-on-dark {

  height: 2em;

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  color: #949494;

  color:rgb(96, 96, 96);

}

/* div 1 */
.lbl-icon-text-light-grey-on-dark > div:last-child  {

  font-size: 14.5px;

}

/* --------------------------------------------------------------- */
/* Default Unshown | Black Img
/* --------------------------------------------------------------- */

.lbl-icon-text-light-grey-on-dark > img:nth-of-type(2) {

  display: none;

}

/* --------------------------------------------------------------- */
/* Hover Handlings
/* > show black img by hover, unshown grey img
/* --------------------------------------------------------------- */

.lbl-icon-text-light-grey-on-dark:hover {

  background-color: rgb(230, 230, 230);

  /* background-color: #cbcbcb; */
  color:black;

}

/* unshow grey img */
.lbl-icon-text-light-grey-on-dark:hover > img:nth-of-type(1) {

  display: none;

}

/* show black img */
.lbl-icon-text-light-grey-on-dark:hover > img:nth-of-type(2) {

  display: flex;

}
