/* --------------------------------------------------------------- */
/* > lbl-counter-transparent.css
/*
/* : styles label counter on light
/* : [ Icons + Title ] + Counter
/* : 🟩 100% - Finished
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label Counter | transparent
/* --------------------------------------------------------------- */

.lbl-counter-transparent {

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .4em;

  /* font-weight: bold; */

  /* font-style: italic; */

  /* background-color: rgb(245, 245, 245); */

  color:rgb(108, 108, 108);

  color: #707070;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  border: 1px solid rgb(67, 67, 67);

}

/* icons + title box */
.lbl-counter-transparent > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

/* div 1 - title */
.lbl-counter-transparent > div:nth-of-type(1) > div:last-child {

  font-size: 14.5px;
  /* color:red; */

}

/* --------------------------------------------------------------- */
/* Default Unshown | Black Img
/* --------------------------------------------------------------- */

.lbl-counter-transparent > div:nth-of-type(1) > img:nth-of-type(2) {

  display: none;

}

/* ------------------------------------------------------------------------- */
/* Extra Hover Handling
/* > show black img by hover, unshown grey img
/* ------------------------------------------------------------------------- */

.lbl-counter-transparent:hover {

  background-color: wheat;
  color:black;

}

/* unshow grey img */
.lbl-counter-transparent:hover > div:nth-of-type(1) > img:nth-of-type(1) {

  display: none;

}

/* show black img */
.lbl-counter-transparent:hover > div:nth-of-type(1) > img:nth-of-type(2) {

  display: flex;

}

/* -------------------------------------------------------------- */
/* Counter
/* -------------------------------------------------------------- */

.lbl-counter-transparent > div:nth-of-type(2) {

  height: 1.5em;
  padding: 0 .2em;

  display: flex;
  align-items: center;
  justify-content: center;

}

.lbl-counter-transparent > div:nth-of-type(2) > div {

  font-size: 14.5px;
  color:rgb(125, 125, 125);
  /* color:red; */

}
