/* ---------------------------------------------------------------- */
/* > nav-handlings-java.css
/* ---------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Styles
/* -------------------------------------------------------------- */

/* radio-codings-task-header-java-basics */

/* set - background colors , in progress: yellow, later: grey, done: green */
#radio-codings-task-header-java-basics:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-java-basics"],
#radio-codings-task-header-java-advanced:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-java-advanced"],
#radio-codings-task-header-java-libs:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-java-libs"] {

  background-color: rgb(204, 204, 204);
  color:rgb(91, 91, 91);

}

/* border left - counters */
#radio-codings-task-header-java-basics:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-java-basics"] .codings-task-header-nav-item-counter-box,
#radio-codings-task-header-java-advanced:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-java-advanced"] .codings-task-header-nav-item-counter-box,
#radio-codings-task-header-java-libs:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-java-libs"] .codings-task-header-nav-item-counter-box {

  border-left: 1px solid rgb(173, 173, 173);

}

/* Set bg-c + border - unshown */
#radio-codings-task-header-unshown:checked ~ .row-container:nth-of-type(2) label[for="radio-codings-task-header-unshown"] {

  background-color: rgb(204, 204, 204);
  color:rgb(84, 84, 84);

}

/* -------------------------------------------------------------- */
/* Show Content
/* -------------------------------------------------------------- */

/* show - codings masonry content */
#radio-codings-task-header-java-basics:checked ~ .row-container:nth-of-type(3) #codings-masonry-content,
#radio-codings-task-header-java-advanced:checked ~ .row-container:nth-of-type(3) #codings-masonry-content,
#radio-codings-task-header-java-libs:checked ~ .row-container:nth-of-type(3) #codings-masonry-content {

  display: grid;

}
