/* ---------------------------------------------------------------- */
/* > codings-task-card-footer.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Codings Task Card Footer
/* ---------------------------------------------------------------- */

.codings-task-card-footer {

  padding-top: .8em;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: .4em;

}

/* ---------------------------------------------------------------- */
/* Footer Links
/* ---------------------------------------------------------------- */

.codings-task-card-footer > a {

  text-decoration: none;

  height: 1.7em;
  padding: 0 .5em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  border-radius: .6em;

  font-weight: bold;

  border: 1px solid rgba(164, 164, 164, .4);
  color: rgb(133, 133, 133);

  transition: all .4s;

  opacity: .8;

}

/* text - Github */
.codings-task-card-footer > a > img {

  opacity: .4;

}


/* text - Github */
.codings-task-card-footer > a > div {

  font-size: 12px;

}

/* hover */
.codings-task-card-footer > a:hover {

  background-color: rgb(225, 225, 225);
  opacity: 1;

}


/* In Progress - Link */
.codings-task-card-in-progress .codings-task-card-footer > a {

  /* border: 1px solid rgb(202, 183, 134);
  color:rgb(165, 126, 29); */

}

/* hover */
.codings-task-card-in-progress .codings-task-card-footer > a:hover {

  /* background-color: rgb(255, 231, 163); */

}


/* Later - Link */
.codings-task-card-later .codings-task-card-footer > a {

  /* border: 1px solid rgba(164, 164, 164, .4);
  color: rgb(133, 133, 133); */

}

/* hover */
.codings-task-card-later .codings-task-card-footer > a:hover {

  /* background-color: rgb(224, 224, 224); */

}


/* Done - Link */
.codings-task-card-done .codings-task-card-footer > a {

  /* border: 1px solid rgb(155, 203, 142);
  color:rgb(77, 149, 59); */

}

/* hover */
.codings-task-card-done .codings-task-card-footer > a:hover {

  /* background-color: rgb(190, 250, 174); */

}
