/* ---------------------------------------------------------------- */
/* > codings-nav.css
/* ---------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* Row Container - Codings Navs
/* ----------------------------------------------------------------- */

#row-container-codings-navs {

  width: 100%;
  display: grid;
  justify-items: center;

}

/* ----------------------------------------------------------------- */
/* Row Container #1 - Codings Nav
/* > Tech, Algos, Challenges, Kits, Docs, Unshwon
/* ----------------------------------------------------------------- */

#row-container-codings-navs > .row-container:nth-of-type(1) {

  background-color: rgb(28, 28, 28);

  border-top: 1px solid rgb(44, 44, 44);

  border-bottom: 1px solid rgb(44, 44, 44);

}

/* ----------------------------------------------------------------- */
/* Row Container #2 - Codings Sub Nav
/* > Tech -> Sub Nav & Docs -> Sub Nav
/* ----------------------------------------------------------------- */

#row-container-codings-navs > .row-container:nth-of-type(2) {

  background-color: rgb(28, 28, 28);

  /* background-color: rgb(45, 45, 45); */

  /* background-color: white; */

}

/* ----------------------------------------------------------------- */
/* Codings Nav
/* ----------------------------------------------------------------- */

#codings-nav {

  padding: .8em 0em;

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: flex-end;

  /* justify-content: center; */

  column-gap: .6em;
  row-gap: .6em;

}
