/* ---------------------------------------------------------------- */
/* > codings-nav.css
/* ---------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* Row Container - Codings Navs
/* ----------------------------------------------------------------- */

#row-container-codings-navs {

  width: 100%;
  display: grid;
  justify-items: center;

}

/* ----------------------------------------------------------------- */
/* [1/2] | Row Container - Codings Nav
/* ----------------------------------------------------------------- */

#row-container-codings-navs > .row-container:nth-of-type(1) {

  background-color: rgb(28, 28, 28);

  border-top: 1px solid rgb(44, 44, 44);

  /* border-bottom: 1px solid rgb(44, 44, 44); */

}

/* ----------------------------------------------------------------- */
/* Codings Nav
/* > Tech, Algos, Challenges, Kits, Docs, Unshown
/* ----------------------------------------------------------------- */

#codings-nav {

  padding: .8em 0em 1em 0;

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: flex-end;

  /* justify-content: center; */

  column-gap: .4em;
  row-gap: .6em;

}

/* ----------------------------------------------------------------- */
/* [2/2] | Row Container - Codings Sub Nav
/* > Tech, Kits, Docs -> Sub Navs
/* ----------------------------------------------------------------- */

#row-container-codings-navs > .row-container:nth-of-type(2) {

  background-color: rgb(245, 245, 245);

}
