/* ---------------------------------------------------------------- */
/* > codings-nav-handlings.css
/* : tech, algos, challenges, kits, docs, unshown
/* ---------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Default Unshown
/* -------------------------------------------------------------- */

input[name="name-radio-codings-nav"] {

  display: none;

}

/* -------------------------------------------------------------- */
/* Styles
/* -------------------------------------------------------------- */

/* set background color */
#radio-codings-tech-nav:checked ~ #codings-navs-row-container label[for="radio-codings-tech-nav"],
#radio-codings-algos-nav:checked ~ #codings-navs-row-container label[for="radio-codings-algos-nav"],
#radio-codings-challenges-nav:checked ~ #codings-navs-row-container label[for="radio-codings-challenges-nav"],
#radio-codings-kits-nav:checked ~ #codings-navs-row-container label[for="radio-codings-kits-nav"],
#radio-codings-docs-nav:checked ~ #codings-navs-row-container label[for="radio-codings-docs-nav"],
#radio-codings-unshwon-nav:checked ~ #codings-navs-row-container label[for="radio-codings-unshwon-nav"] {

  background-color: rgb(210, 195, 164);
  color:rgb(36, 36, 36);


}

/* by checked, unshown grey img */
#radio-codings-tech-nav:checked ~ #codings-navs-row-container label[for="radio-codings-tech-nav"] > img:nth-of-type(1),
#radio-codings-algos-nav:checked ~ #codings-navs-row-container label[for="radio-codings-algos-nav"] > img:nth-of-type(1),
#radio-codings-challenges-nav:checked ~ #codings-navs-row-container label[for="radio-codings-challenges-nav"]  > img:nth-of-type(1),
#radio-codings-kits-nav:checked ~ #codings-navs-row-container label[for="radio-codings-kits-nav"] > img:nth-of-type(1),
#radio-codings-docs-nav:checked ~ #codings-navs-row-container label[for="radio-codings-docs-nav"] > img:nth-of-type(1),
#radio-codings-unshwon-nav:checked ~ #codings-navs-row-container label[for="radio-codings-unshwon-nav"] > img:nth-of-type(1) {

 display: none;

}

/* by checked, show black img */
#radio-codings-tech-nav:checked ~ #codings-navs-row-container label[for="radio-codings-tech-nav"] > img:nth-of-type(2),
#radio-codings-algos-nav:checked ~ #codings-navs-row-container label[for="radio-codings-algos-nav"]  img:nth-of-type(2),
#radio-codings-challenges-nav:checked ~ #codings-navs-row-container label[for="radio-codings-challenges-nav"]  > img:nth-of-type(2),
#radio-codings-kits-nav:checked ~ #codings-navs-row-container label[for="radio-codings-kits-nav"] > img:nth-of-type(2),
#radio-codings-docs-nav:checked ~ #codings-navs-row-container label[for="radio-codings-docs-nav"] > img:nth-of-type(2),
#radio-codings-unshwon-nav:checked ~ #codings-navs-row-container label[for="radio-codings-unshwon-nav"] > img:nth-of-type(2) {

 display: flex;

}

/* -------------------------------------------------------------- */
/* Show Navs ( tech + kits + docs )
/* -------------------------------------------------------------- */

#radio-codings-tech-nav:checked ~ #codings-navs-row-container #codings-sub-navs-container #codings-tech-nav,
#radio-codings-kits-nav:checked ~ #codings-navs-row-container #codings-sub-navs-container #codings-kits-nav,
#radio-codings-docs-nav:checked ~ #codings-navs-row-container #codings-sub-navs-container #codings-docs-nav {

 display: flex;

}

/* ---------------------------------------------------------------------------- */
/* [1/4] | Show Content (Default) | Tech, Algos, Challenges, Kits, Docs
/* ---------------------------------------------------------------------------- */

#radio-codings-tech-nav:checked ~ #codings-content-row-container,
#radio-codings-algos-nav:checked ~ #codings-content-row-container,
#radio-codings-challenges-nav:checked ~ #codings-content-row-container,
#radio-codings-kits-nav:checked ~ #codings-content-row-container,
#radio-codings-docs-nav:checked ~ #codings-content-row-container {

  display: grid;

}

/* ------------------------------------------------------------------- */
/* [1/2] - Unshown Content if
/* ------------------------------------------------------------------- */


  /* -------------------------------------------------------------- */
  /* Unshown "Task Container" if
  /* > Kits, Docs, Unshown = checked
  /* -------------------------------------------------------------- */

  #radio-codings-kits-nav:checked ~ #codings-content-row-container #codings-task-container,
  #radio-codings-docs-nav:checked ~ #codings-content-row-container #codings-task-container,
  #radio-codings-unshwon-nav:checked ~ #codings-content-row-container #codings-task-container {

    display: none;

  }

  /* -------------------------------------------------------------- */
  /* Unshown "Kits Content" if
  /* > Tech,Algos,Challenges,Docs,Unshwon = checked
  /* -------------------------------------------------------------- */

  #radio-codings-tech-nav:checked ~ #codings-content-row-container #codings-kits-container,
  #radio-codings-algos-nav:checked ~ #codings-content-row-container #codings-kits-container,
  #radio-codings-challenges-nav:checked ~ #codings-content-row-container #codings-kits-container,
  #radio-codings-docs-nav:checked ~ #row-container-codings-unshown #codings-kits-container,
  #radio-codings-unshwon-nav:checked ~ #codings-content-row-container #codings-kits-container {

    display: none;

  }

  /* -------------------------------------------------------------- */
  /* Unshown "Docs Content" if
  /* > Tech,Algos,Challenges,Kits,Unshown = checked
  /* -------------------------------------------------------------- */

  #radio-codings-tech-nav:checked ~ #codings-content-row-container #codings-docs-container,
  #radio-codings-algos-nav:checked ~ #codings-content-row-container #codings-docs-container,
  #radio-codings-challenges-nav:checked ~ #codings-content-row-container #codings-docs-container,
  #radio-codings-kits-nav:checked ~ #codings-content-row-container #codings-docs-container,
  #radio-codings-unshwon-nav:checked ~ #codings-content-row-container #codings-docs-container  {

    display: none;

  }

  /* -------------------------------------------------------------- */
  /* Unshown "Unshown Content" if
  /* > Tech,Algos,Challenges,Kits,Docs = checked
  /* -------------------------------------------------------------- */

  #radio-codings-tech-nav:checked ~ #row-container-codings-unshown #codings-unshown-container,
  #radio-codings-algos-nav:checked ~ #row-container-codings-unshown #codings-unshown-container,
  #radio-codings-challenges-nav:checked ~ #row-container-codings-unshown #codings-unshown-container,
  #radio-codings-kits-nav:checked ~ #row-container-codings-unshown #codings-unshown-container,
  #radio-codings-docs-nav:checked ~ #row-container-codings-unshown #codings-unshown-container  {

    display: none;

  }

/* ------------------------------------------------------------------- */
/* [2/2] - Show Content if
/* ------------------------------------------------------------------- */

  /* -------------------------------------------------------- */
  /* Show Codings Content "tech,algos,challenges" if
  /* > tech,algos,challenges = checked
  /* -------------------------------------------------------- */

  #radio-codings-tech-nav:checked ~ #codings-content-row-container #codings-task-container,
  #radio-codings-algos-nav:checked ~ #codings-content-row-container #codings-task-container,
  #radio-codings-challenges-nav:checked ~ #codings-content-row-container #codings-task-container {

    display: grid;

  }

  /* -------------------------------------------------------------- */
  /* Show "Coding Task Header" if
  /* > Tech,Algos,Challenges = checked
  /* -------------------------------------------------------------- */

  #radio-codings-tech-nav:checked ~ #codings-content-row-container > #codings-task-container #codings-task-header,
  #radio-codings-algos-nav:checked ~ #codings-content-row-container > #codings-task-container #codings-task-header,
  #radio-codings-challenges-nav:checked ~ #codings-content-row-container > #codings-task-container #codings-task-header {

    display: flex;

  }

  /* -------------------------------------------------------- */
  /* Show "Kits Content"
  /* -------------------------------------------------------- */

  #radio-codings-kits-nav:checked ~ #codings-content-row-container #codings-kits-container {

    display: grid;

  }

  /* -------------------------------------------------------- */
  /* Show "Docs Content"
  /* -------------------------------------------------------- */

  #radio-codings-docs-nav:checked ~ #codings-content-row-container #codings-docs-container {

    display: grid;

  }

  /* -------------------------------------------------------- */
  /* Show "Unshown Content - Choose Topic"
  /* -------------------------------------------------------- */

  #radio-codings-unshwon-nav:checked ~ #codings-unshown-row-container #codings-unshown-container {

    display: flex;

  }
