/* --------------------------------------------------------------- */
/* > status-top-it-project-card.css
/*
/* : styles status top it project card
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Status Container | About Top IT Project Card
/* --------------------------------------------------------------- */

.status-container-about-top-it-project-card {

  padding: 0em .8em 0em .8em;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  /* background-color: rgb(227, 227, 227); */

}

/* --------------------------------------------------------------- */
/* Info Status | in progres, to do, later, finished
/* --------------------------------------------------------------- */

.info-status-in-progress,
.info-status-coming-next,
.info-status-later,
.info-status-finished {

  height: 1.8em;
  padding: 0 .6em;
  margin-bottom: 1em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  border-radius: .4em;

}

/* div */
.info-status-in-progress > div,
.info-status-coming-next > div,
.info-status-later > div,
.info-status-finished > div {

  font-weight: bold;
  font-size: 12.5px;

}

/* img */
.info-status-in-progress > img,
.info-status-coming-next > img,
.info-status-later > img,
.info-status-finished > img {

 opacity: .6;

}

/* --------------------------------------------------------------- */
/* In Progress
/* --------------------------------------------------------------- */

.info-status-in-progress {

  /* border: 1px solid rgb(229, 49, 49); */
  background-color: rgb(255, 227, 86);
  color: rgb(142, 119, 5);

}

/* extra for img arrow */
.info-status-in-progress > img {

  /* transform: rotate(-45deg); */

  /* layout fix */
  margin-top: .1em;

}

/* --------------------------------------------------------------- */
/* Animation | Status in Progress
/* --------------------------------------------------------------- */

.anim-status-in-progress {

  animation: anim-status-in-progress 1.3s infinite reverse ease-in-out;

}

@keyframes anim-status-in-progress {

  0% {

    background-color: rgb(255, 242, 180);
  }

  50% {


    background-color: rgb(255, 227, 86);


  }

  100% {

    background-color: rgb(255, 242, 180);

  }


}

/* --------------------------------------------------------------- */
/* Coming Next, Later
/* --------------------------------------------------------------- */

.info-status-coming-next,
.info-status-later {

  background-color: rgb(205, 205, 205);
  color: rgb(94, 94, 94);

}

/* img layout pos fix */
.info-status-coming-next > img {

  margin-top: 2px;

}

/* --------------------------------------------------------------- */
/* Finished
/* --------------------------------------------------------------- */

.info-status-finished {

  background-color: rgb(153, 251, 153);

}
