/* --------------------------------------------------------------- */
/* > status-top-it-project-card.css
/*
/* : styles status top it project card
/* --------------------------------------------------------------- */


/* ❌❌❌❌❌ DELETE */

/* --------------------------------------------------------------- */
/* Status Container | About Top IT Project Card
/* --------------------------------------------------------------- */

.status-container-about-top-it-project-card {

  padding: 0em .8em 0em .8em;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  /* background-color: rgb(227, 227, 227); */

}
