/* --------------------------------------------------------------- */
/* > handling-nav-about-show-more.css
/*
/* : styles handlings of nav
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Handling | Stylings
/* --------------------------------------------------------------- */

/* default checkbox unshown */
input[name="name-radio-show-more-about"] {

  display: none;

}


/* set background */
#radio-show-more-it-skills:checked ~ .row-container:nth-of-type(2) label[for="radio-show-more-it-skills"],
#radio-show-more-story-behind-sfd:checked ~ .row-container:nth-of-type(2) label[for="radio-show-more-story-behind-sfd"],
#radio-show-more-mindset:checked ~ .row-container:nth-of-type(2) label[for="radio-show-more-mindset"],
#radio-show-more-hobbys:checked ~ .row-container:nth-of-type(2) label[for="radio-show-more-hobbys"] {

  background-color: wheat;
  color:black;

}

/* unshown white img */
#radio-show-more-it-skills:checked ~ .row-container:nth-of-type(2) label[for="radio-show-more-it-skills"] > img:nth-of-type(1),
#radio-show-more-story-behind-sfd:checked ~ .row-container:nth-of-type(2) label[for="radio-show-more-story-behind-sfd"] > img:nth-of-type(1),
#radio-show-more-mindset:checked ~ .row-container:nth-of-type(2) label[for="radio-show-more-mindset"] > img:nth-of-type(1),
#radio-show-more-hobbys:checked ~ .row-container:nth-of-type(2) label[for="radio-show-more-hobbys"] > img:nth-of-type(1){

  display: none;

}

/* show black img */
#radio-show-more-it-skills:checked ~ .row-container:nth-of-type(2) label[for="radio-show-more-it-skills"] > img:nth-of-type(2),
#radio-show-more-story-behind-sfd:checked ~ .row-container:nth-of-type(2) label[for="radio-show-more-story-behind-sfd"] > img:nth-of-type(2),
#radio-show-more-mindset:checked ~ .row-container:nth-of-type(2) label[for="radio-show-more-mindset"] > img:nth-of-type(2),
#radio-show-more-hobbys:checked ~ .row-container:nth-of-type(2) label[for="radio-show-more-hobbys"] > img:nth-of-type(2){

  display: flex;

}

/* --------------------------------------------------------------- */
/* Handling | Action
/* --------------------------------------------------------------- */

/* show content */
#radio-show-more-it-skills:checked ~ .row-container:nth-of-type(2) #it-skills-show-more-container,
#radio-show-more-story-behind-sfd:checked ~ .row-container:nth-of-type(2) #story-behind-sfd-show-more-container,
#radio-show-more-mindset:checked ~ .row-container:nth-of-type(2) #mindset-show-more-container,
#radio-show-more-hobbys:checked ~ .row-container:nth-of-type(2) #hobbys-show-more-container {

  display: grid;

}

/* show info by any clicked */
#radio-show-more-it-skills:checked ~ .row-container:nth-of-type(2) #info-nav-show-more-about-container,
#radio-show-more-story-behind-sfd:checked ~ .row-container:nth-of-type(2) #info-nav-show-more-about-container,
#radio-show-more-mindset:checked ~ .row-container:nth-of-type(2) #info-nav-show-more-about-container,
#radio-show-more-hobbys:checked ~ .row-container:nth-of-type(2) #info-nav-show-more-about-container {

  display: flex;


}


/* show img category */
#radio-show-more-it-skills:checked ~ .row-container:nth-of-type(2) #info-nav-show-more-about-container > div:nth-of-type(1),
#radio-show-more-story-behind-sfd:checked ~ .row-container:nth-of-type(2) #info-nav-show-more-about-container > div:nth-of-type(2),
#radio-show-more-mindset:checked ~ .row-container:nth-of-type(2) #info-nav-show-more-about-container > div:nth-of-type(3),
#radio-show-more-hobbys:checked ~ .row-container:nth-of-type(2) #info-nav-show-more-about-container > div:nth-of-type(4) {

  display: flex;

}
