/* --------------------------------------------------------------- */
/* > nav-about-show-more.css
/*
/* : styles nav
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Nav About Show More
/* --------------------------------------------------------------- */

#nav-about-show-more {

  width: 100%;
  padding: 1em 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  column-gap: .6em;
  row-gap: .4em;

}

/* img white opacity */
#nav-about-show-more > label > img:nth-of-type(1) {

  opacity: .8;

}


/* default unshown black img, change only by check */
#nav-about-show-more > label > img:nth-of-type(2) {

  display: none;

}

/* hover - unshown white img */
#nav-about-show-more > label:hover > img:nth-of-type(1) {

  display: none;

}


/* hover - show black img */
#nav-about-show-more >  label:hover > img:nth-of-type(2) {

  display: flex;

}
