/* --------------------------------------------------------------- */
/* > nav-about-show-more.css
/*
/* : styles nav
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Nav About Show More
/* --------------------------------------------------------------- */

#nav-about-show-more {

  width: 100%;
  padding: 1em 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  column-gap: .6em;
  row-gap: .4em;

}
