/* ---------------------------------------------------------------- */
/* > docs-nav-handlings.css
/* ---------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Default Unshown
/* -------------------------------------------------------------- */

input[name="name-radio-codings-docs-nav"] {

  display: none;

}

/* ------------------------------------------------------------- */
/* Handlings - Stylings
/* ------------------------------------------------------------- */

/* text color */
#radio-codings-docs-nav-dev-basic:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-dev-basic"],
#radio-codings-docs-nav-web:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-web"],
#radio-codings-docs-nav-software:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-software"],
#radio-codings-docs-nav-backend:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-backend"],
#radio-codings-docs-nav-ai:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-ai"],
#radio-codings-docs-nav-others:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-others"] {

  background-color: rgb(207, 207, 207);
  color: rgb(74, 74, 74);

  opacity: 1;

}

/* unshow grey img */
#radio-codings-docs-nav-dev-basic:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-dev-basic"]  > div:nth-of-type(1) > img:nth-of-type(1),
#radio-codings-docs-nav-web:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-web"] > div:nth-of-type(1) > img:nth-of-type(1),
#radio-codings-docs-nav-software:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-software"]  > div:nth-of-type(1) > img:nth-of-type(1),
#radio-codings-docs-nav-backend:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-backend"]  > div:nth-of-type(1) > img:nth-of-type(1),
#radio-codings-docs-nav-ai:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-ai"]  > div:nth-of-type(1) > img:nth-of-type(1),
#radio-codings-docs-nav-others:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-others"]  > div:nth-of-type(1) > img:nth-of-type(1) {

  display: none;

}

/* unshow black img */
#radio-codings-docs-nav-dev-basic:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-dev-basic"]  > div:nth-of-type(1) > img:nth-of-type(2),
#radio-codings-docs-nav-web:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-web"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-codings-docs-nav-software:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-software"]  > div:nth-of-type(1) > img:nth-of-type(2),
#radio-codings-docs-nav-backend:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-backend"]  > div:nth-of-type(1) > img:nth-of-type(2),
#radio-codings-docs-nav-ai:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-ai"]  > div:nth-of-type(1) > img:nth-of-type(2),
#radio-codings-docs-nav-others:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-others"]  > div:nth-of-type(1) > img:nth-of-type(2) {

  display: flex;
  opacity: 1;

}

/* counter color */
#radio-codings-docs-nav-dev-basic:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-dev-basic"] > div:last-child > div,
#radio-codings-docs-nav-web:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-web"] > div:last-child > div,
#radio-codings-docs-nav-software:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-software"] > div:last-child > div,
#radio-codings-docs-nav-backend:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-backend"] > div:last-child > div,
#radio-codings-docs-nav-ai:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-ai"] > div:last-child > div,
#radio-codings-docs-nav-others:checked ~ #codings-docs-nav label[for="radio-codings-docs-nav-others"] > div:last-child > div {

  color:rgb(36, 36, 36);
  color: rgb(74, 74, 74);

}


/* ------------------------------------------------------------- */
/* Handlings - Content
/* ------------------------------------------------------------- */

/* #radio-codings-nav-tech-java:checked ~ #codings-sub-nav-tech #codings-masonry-container,
#radio-codings-nav-tech-spring-boot:checked ~ #codings-sub-nav-tech #codings-masonry-container,
#radio-codings-nav-tech-observability:checked ~ #codings-sub-nav-tech #codings-masonry-container,
#radio-codings-nav-tech-cloud:checked ~ #codings-sub-nav-tech #codings-masonry-container,
#radio-codings-nav-tech-ai-ml-llm:checked ~ #codings-sub-nav-tech #codings-masonry-container,
#radio-codings-nav-tech-angular:checked ~ #codings-sub-nav-tech #codings-masonry-container,
#radio-codings-nav-tech-pyhton:checked ~ #codings-sub-nav-tech #codings-masonry-container,
#radio-codings-nav-tech-react-native:checked ~ #codings-sub-nav-tech #codings-masonry-container {

 display: grid;

} */

/* unshown primary checked + nav tech any is checked -> unshown codings masonry container */
/* #radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-java:checked ~ #codings-sub-nav-tech #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-spring-boot:checked ~ #codings-sub-nav-tech #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-observability:checked ~ #codings-sub-nav-tech #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-cloud:checked ~ #codings-sub-nav-tech #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-ai-ml-llm:checked ~ #codings-sub-nav-tech #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-angular:checked ~ #codings-sub-nav-tech #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-pyhton:checked ~ #codings-sub-nav-tech #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-react-native:checked ~ #codings-sub-nav-tech #codings-masonry-container {

  display: none;

} */
