/* ---------------------------------------------------------------- */
/* > codings-unshown.css
/* ---------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* Codings Unshown - Row Container
/* ----------------------------------------------------------------- */

#codings-unshown-row-container {

  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;

}

/* ----------------------------------------------------------------- */
/* Codings - Unshown Container
/* ----------------------------------------------------------------- */

#codings-unshown-container {

  /* default unshown, by click will be shown */
  display: none;

}
