/* --------------------------------------------------------------- */
/* > codings.css
/*
/* : styles codings
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Codings Container
/* -------------------------------------------------------------- */

#codings-container {

  width: 100%;
  /* height: 100%; */

  display: grid;
  justify-items: center;
  align-content: flex-start;

  grid: auto calc(1fr + 2em) / 1fr;

  background-color: rgb(47, 47, 47);

  background-color: white;

}

/* -------------------------------------------------------------- */
/* Nav List Codings More It
/* -------------------------------------------------------------- */

#nav-list-codings-more-it {

  padding: 1.5em 0;

  display: grid;
  row-gap: 1em;

  /* background-color: red; */

}

.bg-x {

  z-index: 3;

  background-color: rgb(47, 47, 47);

}
