/* --------------------------------------------------------------- */
/* > resp-codings.css
/*
/* : styles resp codings
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* > 500px
/* --------------------------------------------------------------- */

@media (min-width: 500px) {

  /* -------------------------------------------------------------- */
  /* Header Coding Category Content
  /* -------------------------------------------------------------- */

  .header-coding-category-content {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

  }

  /* -------------------------------------------------------------- */
  /* Header Coding Category Task List
  /* -------------------------------------------------------------- */

  .codings-category-task-list {

    /* mobile */
    grid: auto / 1fr;
    padding: 1.5em 1em;

    gap: 1em;

  }


}

/* --------------------------------------------------------------- */
/* > 600px
/* --------------------------------------------------------------- */

@media (min-width: 600px) {

  #codings-header-img {

    display: flex;

  }

}

/* --------------------------------------------------------------- */
/* > 650px
/* --------------------------------------------------------------- */

@media (min-width: 650px) {


  /* -------------------------------------------------------------- */
  /* Codings - Masonry Container
  /* -------------------------------------------------------------- */

  /* #codings-masonry-container  {

    align-items: start;
    grid: auto / 1fr 1fr;

  } */

}

/* --------------------------------------------------------------- */
/* > 800px
/* --------------------------------------------------------------- */

@media (min-width: 800px) {

  /* -------------------------------------------------------------- */
  /* Header Coding Category Task List
  /* -------------------------------------------------------------- */

  .codings-category-task-list {

    /* mobile */
    grid: auto / 1fr 1fr;
    padding: 1.5em 1em;

    gap: 1em;

  }

}

/* --------------------------------------------------------------- */
/* > 900px
/* --------------------------------------------------------------- */

@media (min-width: 900px) {


  /* -------------------------------------------------------------- */
  /* Codings - Masonry Container
  /* -------------------------------------------------------------- */

  /* #codings-masonry-container  {

    align-items: start;
    grid: auto / 24em 24em;

    justify-content: center;



  } */

}

/* --------------------------------------------------------------- */
/* > 1300px
/* --------------------------------------------------------------- */

@media (min-width: 1300px) {


  /* -------------------------------------------------------------- */
  /* Codings - Masonry Container
  /* -------------------------------------------------------------- */

  /* #codings-masonry-container  {

    align-items: start;
    grid: auto / 26em 26em;

    justify-content: center;



  } */

}
