/* --------------------------------------------------------------- */
/* > resp-codings.css
/*
/* : styles resp codings
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* > 500px
/* --------------------------------------------------------------- */

@media (min-width: 500px) {

  /* -------------------------------------------------------------- */
  /* Header Coding Category Content
  /* -------------------------------------------------------------- */

  .header-coding-category-content {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

  }

}

/* --------------------------------------------------------------- */
/* > 650px
/* --------------------------------------------------------------- */

@media (min-width: 650px) {

  /* -------------------------------------------------------------- */
  /* Header Coding Category Container
  /* -------------------------------------------------------------- */

  .header-coding-category-container {

    width: 40em;
    /* background-color: yellow; */

  }



}
