/* --------------------------------------------------------------- */
/* > coding-category-list.css
/*
/* : styles coding category list
/* : tech - algos - leetcode - unshown
/* --------------------------------------------------------------- */

/* content-coding-category-list */

/* -------------------------------------------------------------- */
/* Coding Category List
/* -------------------------------------------------------------- */

#coding-category-list {

  position: relative;
  width: 100%;
  height: 100%;

  display: grid;
  /* grid: 1fr / 1fr; */

}

/* -------------------------------------------------------------- */
/* Coding Category List Item
/* : tech, algos, leetcode, unshown
/* -------------------------------------------------------------- */

.coding-category-list-item {

  height: 100%;

   padding: 2em 0;

  display: grid;
  align-content: flex-start;

  /* grid: 1fr / 1fr; */

}

/* -------------------------------------------------------------- */
/* All | Coding Content Container
/* : tech - algos - leetcode - unshown
/* -------------------------------------------------------------- */

#coding-tech-container,
#coding-algos-container,
#coding-leetcode-container {

  /* default unshown, only by check */
  display: none;

}

/* -------------------------------------------------------------- */
/* Coding Container - Unshown
/* -------------------------------------------------------------- */

#coding-unshown-container {

  height: 100%;
  width: 100%;

  display: grid;
  justify-items: center;
  align-content: center;
  /* align-items: center; */

  /* default unshown, only by check */
  display: none;

  /* background-color: white; */

}

#coding-unshown-container > img {

  margin-bottom: 6em;
  height: 8em;
  opacity: .1;

}
