/* --------------------------------------------------------------- */
/* > codings-content-list.css
/*
/* : styles codings content list
/* : tech - algos - leetcode - unshown
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Codings Content List Container
/* -------------------------------------------------------------- */

#codings-content-list-container {

  width: 100%;
  /* padding: 0 1.5em; */

  /* background-color: red; */
  background-color: white;

}

/* -------------------------------------------------------------- */
/* Coding Content List Item
/* -------------------------------------------------------------- */

.coding-content-list-item {

  height: 100%;

  display: grid;
  grid: 1fr / 1fr;

  /* background-color: blue; */

}

/* -------------------------------------------------------------- */
/* All | Coding Content Container
/* : tech - algos - leetcode - unshown
/* -------------------------------------------------------------- */

#coding-tech-container,
#coding-algos-container,
#coding-leetcode-container {

  /* default unshown, only by check */
  display: none;

}

/* -------------------------------------------------------------- */
/* Coding Container - Unshown
/* -------------------------------------------------------------- */

#coding-unshown-container {

  height: 100%;
  width: 100%;

  display: grid;
  justify-items: center;
  align-items: center;

  /* background-color: grey; */

  /* default unshown, only by check */
  display: none;

}

#coding-unshown-container > img {

  margin-bottom: 6em;

  height: 8em;

  opacity: .1;

}
