/* --------------------------------------------------------------- */
/* > codings-content-category.css
/*
/* : styles codings category
/* : tech - ...
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Coding Content Category Container
/* -------------------------------------------------------------- */

.coding-content-category-container {

  width: 100%;
  padding: 1.5em 0;

  display: grid;
  justify-items: center;

  grid: auto calc(1fr - 2em) / 1fr;

  /* background-color: red; */

}

/* -------------------------------------------------------------- */
/* Tech Coding Categories
/* -------------------------------------------------------------- */

#coding-tech-java-container,
#coding-tech-spring-boot-container,
#coding-tech-microservices-container,
#coding-tech-angular-container,
#coding-tech-python-container,
#coding-tech-react-native-container {

  /* default unshown */
  display: none;

}

/* -------------------------------------------------------------- */
/* Header | Coding Content Category Container
/* -------------------------------------------------------------- */

.coding-content-category-container > header {

  /* width: 70%; */
  width: 100%;

  display: grid;
  justify-items: flex-start;
  row-gap: .8em;

  /* mobile */
  display: grid;

}

/* -------------------------------------------------------------- */
/* Header Coding Category
/* -------------------------------------------------------------- */

.header-coding-category {

  width: 100%;

  display: grid;
  row-gap: .8em;

  font-weight: bold;

  /* background-color: yellow; */

}

/* -------------------------------------------------------------- */
/* Col 1 | Header
/* -------------------------------------------------------------- */

.header-coding-category > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: 1em;

}

/* text */
.header-coding-category > div:nth-of-type(1) > div {

  line-height: 1.5em;
  font-size: 18px;

}

/* -------------------------------------------------------------- */
/* Col 2 | Header
/* -------------------------------------------------------------- */

.header-coding-category > div:nth-of-type(2) {

  justify-self: flex-end;

  height: 2em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: .5em;

  border-radius: .6em;

  background-color: rgb(245, 245, 245);

}

/* img */
.header-coding-category > div:nth-of-type(2) > img {

  /* layout fix */
  margin-top: .1em;

  opacity: .6;

}

/* text */
.header-coding-category > div:nth-of-type(2) > div {

  font-size: 12.5px;
  color:grey;

}

/* -------------------------------------------------------------- */
/* Line Seperator | Coding Category
/* -------------------------------------------------------------- */

.line-seperator-coding-category {

  margin: 1.3em 0 2.5em 0;

  width: 100%;
  height: 1px;

  border-radius: 2.8em;

  background-color: rgb(217, 217, 217);

}
