/* --------------------------------------------------------------- */
/* > codings-header.css
/* : styles codings header
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Row - Codings Header
/* -------------------------------------------------------------- */

#row-codings-header {

  z-index: 4;

  /* border-top: 3px solid rgb(106, 106, 106);
  border-bottom: 4px solid rgb(106, 106, 106); */
  /* background-color: rgb(238, 238, 238); */

  background-color: rgb(43, 43, 43);

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

/* -------------------------------------------------------------- */
/* Codings Header
/* -------------------------------------------------------------- */

#codings-header {

  width: 100%;
  padding: 1.3em 0;

  /* display: grid;
  grid: auto / 1fr auto; */

  display: flex;
  align-items: center;

  column-gap: .8em;

  border-radius: 1em;

  /* background-color: rgb(43, 43, 43); */
  /* background-color: red; */

}

/* -------------------------------------------------------------- */
/* [1/2] | Codings Header Content
/* -------------------------------------------------------------- */

#codings-header-content {

  width: 100%;

  display: grid;
  justify-items: flex-start;

  row-gap: .8em;

}

/* ------------------------------------------- */
/* Codings Header Content - Status Row */
/* ------------------------------------------- */

#codings-header-content-status-row {

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

}

/* Status Details Container */
#codings-header-content-status-details-container {

  display: flex;
  column-gap: .4em;

}


/* Time Box */
#codings-header-content-time-box {

  height: 1.8em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .6em;

  font-weight: bold;

  color:rgb(187, 187, 187);

  opacity: .4;

  /* background-color: blue; */

}

/* img - Time Box */
#codings-header-content-time-box > img:nth-of-type(1) {

  height: .8em;
  opacity: .8;

}

/* div (title) - Time Box */
#codings-header-content-time-box > div:nth-of-type(1) {

  font-size: 13.5px;
  /* opacity: .5; */

}

/* ------------------------------------------- */
/* Codings Header Content - Title              */
/* ------------------------------------------- */

#codings-header-content-title {

  padding-left: .6em;

  line-height: 1.4em;

  display: grid;
  row-gap: .3em;

  font-weight: bold;


}

/* first title */
#codings-header-content-title > div:nth-of-type(1) {

  font-size: 20px;
  color:white;

}

/* sub title */
#codings-header-content-title > div:nth-of-type(2) {

  color: #8f8f8f;

}

/* -------------------------------------------------------------- */
/* [2/2] | Codings Header Img
/* -------------------------------------------------------------- */

#codings-header-img {

  height: 6.5em;

  border-radius: .6em;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  border: 3px solid rgba(62, 62, 62, 0.4);

  /* default mobile - unshown */
  display: none;

}
