/* --------------------------------------------------------------- */
/* > header-coding-category.css
/*
/* : styles header codings category
/* :
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Row | Header Coding Category Container
/* -------------------------------------------------------------- */

#row-header-coding-category-container {

  z-index: 4;
  background-color: rgba(29, 29, 29, 1);

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  /* border-top: 3px solid rgb(236, 236, 236); */
  /* border-bottom: 3px solid rgb(57, 57, 57); */


}

/* -------------------------------------------------------------- */
/* Header Coding Category Container
/* -------------------------------------------------------------- */

#header-coding-category-container {

  width: 100%;
  padding: 1em 0;

  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */

  justify-content: space-between;
  column-gap: 2.5em;
  row-gap: .8em;

  display: none;

}

/* -------------------------------------------------------------- */
/* [1/2] | Header Coding | Title Container
/* -------------------------------------------------------------- */

#header-coding-title-container {

  display: grid;
  justify-items: flex-start;
  row-gap: .6em;

  /* background-color: blue; */


}

/* header - title */
#header-coding-title-container > div:last-child {

  padding-left: .3em;

  line-height: 1.6em;

  font-size: 16px;
  font-weight: bold;
  /* font-style: italic; */

  color:rgb(180, 180, 180);

}

/* -------------------------------------------------------------- */
/* [2/2] | Header Coding | Time Container
/* -------------------------------------------------------------- */

#header-coding-time-container {

  display: grid;
  /* row-gap: .3em; */

  /* background-color: blue; */

}

/* --------------------------------------------- */
/* Time Box
/* --------------------------------------------- */

#header-coding-time-container > div:nth-of-type(1) {

  justify-self: flex-end;
  align-self: flex-end;

  /* height: 2em; */
  /* min-width: 5.5em; */
  /* padding: 0 .6em; */

  /* background-color: red; */

  display: flex;
  align-items: center;
  justify-content: flex-end;

  column-gap: .4em;

  border-radius: .6em;

}

/* time box - img */
#header-coding-time-container > div:nth-of-type(1) > img:nth-of-type(1) {

  /* layout fix */
  margin-top: .1em;

  height: .7em;

  opacity: .5;

}

/* time box - text */
#header-coding-time-container > div:nth-of-type(1) > div:last-child {

  font-size: 12.5px;

  color:rgb(109, 109, 109);

  font-weight: bold;

}

/* --------------------------------------------- */
/* Img Category
/* --------------------------------------------- */

#header-coding-time-container > img:last-child {

  height: 5em;

  border-radius: .4em;

  border: 3px solid rgba(95, 95, 95, 0.6);

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
