
/* --------------------------------------------------------------- */
/* > resp-coding-content-container.css
/*
/* : styles resp coding content container
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* > 600px
/* --------------------------------------------------------------- */

@media (min-width: 600px) {


  .coding-content-container > header {

    /* width: 70%; */
    width: 100%;
    padding: 1.5em 0;

    display: grid;
    justify-items: flex-start;

    /* mobile */
    display: grid;

    /* background-color: yellow; */

  }

  /* -------------------------------------------------------------- */
  /* Header Content Coding Container
  /* -------------------------------------------------------------- */

  .header-content-coding-container {

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .8em;

    font-weight: bold;


  }

}

/* --------------------------------------------------------------- */
/* > 1000px
/* --------------------------------------------------------------- */

@media (min-width: 900px) {

   .coding-content-container > header {

    width: 45em;

    /* background-color: rgb(110, 110, 110); */

  }


}
