/* --------------------------------------------------------------- */
/* > overflow-sets.css
/*
/* : styles overflow sets e.g smooth open close effects
/* --------------------------------------------------------------- */



/* ---------------------------------------------------------------- */
/* Overflows
/* ---------------------------------------------------------------- */

.overflow-hidden {

  overflow: hidden;

}

.overflow-hidden-with-background-img {

  overflow: hidden;

  position: relative;
  width: 100%;

  display: grid;
  justify-items: center;

}
