/* ---------------------------------------------------------------- */
/* > codings-content.css
/* ---------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* Row Container - Codings Content
/* ----------------------------------------------------------------- */

#row-container-codings-content {

  position: relative;
  /* z-index: 3; */

  width: 100%;

  display: grid;
  justify-items: center;
  align-content: start;

  grid: auto 1fr / 1fr;

  /* default unshown */
  display: none;

}

/* Div 1 | Row Container | Codings Task Header */
/* ⚠️ dont know why we need 2nth because its the first element but only 2 works */
#row-container-codings-content > .row-container:nth-of-type(2) {

  /* z-index: 3; */
  background-color: rgb(245, 245, 245);
  /* border-bottom: 1px solid rgb(183, 183, 183); */

}

/* Div 2 | Row Container | Codings Content Container */
#row-container-codings-content > .row-container:nth-of-type(3) {

  /* z-index: 3; */

}

/* ----------------------------------------------------------------- */
/* 🖼️ Background Img
/* ----------------------------------------------------------------- */

#background-img-codings {

  z-index: -1;

  position: absolute;


  /* because of blue effect, otherwise left and right light colors */
  top: -20px;
  left: -20px;

  width: calc(100% + 40px);
  height:calc(100% + 40px);

  /* filter: blur(2px); */

  /* filter: blur(10px) saturate(.8) brightness(.85); */

  /* width: 100%;
  height: 100%; */

  /* background-image: url(../../../../../media/imgs/content/01-about/about-me/show-more/wp9274723-4k-desktop-white-wallpapers.jpg); */
  /* background-image: url(../../../../../media/imgs/content/wallpapers/white-tree.png); */
  /* background-image: url(../../../../../media/imgs/content/01-about/about-me/show-more/sea_landscape_fog_1126742_3840x2400.jpg); */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* opacity: .3; */

  /* background-color: rgb(237, 237, 237); */

  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */

  /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply; */


  /* background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  background-blend-mode: normal, lighten, soft-light; */

  /* background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  background-blend-mode: normal, lighten, soft-light; */

  /* background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%); */

  /* background-image: linear-gradient(to right, #868f96 0%, #596164 100%); */

  /* background-color: rgb(110, 110, 110); */

   /* background-image: url(../../../../../media/imgs/content/01-about/about-me/show-more/wp9274723-4k-desktop-white-wallpapers.jpg); */
  /* background-image: url(../../../../../media/imgs/content/wallpapers/white-tree.png); */

  /* background-image: url(../../../../../media/imgs/content/wallpapers/blue-sea.jpg);
  background-image: url(../../../../../media/imgs/content/wallpapers/grey-sea.jpg); */



}


/* ----------------------------------------------------------------- */
/* Codings Content
/* ----------------------------------------------------------------- */

#codings-content {

  height: 100%;
  width: 100%;

  display: grid;
  justify-content: start;

  grid: auto / 1fr;

  /* background-color: blue; */
  /* default unshown */

}
