/* ---------------------------------------------------------------- */
/* > resp-codings-content.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* >= 340px
/* ---------------------------------------------------------------- */

@media (min-width: 330px) {


}

/* ---------------------------------------------------------------- */
/* ⭐ Lg 2 Mini | >= width: 327px & height: >= 756px
/* ---------------------------------------------------------------- */

@media (min-width: 327px), (min-height: 756px ) {

  /* ----------------------------------------------------------------- */
  /* Codings Task - Unshown Container
  /* ----------------------------------------------------------------- */

    #codings-task-unshown-container > div:nth-of-type(1) {

      /* mobile */
      padding-bottom: 6vh;
      padding-top: 2vh;

    }

    /* img */
    #codings-task-unshown-container > div:nth-of-type(1) > img {

      height: 5em;

    }


}

/* ---------------------------------------------------------------- */
/* ⭐ Pixel 7 |  >= width: 378px & height: >= 768px
/* ---------------------------------------------------------------- */
@media (min-width: 378px), (min-height: 768px ) {

  /* ----------------------------------------------------------------- */
  /* Codings Task - Unshown Container
  /* ----------------------------------------------------------------- */

    #codings-task-unshown-container > div:nth-of-type(1) {

      /* mobile */
      padding-bottom: 6vh;
      padding-top: 2vh;

    }

    /* img */
    #codings-task-unshown-container > div:nth-of-type(1) > img {

      height: 5em;

    }

    #codings-task-unshown-container > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {

      font-size: 18px;

    }


}

/* ---------------------------------------------------------------- */
/* ⭐ Pixel 7 |  >= width: 412px & height: >= 915px | Pixel 7 Size
/* ---------------------------------------------------------------- */

@media (min-width: 412px), (min-height: 915px ) {

  /* ----------------------------------------------------------------- */
  /* Codings - Unshown Container
  /* ----------------------------------------------------------------- */

    #codings-unshown-container > div:nth-of-type(1) {

      /* mobile */
      padding-bottom: 9vh;

    }

}

/* ---------------------------------------------------------------- */
/* >= 480px
/* ---------------------------------------------------------------- */

@media (min-width: 480px) {



}

/* ---------------------------------------------------------------- */
/* >= 530px
/* ---------------------------------------------------------------- */

@media (min-width: 480px) {

  #codings-unshown-container > div:nth-of-type(1) {

    /* mobile */
    padding-bottom: 2em;

  }

}

/* ---------------------------------------------------------------- */
/* >= 600px
/* ---------------------------------------------------------------- */

@media (min-width: 600px) {


  /* ----------------------------------------------------------------- */
  /* Codings Task - Unshown Container
  /* ----------------------------------------------------------------- */

  #codings-task-unshown-container > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {

    font-size: 20px;

  }

  #codings-task-unshown-container > div:nth-of-type(1) {

    margin-bottom: 3em;

  }

  /* ----------------------------------------------------------------- */
  /* Codings - Unshown Container
  /* ----------------------------------------------------------------- */

  #codings-unshown-container > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {

    font-size: 18px;

  }

  #codings-unshown-container > div:nth-of-type(1) {

    /* mobile */
    padding-bottom: 6em;

  }

}

/* ---------------------------------------------------------------- */
/* >= 650px
/* ---------------------------------------------------------------- */

@media (min-width: 650px) {

  /* ----------------------------------------------------------------- */
  /* Codings Task - Unshown Container
  /* ----------------------------------------------------------------- */

  #codings-task-unshown-container > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {

    font-size: 20px;

  }

  #codings-task-unshown-container > div:nth-of-type(1) {

    margin-bottom: 1em;

  }

}

/* ---------------------------------------------------------------- */
/* >= 1000px
/* ---------------------------------------------------------------- */

@media (min-width: 1000px) {

  /* ----------------------------------------------------------------- */
  /* Codings - Unshown Container
  /* ----------------------------------------------------------------- */

    #codings-unshown-container > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {

      font-size: 20px;

    }

    #codings-unshown-container > div:nth-of-type(1) {

      /* mobile */
      padding-bottom: 10vh;

    }

    /* ----------------------------------------------------------------- */
    /* Codings Task - Unshown Container
    /* ----------------------------------------------------------------- */

    #codings-task-unshown-container > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {

      font-size: 20px;

    }

    #codings-task-unshown-container > div:nth-of-type(1) {

      margin-bottom: 3em;

    }


 }
