/* ---------------------------------------------------------------- */
/* > resp-codings-content.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* >= 340px
/* ---------------------------------------------------------------- */

@media (min-width: 330px) {



}

/* ---------------------------------------------------------------- */
/* >= width: 412px & height: 915px | Pixel 7 Size
/* ---------------------------------------------------------------- */

@media (min-width: 412px), (min-height: 915px ) {

  /* ----------------------------------------------------------------- */
  /* Codings - Unshown Container
  /* ----------------------------------------------------------------- */

    #codings-unshown-container > div:nth-of-type(1) {

      /* mobile */
      padding-bottom: 9vh;

    }

}

/* ---------------------------------------------------------------- */
/* >= 480px
/* ---------------------------------------------------------------- */

@media (min-width: 480px) {



}

/* ---------------------------------------------------------------- */
/* >= 530px
/* ---------------------------------------------------------------- */

@media (min-width: 480px) {

  #codings-unshown-container > div:nth-of-type(1) {

    /* mobile */
    padding-bottom: 2em;

  }

}

/* ---------------------------------------------------------------- */
/* >= 600px
/* ---------------------------------------------------------------- */

@media (min-width: 600px) {


  /* ----------------------------------------------------------------- */
  /* Codings Task - Unshown Container
  /* ----------------------------------------------------------------- */

  #codings-task-unshown-container > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {

    font-size: 20px;

  }

  #codings-task-unshown-container > div:nth-of-type(1) {

    margin-bottom: 6em;

  }

  /* ----------------------------------------------------------------- */
  /* Codings - Unshown Container
  /* ----------------------------------------------------------------- */

  #codings-unshown-container > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {

    font-size: 18px;

  }

  #codings-unshown-container > div:nth-of-type(1) {

    /* mobile */
    padding-bottom: 3em;

  }

}

/* ---------------------------------------------------------------- */
/* >= 1000px
/* ---------------------------------------------------------------- */

@media (min-width: 1000px) {

  /* ----------------------------------------------------------------- */
  /* Codings - Unshown Container
  /* ----------------------------------------------------------------- */

    #codings-unshown-container > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {

      font-size: 20px;

    }

    #codings-unshown-container > div:nth-of-type(1) {

      /* mobile */
      padding-bottom: 10vh;

    }


 }
