/* ---------------------------------------------------------------- */
/* > kit-card.css
/* : kits card
/* ---------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Kit Card New
/* --------------------------------------------------------------- */

.kits-card {

  width: 100%;
  padding: .8em;

  display: grid;

  border-radius: .8em;

  border: 1px solid rgb(209, 209, 209);

  background-color: white;

  border-left: .6em solid rgb(127, 131, 134);

  border-left: .4em solid rgb(179, 179, 179);

  /* border-left: .6em solid rgb(153, 119, 149); */

  /* border-left: .6em solid rgb(210, 179, 123); */


  /* opacity: .8; */

  transition: none !important;

  /* transition: all .4s; */

}

.kits-card:hover {

  background-color: rgb(249, 249, 249);

  /* background-color: white; */



}
