/* ---------------------------------------------------------------- */
/* > kit-card.css
/* : kits card
/* ---------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Kit Card
/* --------------------------------------------------------------- */

.kit-card {

  border-radius: .5em .8em .8em .5em;

  border-radius: .5em;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  background-color: rgb(253, 253, 253);


  border-left: .6em solid rgb(229, 214, 185);

  transition: all .4s;

}

.kit-card:hover {

  background-color: rgb(249, 249, 249);

}
