/* ---------------------------------------------------------------- */
/* > kit-card.css
/* : kits card - main
/* ---------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Main - Kits Card
/* --------------------------------------------------------------- */

.kits-card > main {

  padding-top: .8em;

}

/* --------------------------------------------------------------- */
/* [1/2] | Topic List - Kits Card
/* --------------------------------------------------------------- */

.kits-topic-list {

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  column-gap: .3em;
  row-gap: .2em;


  color:rgb(162, 162, 162);
  color:#606060;

}

/* --------------------------------------------------------------- */
/* Div | Topic List
/* --------------------------------------------------------------- */

.kits-topic-list > div {

  /* font-weight: bold; */

}

/* div */
.kits-topic-list > div > div {

  font-size: 14.5px;

}

/* --------------------------------------------------------------- */
/* Img | Topic List
/* --------------------------------------------------------------- */

.kits-topic-list > img {

  /* layout fix */
  margin-top: 3px;

  height: .3em;
  opacity: .4;

}


/* --------------------------------------------------------------- */
/* [2/2] | Tech List - Kits Card
/* --------------------------------------------------------------- */

.kits-tech-list {

  padding-top: .8em;

  display: flex;
  flex-wrap: wrap;

  column-gap: .4em;
  row-gap: .4em;

}

/* items */
.kits-tech-list > div  {

  height: 1.4em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;

  color:rgb(174, 174, 174);
  border: 1px solid rgb(219, 219, 219);


}

/* text */
.kits-tech-list > div > div {

  /* layout fix */
  margin-bottom: 1px;

  font-size: 13.5px;
}
