/* --------------------------------------------------------------- */
/* > codings-masonry-container.css
/* : styles default codings masonry container
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Codings Masonry Container
/* -------------------------------------------------------------- */

#codings-masonry-container {

  padding: 2em 0;

  position: relative;
  width: 100%;

  display: grid;

   gap:1em;


  /* background-color: rgb(198, 251, 255); */

  /* default unshown, only by checked */
  display: none;


}


@media (min-width: 600px) {

  #codings-masonry-container  {

  display: grid;
  grid: auto 1fr / 1fr;


  align-items: start;
  grid: auto / 1fr 1fr;


}

}
