/* --------------------------------------------------------------- */
/* > codings-masonry-container.css
/* : styles default codings masonry container
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Codings Masonry Container
/* -------------------------------------------------------------- */

#codings-masonry-container {

  /* padding: 2em 0; */

  position: relative;
  width: 100%;

  display: grid;
  align-content: flex-start;
  gap:1em;

  /* background-color: rgb(198, 251, 255); */

  /* default unshown, only by checked */
  /* display: none; */


}
