/* --------------------------------------------------------------- */
/* > resp-codings-masonry.css
/* : styles resp codings masonry
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* 500px
/* -------------------------------------------------------------- */

@media (min-width: 500px) {

  /* ---------------------------------------------------- */
  /* Codings Category Task Header
  /* ---------------------------------------------------- */

    .codings-category-task-header {

      /* desktop */
      grid: auto / auto 1fr auto;
      grid-template-areas:

        'cct-header-status cct-header-content cct-header-nav'
      ;

    }

    .codings-category-task-header-nav {

      /* desktop */
      padding:0;
      width: 3.5em;
      height: 100%;
      border-left: 1px solid rgb(218, 218, 218);

      border-radius: 0 .7em .7em 0;

    }



}
