/* --------------------------------------------------------------- */
/* > codings-navs.css
/* : styles default codings navs
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Codings Navs Container
/* -------------------------------------------------------------- */

#codings-navs-container {

  display: grid;
  row-gap: .8em;

  /* background-color: green; */

}

/* -------------------------------------------------------------- */
/* Codings Nav Primary,
/* Codings Nav Tech
/* -------------------------------------------------------------- */

#codings-nav-primary,
#codings-nav-tech {

  z-index: 3;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

/* -------------------------------------------------------------- */
/* Codings Nav Primary
/* -------------------------------------------------------------- */

#codings-nav-primary {

  padding: 1em 0;

  column-gap: .6em;
  row-gap: .6em;

  /* background-color: red; */

  border-bottom: 1px solid rgb(225, 225, 225);

}

/* -------------------------------------------------------------- */
/* Codings Nav Tech
/* -------------------------------------------------------------- */

#codings-nav-tech {

  padding: 1em 0;

  column-gap: .3em;
  row-gap: .6em;

  /* background-color: blue; */

   /* border-bottom: 1px solid rgb(231, 231, 231); */

}
