/* --------------------------------------------------------------- */
/* > codings-nav-handlings-primary.css
/*
/* : styles handling nav codings
/* : tech - algos - leetcode - unshown
/* --------------------------------------------------------------- */



/* default unshown - radios */
input[name="name-radio-nav-codings"] {

  display: none;

}
/* ------------------------------------------------------------- */
/* Handlings - Stylings
/* ------------------------------------------------------------- */

/* style - background */
#radio-nav-codings-tech:checked ~ #codings-container label[for="radio-nav-codings-tech"],
#radio-nav-codings-algos:checked ~ #codings-container label[for="radio-nav-codings-algos"],
#radio-nav-codings-leetcode:checked ~ #codings-container label[for="radio-nav-codings-leetcode"],
#radio-nav-codings-challenges:checked ~ #codings-container label[for="radio-nav-codings-challenges"],
#radio-nav-codings-unshown:checked ~ #codings-container label[for="radio-nav-codings-unshown"] {

  background-color: wheat;
  color:rgb(77, 77, 77);

}

/* unshown - grey img */
#radio-nav-codings-tech:checked ~ #codings-container label[for="radio-nav-codings-tech"] > img:nth-of-type(1),
#radio-nav-codings-algos:checked ~ #codings-container label[for="radio-nav-codings-algos"] > img:nth-of-type(1),
#radio-nav-codings-leetcode:checked ~ #codings-container label[for="radio-nav-codings-leetcode"] > img:nth-of-type(1),
#radio-nav-codings-challenges:checked ~ #codings-container label[for="radio-nav-codings-challenges"] > img:nth-of-type(1),
#radio-nav-codings-unshown:checked ~ #codings-container label[for="radio-nav-codings-unshown"] > img:nth-of-type(1) {

  display: none;

}

/* show - black img */
#radio-nav-codings-tech:checked ~ #codings-container label[for="radio-nav-codings-tech"] > img:nth-of-type(2),
#radio-nav-codings-algos:checked ~ #codings-container label[for="radio-nav-codings-algos"] > img:nth-of-type(2),
#radio-nav-codings-leetcode:checked ~ #codings-container label[for="radio-nav-codings-leetcode"] > img:nth-of-type(2),
#radio-nav-codings-challenges:checked ~ #codings-container label[for="radio-nav-codings-challenges"] > img:nth-of-type(2),
#radio-nav-codings-unshown:checked ~ #codings-container label[for="radio-nav-codings-unshown"] > img:nth-of-type(2) {

  display: flex;

}

/* ------------------------------------------------------------- */
/* Handlings - Content
/* ------------------------------------------------------------- */

/* show - nav tech */
#radio-nav-codings-tech:checked ~ #codings-container #codings-nav-tech {

  display: flex;

}

/* show - coding masonry container | algos, leetcode, challenges */
#radio-nav-codings-algos:checked ~ #codings-container #codings-masonry-container,
#radio-nav-codings-leetcode:checked ~ #codings-container #codings-masonry-container,
#radio-nav-codings-challenges:checked ~ #codings-container #codings-masonry-container {

  display: grid;

}

/* unshown checked -> unshown - codings masonry container */
#radio-nav-codings-unshown:checked ~ #codings-container #codings-masonry-container {

  display: none;

}

/* unshown checked -> show - unshown container  */
#radio-nav-codings-unshown:checked ~ #codings-container #codings-unshown-container {

  display: grid;

}
