/* --------------------------------------------------------------- */
/* > handling-nav-coding-tech.css
/*
/* : styles handling nav coding tech
/* --------------------------------------------------------------- */


/* default unshown - nav */
#codings-nav-tech {

  display: none;

}

/* default unshown - radios */
input[name="name-radio-nav-codings-tech"] {

  display: none;

}

/* ------------------------------------------------------------- */
/* Handlings - Stylings
/* ------------------------------------------------------------- */

/* text color */
#radio-nav-codings-tech-java:checked ~ #codings-container label[for="radio-nav-codings-tech-java"],
#radio-nav-codings-tech-spring-boot:checked ~ #codings-container label[for="radio-nav-codings-tech-spring-boot"],
#radio-nav-codings-tech-observability:checked ~ #codings-container label[for="radio-nav-codings-tech-observability"],
#radio-nav-codings-tech-cloud:checked ~ #codings-container label[for="radio-nav-codings-tech-cloud"],
#radio-nav-codings-tech-ai-ml-llm:checked ~ #codings-container label[for="radio-nav-codings-tech-ai-ml-llm"],
#radio-nav-codings-tech-angular:checked ~ #codings-container label[for="radio-nav-codings-tech-angular"],
#radio-nav-codings-tech-pyhton:checked ~ #codings-container label[for="radio-nav-codings-tech-pyhton"],
#radio-nav-codings-tech-react-native:checked ~ #codings-container label[for="radio-nav-codings-tech-react-native"] {

  /* background-color: rgb(224, 224, 224); */

  color:rgb(48, 48, 48);

  color:rgb(191, 173, 140);

}

/* unshow grey img */
#radio-nav-codings-tech-java:checked ~ #codings-container label[for="radio-nav-codings-tech-java"] > div:nth-of-type(1) > img:nth-of-type(1),
#radio-nav-codings-tech-spring-boot:checked ~ #codings-container label[for="radio-nav-codings-tech-spring-boot"]  > div:nth-of-type(1) > img:nth-of-type(1),
#radio-nav-codings-tech-observability:checked ~ #codings-container label[for="radio-nav-codings-tech-observability"] > div:nth-of-type(1) > img:nth-of-type(1),
#radio-nav-codings-tech-cloud:checked ~ #codings-container label[for="radio-nav-codings-tech-cloud"] > div:nth-of-type(1) > img:nth-of-type(1),
#radio-nav-codings-tech-ai-ml-llm:checked ~ #codings-container label[for="radio-nav-codings-tech-ai-ml-llm"] > div:nth-of-type(1) > img:nth-of-type(1),
#radio-nav-codings-tech-angular:checked ~ #codings-container label[for="radio-nav-codings-tech-angular"]  > div:nth-of-type(1) > img:nth-of-type(1),
#radio-nav-codings-tech-pyhton:checked ~ #codings-container label[for="radio-nav-codings-tech-pyhton"]  > div:nth-of-type(1) > img:nth-of-type(1),
#radio-nav-codings-tech-react-native:checked ~ #codings-container label[for="radio-nav-codings-tech-react-native"]  > div:nth-of-type(1) > img:nth-of-type(1) {

  display: none;

}

/* unshow black img */
#radio-nav-codings-tech-java:checked ~ #codings-container label[for="radio-nav-codings-tech-java"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-nav-codings-tech-spring-boot:checked ~ #codings-container label[for="radio-nav-codings-tech-spring-boot"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-nav-codings-tech-observability:checked ~ #codings-container label[for="radio-nav-codings-tech-observability"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-nav-codings-tech-cloud:checked ~ #codings-container label[for="radio-nav-codings-tech-cloud"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-nav-codings-tech-ai-ml-llm:checked ~ #codings-container label[for="radio-nav-codings-tech-ai-ml-llm"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-nav-codings-tech-angular:checked ~ #codings-container label[for="radio-nav-codings-tech-angular"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-nav-codings-tech-pyhton:checked ~ #codings-container label[for="radio-nav-codings-tech-pyhton"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-nav-codings-tech-react-native:checked ~ #codings-container label[for="radio-nav-codings-tech-react-native"] > div:nth-of-type(1) > img:nth-of-type(2) {

 display: flex;

}


/* counter color */
#radio-nav-codings-tech-java:checked ~ #codings-container label[for="radio-nav-codings-tech-java"] > div:last-child > div,
#radio-nav-codings-tech-spring-boot:checked ~ #codings-container label[for="radio-nav-codings-tech-spring-boot"] > div:last-child > div,
#radio-nav-codings-tech-observability:checked ~ #codings-container label[for="radio-nav-codings-tech-observability"] > div:last-child > div,
#radio-nav-codings-tech-cloud:checked ~ #codings-container label[for="radio-nav-codings-tech-cloud"] > div:last-child > div,
#radio-nav-codings-tech-ai-ml-llm:checked ~ #codings-container label[for="radio-nav-codings-tech-ai-ml-llm"] > div:last-child > div,
#radio-nav-codings-tech-angular:checked ~ #codings-container label[for="radio-nav-codings-tech-angular"] > div:last-child > div,
#radio-nav-codings-tech-pyhton:checked ~ #codings-container label[for="radio-nav-codings-tech-pyhton"] > div:last-child > div,
#radio-nav-codings-tech-react-native:checked ~ #codings-container label[for="radio-nav-codings-tech-react-native"] > div:last-child > div {

  color:rgb(131, 131, 131);


}

/* ------------------------------------------------------------- */
/* Handlings - Content
/* ------------------------------------------------------------- */

#radio-nav-codings-tech-java:checked ~ #codings-container #codings-masonry-container,
#radio-nav-codings-tech-spring-boot:checked ~ #codings-container #codings-masonry-container,
#radio-nav-codings-tech-observability:checked ~ #codings-container #codings-masonry-container,
#radio-nav-codings-tech-cloud:checked ~ #codings-container #codings-masonry-container,
#radio-nav-codings-tech-ai-ml-llm:checked ~ #codings-container #codings-masonry-container,
#radio-nav-codings-tech-angular:checked ~ #codings-container #codings-masonry-container,
#radio-nav-codings-tech-pyhton:checked ~ #codings-container #codings-masonry-container,
#radio-nav-codings-tech-react-native:checked ~ #codings-container #codings-masonry-container {

 display: grid;

}

/* unshown primary checked + nav tech any is checked -> unshown codings masonry container */
#radio-nav-codings-unshown:checked ~ #radio-nav-codings-tech-java:checked ~ #codings-container #codings-masonry-container,
#radio-nav-codings-unshown:checked ~ #radio-nav-codings-tech-spring-boot:checked ~ #codings-container #codings-masonry-container,
#radio-nav-codings-unshown:checked ~ #radio-nav-codings-tech-observability:checked ~ #codings-container #codings-masonry-container,
#radio-nav-codings-unshown:checked ~ #radio-nav-codings-tech-cloud:checked ~ #codings-container #codings-masonry-container,
#radio-nav-codings-unshown:checked ~ #radio-nav-codings-tech-ai-ml-llm:checked ~ #codings-container #codings-masonry-container,
#radio-nav-codings-unshown:checked ~ #radio-nav-codings-tech-angular:checked ~ #codings-container #codings-masonry-container,
#radio-nav-codings-unshown:checked ~ #radio-nav-codings-tech-pyhton:checked ~ #codings-container #codings-masonry-container,
#radio-nav-codings-unshown:checked ~ #radio-nav-codings-tech-react-native:checked ~ #codings-container #codings-masonry-container {

  display: none;

}
