/* --------------------------------------------------------------- */
/* > resp-font-sizes.css
/*
/* : styles resp about me
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Resp Font Sizes
/* --------------------------------------------------------------- */

.resp-font-size-16to17,
.resp-font-size-16to18 {

  /* 16px */
  font-size: 1rem;

}

/* --------------------------------------------------------------- */
/* >= 380px
/* --------------------------------------------------------------- */

@media (min-width: 380px ) {

   /* 17px */
  .resp-font-size-16to17 {

    font-size: 1.0625em;
    line-height: 1.8em;

  }

  /* 18px */
  .resp-font-size-16to18 {

    font-size: 1.125em;
    line-height: 1.8em;

  }

}


/* --------------------------------------------------------------- */
/* >= 380px
/* --------------------------------------------------------------- */

@media (min-width: 380px ) {


}
