/* ---------------------------------------------------------------- */
/* > unshown-task-container.css
/* ---------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* Codings Task - Unshown Container
/* ----------------------------------------------------------------- */

#codings-task-unshown-container {

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  background-color: #f5f5f5;

  /* default unshown, by click will be shown */
  display: none;

  /* background-color: red; */

}

/* ----------------------------------------------------------------- */
/* Img + Text Block
/* ----------------------------------------------------------------- */

#codings-task-unshown-container > div:nth-of-type(1) {

  display: grid;
  justify-items: center;
  row-gap: 1em;

  /* background-color: red; */

}

/* ----------------------------------------------------------------- */
/* [1/2] | Img | Img + Text Block
/* ----------------------------------------------------------------- */

#codings-task-unshown-container > div:nth-of-type(1) > img {

  height: 5.5em;
  opacity: .1;

}

/* ----------------------------------------------------------------- */
/* [2/2] | Div | Img + Text Block
/* ----------------------------------------------------------------- */

#codings-task-unshown-container > div:nth-of-type(1) > div:nth-of-type(1) {

  display: grid;
  justify-items: center;

  line-height: 1.6em;

}

/* title - unshown mode */
#codings-task-unshown-container > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) {

  /* mobile */
  font-size: 18px;
  /* font-size: 20px; */
  font-weight: bold;

}

/* sub title - unshown mode */
#codings-task-unshown-container > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) {

  font-style: italic;

}
