/* --------------------------------------------------------------- */
/* > lbl-content.css
/*
/* : styles labels for contents
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label Content | Small, Medium, Big
/* --------------------------------------------------------------- */

.lbl-inline-small,
.lbl-very-small,
.lbl-small,
.lbl-medium,
.lbl-big {

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

/* --------------------------------------------------------------- */
/* Inline Small | Label
/* --------------------------------------------------------------- */

.lbl-inline-small {

  height: 2.1em;
  padding: 0 .6em;

  border-radius: .6em;

}

/* --------------------------------------------------------------- */
/* Very Small | Label
/* --------------------------------------------------------------- */

.lbl-very-small {

  height: 2.3em;
  padding: 0 .6em;

  border-radius: .6em;

}

/* --------------------------------------------------------------- */
/* Small | Label
/* --------------------------------------------------------------- */

.lbl-small {

  height: 2.6em;
  padding: 0 .6em;

  border-radius: .6em;

}

/* --------------------------------------------------------------- */
/* Medium | Label Content
/* --------------------------------------------------------------- */

.lbl-medium {

  height: 2.8em;
  padding: 0 .8em;

  border-radius: .6em;

}

/* --------------------------------------------------------------- */
/* Big | Label Content
/* --------------------------------------------------------------- */

.lbl-big {

  height: 3em;
  padding: 0 .8em;

  border-radius: .8em;

}
