/* --------------------------------------------------------------- */
/* > lbl-content.css
/*
/* : styles labels for contents
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label Content | Small, Medium, Big
/* --------------------------------------------------------------- */

.lbl-small,
.lbl-medium,
.lbl-big {

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .6em;

  font-weight: bold;

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

/* --------------------------------------------------------------- */
/* Div 1 | Label
/* --------------------------------------------------------------- */

.lbl-small > div:nth-of-type(1),
.lbl-medium > div:nth-of-type(1),
.lbl-big > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

/* text block (img + text) + (img arrow open close) */
.lbl-small > div:nth-of-type(1) > div,
.lbl-medium > div:nth-of-type(1) > div,
.lbl-big > div:nth-of-type(1) > div {

 font-size: 14.5px;

}

.lbl-small > div:nth-of-type(1),
.lbl-medium > div:nth-of-type(1),
.lbl-big > div:nth-of-type(1) {

 font-size: 14.5px;

}


/* --------------------------------------------------------------- */
/* Small | Label
/* --------------------------------------------------------------- */

.lbl-small {

  height: 2.3em;
  padding: 0 .6em;

  border-radius: .8em;

}

/* --------------------------------------------------------------- */
/* Medium | Label Content
/* --------------------------------------------------------------- */

.lbl-medium {

  height: 2.8em;
  padding: 0 .8em;

  border-radius: .6em;

}

/* --------------------------------------------------------------- */
/* Big | Label Content
/* --------------------------------------------------------------- */

.lbl-big {

  height: 3em;
  padding: 0 .8em;

  border-radius: .8em;

}
