/* --------------------------------------------------------------- */
/* > lbl-height-styles.css
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label Content | Small, Medium, Big
/* --------------------------------------------------------------- */

.lbl-little,
.lbl-very-small,
.lbl-small,
.lbl-medium,
.lbl-big {

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

/* --------------------------------------------------------------- */
/* Little | Label
/* --------------------------------------------------------------- */

.lbl-little {

  height: 1.8em;
  padding: 0 .5em;

}

/* --------------------------------------------------------------- */
/* Very Small | Label
/* --------------------------------------------------------------- */

.lbl-very-small {

  height: 2em;
  padding: 0 .6em;

}

/* --------------------------------------------------------------- */
/* Small | Label
/* --------------------------------------------------------------- */

.lbl-small {

  height: 2.6em;
  padding: 0 .6em;

}

/* --------------------------------------------------------------- */
/* Medium | Label Content
/* --------------------------------------------------------------- */

.lbl-medium {

  height: 2.8em;
  padding: 0 .8em;

}

/* --------------------------------------------------------------- */
/* Big | Label Content
/* --------------------------------------------------------------- */

.lbl-big {

  height: 3em;
  padding: 0 .8em;

}
