/* --------------------------------------------------------------- */
/* > more-it-page.css
/*
/* : more it page
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* More IT Page Container
/* -------------------------------------------------------------- */

#more-it-page-container {

  margin-top: 4.5em;

  z-index: 2;

  /* important to allow child elements to use max content area */
  height: 100%;
  width: 100%;

  display: grid;
  justify-items: center;

  /* welcome, nav, content (x1) - mini it projects, mini games, codings, docs, unshow */
  grid: auto 1fr / 1fr;
  /* row-gap: 1em; */

  background-color: rgb(255, 255, 255);

}

/* -------------------------------------------------------------- */
/* Div 1 | Row Container | Welcome Header
/* -------------------------------------------------------------- */

#more-it-page-container > div:nth-of-type(1) {

  background-color: rgba(29, 29, 29, 1);
  background-color: #222222;
  border-bottom: 1px solid rgb(47, 47, 47);

}

/* -------------------------------------------------------------- */
/* Div 2 | Row Container | More IT - Nav
/* -------------------------------------------------------------- */

#more-it-page-container > div:nth-of-type(2) {

  background-color: #222222;
  background-color: rgb(28, 28, 28);

  border-top: 1px solid rgb(44, 44, 44);
  border-bottom: 1px solid rgb(44, 44, 44);

}

/* -------------------------------------------------------------- */
/* Div X | Codings - Nav
/* -------------------------------------------------------------- */

#more-it-page-container #codings-container > .row-container:nth-of-type(1) {

  z-index: 3;

  /* padding: 1em 0; */

  background-color: #343434;

  background-color: rgb(28, 28, 28);

  /* background-color: white; */
  /* border-bottom: 3px solid rgb(106, 106, 106); */

}

/* -------------------------------------------------------------- */
/* All | Row Containers
/* -------------------------------------------------------------- */

#row-container-more-it-mini-it-projects,
#row-container-more-it-mini-games,
#row-container-more-it-codings,
#row-container-more-it-docs,
#row-container-more-it-unshow {

  display: none;

}

/* -------------------------------------------------------------- */
/* [1/5] | Row | Mini IT Projects
/* -------------------------------------------------------------- */

#row-container-more-it-mini-it-projects {

  background-color: white;
  /* background-color: red; */

}

/* -------------------------------------------------------------- */
/* [2/5] | Row | Mini Games
/* -------------------------------------------------------------- */

#row-container-more-it-mini-games {

  background-color: white;
  /* background-color: yellow; */

}

/* -------------------------------------------------------------- */
/* [3/5] | Row | Codings
/* -------------------------------------------------------------- */

#row-container-more-it-codings {

  background-color: white;
  /* background-color: green; */

}

/* -------------------------------------------------------------- */
/* [4/5] | Row | Docs
/* -------------------------------------------------------------- */

#row-container-more-it-docs {

  background-color: white;
  /* background-color: blue; */

}

/* -------------------------------------------------------------- */
/* [5/5] | Row | Unshow
/* -------------------------------------------------------------- */

#row-container-more-it-unshow {

  /* background-color: rgb(111, 111, 111); */

}
