/* ---------------------------------------------------------------- */
/* > codings-masonry-tasks.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* All | Masonry Tasks
/* ---------------------------------------------------------------- */

.codings-masonry-task-in-progress,
.codings-masonry-task-later,
.codings-masonry-task-done {

  display: grid;
  grid: 1fr / auto 1fr;

  border-radius: .6em;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  transition: all .4s;

}

/* hover */
.codings-masonry-task-in-progress:hover,
.codings-masonry-task-later:hover,
.codings-masonry-task-done:hover {

  background-color: white;

}

/* ---------------------------------------------------------------- */
/* In Progress |
/* ---------------------------------------------------------------- */

.codings-masonry-task-in-progress {

  background-color: rgb(251, 217, 132);
  background-color: rgb(255, 245, 219);

  background-color: rgb(254, 249, 235);

  border: 1px solid rgba(225, 196, 121, .6);

}

/* ---------------------------------------------------------------- */
/* Later |
/* ---------------------------------------------------------------- */

.codings-masonry-task-later {

  background-color: #e3e3e3;
  background-color: #f4f4f4;

  background-color: #f7f7f7;

  border: 2px solid #e3e3e3;

  border: 1px solid rgba(183, 183, 183, .6);

}

/* ---------------------------------------------------------------- */
/* Done |
/* ---------------------------------------------------------------- */

.codings-masonry-task-done {

   background-color: rgb(136, 216, 136);

   background-color: rgb(231, 255, 231);

   background-color: rgb(245, 255, 245);

   border: 1px solid rgba(68, 150, 68, .4);

}
