/* ---------------------------------------------------------------- */
/* > codings-docs-container.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/*  Codings Docs Container
/* ---------------------------------------------------------------- */

#codings-docs-container {

  padding: 1.3em;

  width: 100%;
  height: 100%;

  display: grid;
  grid: 1fr / 1fr;

  background-color: rgb(181, 181, 255);

  /* default unshown */
  display: none;

}
