/* ---------------------------------------------------------------- */
/* > codings-docs-container.css
/* ---------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/*  Codings Docs Container
/* ---------------------------------------------------------------- */

#codings-docs-container {

  width: 100%;
  padding: .5em 0em 3em 0;

  display: grid;
  justify-items: center;
  align-content: flex-start;

  row-gap: 1.5em;

  border-left: 1px solid grey;
  border-right: 1px solid grey;

  /* background-color: grey; */

  /* defualt unshown, only by nav checked */
  /* display: none; */

}
