/* ---------------------------------------------------------------- */
/* > resp-docs-container.css
/* ---------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 380px
/* -------------------------------------------------------------- */

@media (min-width: 380px) {

  /* --------------------------------------------------------------- */
  /* Docs Card
  /* --------------------------------------------------------------- */

  .doc-card,
  .doc-card-in-progress,
  .doc-card-later {

    position: relative;

    width: 10em;

  }

}

/* -------------------------------------------------------------- */
/* >= 420px
/* -------------------------------------------------------------- */

@media (min-width: 420px) {

  /* --------------------------------------------------------------- */
  /* Docs Card
  /* --------------------------------------------------------------- */

  .doc-card,
  .doc-card-in-progress,
  .doc-card-later {

    position: relative;

    width: 12em;

  }


}

/* -------------------------------------------------------------- */
/* >= 700px
/* -------------------------------------------------------------- */

@media (min-width: 700px) {


  /* ---------------------------------------------------------------- */
  /* Docs Category Card List
  /* ---------------------------------------------------------------- */

  .docs-category-card-list {

    width: 100%;

    display: grid;

    /* small mobile */
    grid: auto / 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;


    column-gap: 1em;
    row-gap: 1em;

  }

  /* --------------------------------------------------------------- */
  /* Docs Card
  /* --------------------------------------------------------------- */

  .doc-card,
  .doc-card-in-progress,
  .doc-card-later {

    width: 13em;

  }


}

/* -------------------------------------------------------------- */
/* >= 700px
/* -------------------------------------------------------------- */

@media (min-width: 800px) {

  /* ---------------------------------------------------------------- */
  /* Docs Category Card List
  /* ---------------------------------------------------------------- */

  .docs-category-card-list {

    width: 100%;

    display: grid;

    /* small mobile */
    grid: auto / 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;


    column-gap: 1.5em;
    row-gap: 1.5em;

  }

}
