/* ---------------------------------------------------------------- */
/* > resp-docs-container.css
/* ---------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* >= 380px
/* -------------------------------------------------------------- */

@media (min-width: 380px) {

  /* --------------------------------------------------------------- */
  /* Docs Card
  /* --------------------------------------------------------------- */

  .doc-card,
  .doc-card-in-progress,
  .doc-card-later {

    position: relative;

    width: 10em;

  }

}

/* -------------------------------------------------------------- */
/* >= 450px
/* -------------------------------------------------------------- */

@media (min-width: 450px) {


  /* ---------------------------------------------------------------- */
  /* Docs Category Card List
  /* ---------------------------------------------------------------- */

  .docs-category-card-list {

    column-gap: 1.5em;
    row-gap: 1.5em;

  }

  /* --------------------------------------------------------------- */
  /* Docs Card
  /* --------------------------------------------------------------- */

  .docs-category-card-list > div {

    width: 12em;

  }

}

/* -------------------------------------------------------------- */
/* >= 550px
/* -------------------------------------------------------------- */

@media (min-width: 550px) {


  /* ---------------------------------------------------------------- */
  /* Docs Category Card List
  /* ---------------------------------------------------------------- */

  .docs-category-card-list {

    /* column-gap: 1.5em;
    row-gap: 1.5em; */

  }

  /* --------------------------------------------------------------- */
  /* Docs Card
  /* --------------------------------------------------------------- */

  .docs-category-card-list > div {

    width: 12.5em;

  }


}

/* -------------------------------------------------------------- */
/* >= 700px
/* -------------------------------------------------------------- */

@media (min-width: 700px) {


  /* ---------------------------------------------------------------- */
  /* Docs Category Card List
  /* ---------------------------------------------------------------- */

  .docs-category-card-list {

    width: 100%;

    display: grid;

    /* small mobile */
    grid: auto / 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;


  }


}

/* -------------------------------------------------------------- */
/* >= 800px
/* -------------------------------------------------------------- */

@media (min-width: 800px) {

  /* ---------------------------------------------------------------- */
  /* Docs Category Card List
  /* ---------------------------------------------------------------- */

  .docs-category-card-list {

    column-gap: 1.8em;
    row-gap: 1.8em;

  }


}

/* -------------------------------------------------------------- */
/* >= 1300px
/* -------------------------------------------------------------- */

@media (min-width: 1300px) {

  /* ---------------------------------------------------------------- */
  /* Docs Category Card List
  /* ---------------------------------------------------------------- */

  .docs-category-card-list {

    column-gap: 1.8em;
    row-gap: 1.8em;

  }

  .docs-category-card-list > div {

    width: 14em;

  }


}
