/* --------------------------------------------------------------- */
/* > main-body.css
/*
/* : styles main body
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Main Body
/* --------------------------------------------------------------- */

#main-body {

  /* margin-top: 4.5em; */

  height: 100%;
  width: 100%;

  display: grid;

  grid: 1fr / 1fr;

  background-color: rgb(154, 154, 154);

}
