/* --------------------------------------------------------------- */
/* > lbl-counter-no-border-light-brown-on-dark.css
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label Counter No Border | Light Brown
/* --------------------------------------------------------------- */

.lbl-counter-no-border-light-brown-on-dark {


  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .4em;

  font-weight: bold;

  /* border-bottom: 2px transparent; */

  color:rgb(72, 72, 72);

  /* color - body header nav */
  color: #6e6e6e;

  color: #525151;

  border-radius: .4em;



}

/* icons + title box */
.lbl-counter-no-border-light-brown-on-dark > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .5em;

}

/* div 1 - title */
.lbl-counter-no-border-light-brown-on-dark > div:nth-of-type(1) > div:last-child {

  font-size: 14.5px;
  /* color:red; */

}

/* --------------------------------------------------------------- */
/* Img - Grey
/* --------------------------------------------------------------- */

.lbl-counter-no-border-light-brown-on-dark > div:nth-of-type(1) > img:nth-of-type(1) {

  opacity: .6;

}

/* --------------------------------------------------------------- */
/* Default Unshown | Light Brown Img
/* --------------------------------------------------------------- */

.lbl-counter-no-border-light-brown-on-dark > div:nth-of-type(1) > img:nth-of-type(2) {

  opacity: .7;

  display: none;

}

/* ------------------------------------------------------------------------- */
/* Extra Hover Handling
/* > show black img by hover, unshown grey img
/* ------------------------------------------------------------------------- */

.lbl-counter-no-border-light-brown-on-dark:hover {

  /* body header company color */
  color: rgb(179, 161, 131);




  /* border-bottom: 2px solid rgb(215, 195, 157); */

}

/* unshow grey img */
.lbl-counter-no-border-light-brown-on-dark:hover > div:nth-of-type(1) > img:nth-of-type(1) {

  display: none;

}

/* show grey img */
.lbl-counter-no-border-light-brown-on-dark:hover > div:nth-of-type(1) > img:nth-of-type(2) {

  display: flex;

}

/* -------------------------------------------------------------- */
/* Counter
/* -------------------------------------------------------------- */

.lbl-counter-no-border-light-brown-on-dark > div:nth-of-type(2) {

  height: 1.2em;
  padding: 0em .3em;


  border-radius: .3em;

  display: flex;
  align-items: center;
  justify-content: center;

  /* opacity: .8; */

}

.lbl-counter-no-border-light-brown-on-dark > div:nth-of-type(2) > div {

  font-size: 12.5px;

  /* color - body header nav */
  color: #6e6e6e;

  /* body header company color */
  color: rgba(179, 161, 131,.4);


}

/* hover - counter */
.lbl-counter-no-border-light-brown-on-dark:hover  > div:nth-of-type(2) > div {

  /* body header company color */
  color: rgb(179, 161, 131);

}
