/* --------------------------------------------------------------- */
/* > lbl-on-light.css
/*
/* : styles labels on light background
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Labels |
/* --------------------------------------------------------------- */

.lbl-on-light {

  display: flex;
  align-items: center;
  column-gap: .6em;

  border-radius: .6em;

  border: 1px solid rgb(202, 202, 202);

  background-color: rgb(241, 241, 241);
  color:rgb(64, 64, 64);

  cursor: pointer;
  transition: all .4s;

}

/* div */
.lbl-on-light > div {

  font-size: 14.5px;
  font-weight: bold;

}

/* hover */
.lbl-on-light:hover {

  background-color: wheat;

}
