/* --------------------------------------------------------------- */
/* > lbl-transparet.css
/*
/* : styles labels in transparent style
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label Transparent
/* --------------------------------------------------------------- */

.lbl-transparent {

  /* background-color: rgb(33, 33, 33); */

  color:rgb(108, 108, 108);

  color: #bdac8d;

  border: 1px solid rgb(63, 63, 63);

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

/* hover */
.lbl-transparent:hover {

  background-color: wheat;
  color:black;

}

/* --------------------------------------------------------------- */
/* Label Transparent Light
/* --------------------------------------------------------------- */


.lbl-transparent-light {

  /* background-color: rgb(33, 33, 33); */

  color:rgb(144, 144, 144);

  background-color: rgb(43, 43, 43);

  /* border: 1px solid rgb(45, 45, 45); */

  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */

}

/* hover */
.lbl-transparent-light:hover {

  background-color: wheat;
  color:black;

}
