/* --------------------------------------------------------------- */
/* > lbl-icon-text-on-light.css
/*
/* : styles icon + text
/* : 🟩 100% - Finished
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Icon + Text | on light
/* --------------------------------------------------------------- */

.lbl-icon-text-on-light {

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  background-color: rgb(245, 245, 245);


  color:rgb(108, 108, 108);

  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */

  border: 1px solid rgb(193, 193, 193);


}

/* div 1 */
.lbl-icon-text-on-light > div:last-child  {

  font-size: 14.5px;

}

/* --------------------------------------------------------------- */
/* Default Unshown | Black Img
/* --------------------------------------------------------------- */

.lbl-icon-text-on-light > img:nth-of-type(2) {

  display: none;

}

/* --------------------------------------------------------------- */
/* Hover Handlings
/* > show black img by hover, unshown grey img
/* --------------------------------------------------------------- */

.lbl-icon-text-on-light:hover {

  background-color: wheat;
  color:black;

}

/* unshow grey img */
.lbl-icon-text-on-light:hover > img:nth-of-type(1) {

  display: none;

}

/* show black img */
.lbl-icon-text-on-light:hover > img:nth-of-type(2) {

  display: flex;

}
