/* --------------------------------------------------------------- */
/* > more-it-nav.css
/*
/* : nav more it
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* More IT - Nav
/* -------------------------------------------------------------- */

#more-it-nav {

  padding: 1.3em .8em;

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  column-gap: .6em;
  row-gap: .6em;

  /* background-color: red; */

}
