/* --------------------------------------------------------------- */
/* > resp-content-containers.css
/*
/* : styles resp content containers to let content
     same content space
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Small, Medium, Big, Max | Resp Content Containers
/* --------------------------------------------------------------- */

.resp-content-container-small,
.resp-content-container-medium,
.resp-content-container-big,
.resp-content-container-max {

  width: 100%;
  height: 100%;
  padding: 0 .8em;

  /* content center of child layout */
  display: flex;
  align-items: center;
  justify-content: center;

}

/* small */
.resp-content-container-small {

  /* background-color: yellow; */

}

/* medium */
.resp-content-container-medium {

  /* background-color: magenta; */

}

/* big */
.resp-content-container-big {

  /* background-color: orange; */

}

/* max */
.resp-content-container-max {

  /* background-color: green; */

}


/* --------------------------------------------------------------- */
/* >= 600px | Small,
/* --------------------------------------------------------------- */

@media (min-width: 600px) {

  .resp-content-container-small {

    padding: 0;
    width: 80%;

    /* background-color: red; */

  }

}

/* --------------------------------------------------------------- */
/* >= 800px | Small, Medium
/* --------------------------------------------------------------- */

@media (min-width: 800px) {

  /* small */
  .resp-content-container-small {

    width: 40em;
    /* background-color: red; */

  }

  /* medium */
  .resp-content-container-medium {

    padding: 0;
    width: 90%;
    /* background-color: red; */

  }

  #quick-info-container-about-me {

    padding: 2.5em 1em !important;
    /* background-color: red; */

  }

}

/* --------------------------------------------------------------- */
/* >= 1000px | Medium
/* --------------------------------------------------------------- */

@media (min-width: 1000px) {

  /* medium */
  .resp-content-container-medium {

    width: 80%;
    /* background-color: red; */

  }

}

/* --------------------------------------------------------------- */
/* >= 1200px | Medium
/* --------------------------------------------------------------- */

@media (min-width: 1200px ) {

   /* medium */
  .resp-content-container-medium {

    width: 65em;
    /* background-color: red; */

  }

}

/* --------------------------------------------------------------- */
/* >= 1400px | Big
/* --------------------------------------------------------------- */

@media (min-width: 1400px ) {

   /* big */
  .resp-content-container-big {

    padding: 0;
    width: 90%;
    /* background-color: red; */

  }

}

/* --------------------------------------------------------------- */
/* >= 1600px | Big
/* --------------------------------------------------------------- */

@media (min-width: 1600px ) {

   /* big */
  .resp-content-container-big {

    width: 90em;
    /* background-color: red; */

  }

}
