/* --------------------------------------------------------------- */
/* > resp-content-containers-no-padd.css
/*
/* : styles resp content containers to let content
     same content space
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/* No Start Paddings | Very Small, Small, Medium, Big, Max | Resp Content Containers
/* > if u nested different styles
/* --------------------------------------------------------------------------------- */

.resp-content-container-no-padd-very-small,
.resp-content-container-no-padd-small,
.resp-content-container-no-padd-medium,
.resp-content-container-no-padd-big,
.resp-content-container-no-padd-max {

  width: 100%;
  height: 100%;

  display: grid;
  justify-items: center;

  /* background-color: black; */

}


/* --------------------------------------------------------------- */
/* >= 800px | Small, Medium
/* --------------------------------------------------------------- */

@media (min-width: 800px) {

  /* very small */
  .resp-content-container-no-padd-very-small {

    width: 50em;

  }

  /* small */
  .resp-content-container-no-padd-small {

    width: 50em;
    /* background-color: red; */
    /* background-color: aqua; */

  }

  /* medium */
  .resp-content-container-no-padd-medium {

    width: 90%;
    /* background-color: red; */

  }

}

/* --------------------------------------------------------------- */
/* >= 1000px | Medium
/* --------------------------------------------------------------- */

@media (min-width: 1000px) {

  /* very small */
  .resp-content-container-no-padd-very-small {

    width: 55em;

  }

  /* small */
  .resp-content-container-no-padd-small {

    width: 55em;
    /* background-color: red; */

  }

  /* medium */
  .resp-content-container-no-padd-medium {

    width: 80%;
    /* background-color: red; */

  }

}

/* --------------------------------------------------------------- */
/* >= 1200px | Medium
/* --------------------------------------------------------------- */

@media (min-width: 1200px ) {

   /* very small */
  .resp-content-container-no-padd-very-small {

    width: 50em;

  }

  /* medium */
  .resp-content-container-no-padd-medium {

    width: 65em;
    /* background-color: red; */

  }

}

/* --------------------------------------------------------------- */
/* >= 1400px | Big
/* --------------------------------------------------------------- */

@media (min-width: 1400px ) {

  /* big */
  .resp-content-container-no-padd-big {

    width: 90%;
    /* background-color: red; */

  }

}
