/* --------------------------------------------------------------- */
/* > resp-content-containers.css
/*
/* : styles resp content containers to let content
     same content space
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Small, Medium, Big, Max | Resp Content Containers
/* --------------------------------------------------------------- */

.resp-content-container-small,
.resp-content-container-medium,
.resp-content-container-big,
.resp-content-container-max {

  width: 100%;
  height: 100%;

  padding: 0 .8em;

  /* content center of child layout */
  display: flex;
  align-items: center;
  justify-content: center;

}

/* small */
.resp-content-container-small {

  background-color: yellow;

}

/* medium */
.resp-content-container-medium {

  background-color: magenta;

}

/* big */
.resp-content-container-big {

  background-color: orange;

}

/* max */
.resp-content-container-max {

  background-color: green;

}


/* --------------------------------------------------------------- */
/* >= 600px
/* --------------------------------------------------------------- */

@media (min-width: 600px) {

  .resp-content-container-small {

    width: 95%;

    background-color: red;

  }

}

/* --------------------------------------------------------------- */
/* >= 800px
/* --------------------------------------------------------------- */

@media (min-width: 800px) {

  .resp-content-container-small {

    width: 50em;

    background-color: red;

  }

  #quick-info-container-about-me {

    padding: 2.5em 1em !important;
    /* background-color: red; */

  }

}

/* --------------------------------------------------------------- */
/* >= 1000px
/* --------------------------------------------------------------- */

@media (min-width: 1000px) {

  .resp-content-container-small {

    width: 55em;

    background-color: red;

  }

}


/* --------------------------------------------------------------- */
/* >= 1200px
/* --------------------------------------------------------------- */

@media (min-width: 1200px) {

  .resp-content-container-small {

    width: 60em;

    background-color: red;

  }

}
