/* --------------------------------------------------------------- */
/* > resp-content-containers.css
/*
/* : styles resp content containers to let content
     same content space
/* --------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/* Later Paddings | Small, Medium, Big, Max | Resp Content Containers
/* > if u nested different styles
/* --------------------------------------------------------------------------------- */

.resp-content-container-later-padd-small,
.resp-content-container-later-padd-medium,
.resp-content-container-later-padd-big,
.resp-content-container-later-padd-max {

  width: 100%;
  height: 100%;

  display: grid;
  justify-items: center;

  /* background-color: black; */

}


/* --------------------------------------------------------------------------------- */
/* No Start Paddings | Small, Medium, Big, Max | Resp Content Containers
/* > if u nested different styles
/* --------------------------------------------------------------------------------- */

.resp-content-container-no-padd-small,
.resp-content-container-no-padd-medium,
.resp-content-container-no-padd-big,
.resp-content-container-no-padd-max {

  width: 100%;
  height: 100%;

  display: grid;
  justify-items: center;

  /* background-color: black; */

}

/* --------------------------------------------------------------- */
/* Small, Medium, Big, Max | Resp Content Containers
/* --------------------------------------------------------------- */

.resp-content-container-small,
.resp-content-container-medium,
.resp-content-container-big,
.resp-content-container-max {

  width: 100%;
  height: 100%;
  padding: 0 .8em;

  /* content center of child layout */
  /* display: flex;
  align-items: center;
  justify-content: center; */

  display: grid;
  justify-items: center;

  /* align-items: flex-start; */

  /* 🟩 solution */
  /* align-content: flex-start; */

  /* background-color: black; */

}

/* small */
.resp-content-container-small {

  /* background-color: yellow; */

}

/* medium */
.resp-content-container-medium {

  /* background-color: magenta; */

}

/* big */
.resp-content-container-big {

  /* background-color: orange; */

}

/* max */
.resp-content-container-max {

  /* background-color: green; */

}




/* --------------------------------------------------------------- */
/* >= 600px | Very Small
/* --------------------------------------------------------------- */

@media (min-width: 360px) {

  .resp-content-container-later-padd-big {

    padding: 0 .8em;

  }

}

/* --------------------------------------------------------------- */
/* >= 600px | Small,
/* --------------------------------------------------------------- */

@media (min-width: 600px) {

  .resp-content-container-small {

    /* padding: 0;
    width: 80%; */

    /* background-color: red; */

  }

}

/* --------------------------------------------------------------- */
/* >= 800px | Small, Medium
/* --------------------------------------------------------------- */

@media (min-width: 800px) {


  /* small */
  .resp-content-container-small,
  .resp-content-container-no-padd-small {

    width: 50em;
    /* background-color: red; */

  }

  /* small no padd */
  .resp-content-container-no-padd-small {

    padding: 0;
    width: 90%;

    /* background-color: red; */

  }

  /* medium */
  .resp-content-container-medium,
  .resp-content-container-no-padd-medium {

    padding: 0;
    width: 90%;
    /* background-color: red; */

  }

  #quick-info-container-about-me {

    padding: 2.5em 1em !important;
    /* background-color: red; */

  }

}

/* --------------------------------------------------------------- */
/* >= 1000px | Medium
/* --------------------------------------------------------------- */

@media (min-width: 1000px) {


  /* small */
  .resp-content-container-small,
  .resp-content-container-no-padd-small {

    width: 55em;
    /* background-color: red; */

  }

    /* small no padd */
  .resp-content-container-no-padd-small {

    padding: 0;
    width: 55em;

    /* background-color: rgb(60, 94, 205); */

  }

  /* medium */
  .resp-content-container-medium,
  .resp-content-container-no-padd-medium {

    width: 80%;
    /* background-color: red; */

  }

  /* Big - Later Padding */
  .resp-content-container-later-padd-big {

    padding: 0 0em;
    width: 93%;

  }

}

/* --------------------------------------------------------------- */
/* >= 1200px | Medium
/* --------------------------------------------------------------- */

@media (min-width: 1200px ) {

  /* medium */
  .resp-content-container-medium,
  .resp-content-container-no-padd-medium {

    width: 65em;
    /* background-color: red; */

  }

   /* Big - Later Padding */
  .resp-content-container-later-padd-big {

    width: 70em;

  }

}

/* --------------------------------------------------------------- */
/* >= 1400px | Big
/* --------------------------------------------------------------- */

@media (min-width: 1400px ) {


   /* big */
  .resp-content-container-big,
  .resp-content-container-no-padd-big {

    padding: 0;
    width: 90%;
    /* background-color: red; */

  }

  /* big later padding */
  .resp-content-container-later-padd-big {

    padding: 0 0em;
    width: 75em;

  }

}

/* --------------------------------------------------------------- */
/* >= 1600px | Big
/* --------------------------------------------------------------- */

@media (min-width: 1600px ) {

   /* big */
  .resp-content-container-big,
  .resp-content-container-no-padd-big {

    width: 90em;
    /* background-color: red; */

  }

   /* big later padding */
  .resp-content-container-later-padd-big {

    padding: 0 0em;
    width: 85em;

  }

}
