/* --------------------------------------------------------------- */
/* > row-container.css
/*
/* : styles row container for resp content containers
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Row Container
/* --------------------------------------------------------------- */

.row-container {

  position: relative;
  width: 100%;
  height: 100%;

  display:grid;
  justify-items: center;
  /* justify-content: center; */

  /* background-color: magenta; */

}
