/* --------------------------------------------------------------- */
/* > row-container.css
/*
/* : styles row container for resp content containers
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Row Container
/* --------------------------------------------------------------- */

.row-container {

  width: 100%;
  display: flex;
  justify-content: center;

  background-color: magenta;

}
