/* ---------------------------------------------------------------- */
/* > kits-masonry-container.css
/* : kits masonry container
/* ---------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Header | Category Container
/* --------------------------------------------------------------- */

.codings-kits-masonry-container {

  padding: 0 0em;

  display: grid;
  align-items: flex-start;
  grid: auto / 1fr 1fr;

  column-gap: 1.3em;
  row-gap: 1.3em;

  /* background-color: rgb(245, 245, 245); */

}
