/* --------------------------------------------------------------- */
/* > codings-masonry-container.css
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Codings Masonry Container
/* --------------------------------------------------------------- */

#codings-masonry-container {

  width: 100%;
  height: 100%;
  padding: 0em 0em 0em 0em;

  display: grid;
  justify-items: center;

  align-content: flex-start;
  align-items: flex-start;

  /* grid: auto / 1fr 1fr; */

  column-gap: 2em;
  row-gap: 2em;

  /* background-color: red; */

}
