/* ---------------------------------------------------------------- */
/* > tech-nav-handlings.css
/* ---------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Default Unshown
/* -------------------------------------------------------------- */

input[name="name-radio-codings-nav-tech"] {

  display: none;

}

/* ------------------------------------------------------------- */
/* Handlings - Stylings
/* ------------------------------------------------------------- */

/* text color */
#radio-codings-tech-nav-java:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-java"],
#radio-codings-tech-nav-spring-boot:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-spring-boot"],
#radio-codings-tech-nav-observability:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-observability"],
#radio-codings-tech-nav-cloud:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-cloud"],
#radio-codings-tech-nav-ai:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-ai"],
#radio-codings-nav-tech-angular:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-angular"],
#radio-codings-tech-nav-react-native:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-react-native"] {

  background-color: rgb(216, 216, 216);
  color:rgb(58, 58, 58);

}

/* unshow grey img */
#radio-codings-tech-nav-java:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-java"] > div:nth-of-type(1) > img:nth-of-type(1),
#radio-codings-tech-nav-spring-boot:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-spring-boot"]  > div:nth-of-type(1) > img:nth-of-type(1),
#radio-codings-tech-nav-observability:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-observability"] > div:nth-of-type(1) > img:nth-of-type(1),
#radio-codings-tech-nav-cloud:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-cloud"] > div:nth-of-type(1) > img:nth-of-type(1),
#radio-codings-tech-nav-ai:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-ai"] > div:nth-of-type(1) > img:nth-of-type(1),
#radio-codings-tech-nav-angular:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-angular"]  > div:nth-of-type(1) > img:nth-of-type(1),
#radio-codings-tech-nav-react-native:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-react-native"]  > div:nth-of-type(1) > img:nth-of-type(1) {

  display: none;

}

/* unshow black img */
#radio-codings-tech-nav-java:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-java"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-codings-tech-nav-spring-boot:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-spring-boot"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-codings-tech-nav-observability:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-observability"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-codings-tech-nav-cloud:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-cloud"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-codings-tech-nav-ai:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-ai"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-codings-tech-nav-angular:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-angular"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-codings-tech-nav-react-native:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-react-native"] > div:nth-of-type(1) > img:nth-of-type(2) {

 display: flex;

}

/* counter box */
#radio-codings-tech-nav-java:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-java"] > div:last-child,
#radio-codings-tech-nav-spring-boot:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-spring-boot"] > div:last-child,
#radio-codings-tech-nav-observability:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-observability"] > div:last-child,
#radio-codings-tech-nav-cloud:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-cloud"] > div:last-child,
#radio-codings-tech-nav-ai:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-ai"] > div:last-child,
#radio-codings-tech-nav-angular:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-angular"] > div:last-child,
#radio-codings-tech-nav-react-native:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-react-native"] > div:last-child {


  /* background-color: rgb(210, 195, 164);

  background-color: rgb(179, 161, 131);
  color:rgb(36, 36, 36); */


}

/* counter color text */
#radio-codings-tech-nav-java:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-java"] > div:last-child > div,
#radio-codings-tech-nav-spring-boot:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-spring-boot"] > div:last-child > div,
#radio-codings-tech-nav-observability:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-observability"] > div:last-child > div,
#radio-codings-tech-nav-cloud:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-cloud"] > div:last-child > div,
#radio-codings-tech-nav-ai:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-ai"] > div:last-child > div,
#radio-codings-tech-nav-angular:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-angular"] > div:last-child > div,
#radio-codings-tech-nav-react-native:checked ~ #codings-tech-nav label[for="radio-codings-tech-nav-react-native"] > div:last-child > div {

  /* color: rgb(45, 42, 37);
  color: rgb(122, 121, 121);

  color: rgb(179, 161, 131);
  */
  color:rgb(36, 36, 36);


}

/* ------------------------------------------------------------- */
/* Handlings - Content
/* ------------------------------------------------------------- */

#radio-codings-tech-nav-java:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-tech-nav-spring-boot:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-tech-nav-observability:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-tech-nav-cloud:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-tech-nav-ai:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-tech-nav-angular:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-tech-nav-react-native:checked ~ #codings-tech-nav #codings-masonry-container {

 display: grid;

}

/* unshown primary checked + nav tech any is checked -> unshown codings masonry container */
#radio-codings-nav-unshown:checked ~ #radio-codings-tech-nav-java:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-tech-nav-spring-boot:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-tech-nav-observability:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-tech-nav-cloud:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-tech-nav-ai:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-tech-nav-angular:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-pyhton:checked ~ #codings-tech-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-tech-nav-react-native:checked ~ #codings-tech-nav #codings-masonry-container {

  display: none;

}
