/* ---------------------------------------------------------------- */
/* > tech-nav.css
/* ---------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* Codings Tech Nav
/* ----------------------------------------------------------------- */

#codings-tech-nav {

  padding: .8em 0em 1em 0em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: flex-end;

  /* justify-content: center; */

  column-gap: .3em;
  row-gap: .6em;

  /* default unshown - only by checked */
  display: none;

}
