/* --------------------------------------------------------------- */
/* > lbl-grey.css
/*
/* : styles labels grey
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label | Grey
/* --------------------------------------------------------------- */

.lbl-grey {

  background-color: grey;
  color:black;

}

/* hover */
.lbl-grey:hover {

  background-color: wheat;

}
