/* --------------------------------------------------------------- */
/* > lbl-light-brown.css
/*
/* : styles label as light brown
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Light Brown
/* --------------------------------------------------------------- */

.lbl-light-brown {

  background-color: wheat;
  color: rgb(28, 28, 28);

}

/* hover */
.lbl-light-brown:hover {

  background-color: rgb(249, 143, 143);

}
