/* --------------------------------------------------------------- */
/* > books.css
/*
/* : styles books
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* books Container
/* -------------------------------------------------------------- */

#books-container {

  width: 100%;
  padding: 1.5em .8em;

  display: grid;

  background-color: red;

  /* default unshown, by click will be shown */
  /* display: none; */

}
