/* --------------------------------------------------------------- */
/* > mindset.css
/*
/* : styles it skills
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Mindset | Show More Container
/* --------------------------------------------------------------- */

#mindset-show-more-container {

  width: 100%;

  margin-bottom: 3.5em;
  padding: 3.5em 1em;


  display: grid;
  justify-items: center;
  row-gap: 4em;

  border-radius: 1.3em;

  background-color: rgba(47, 47, 47, .6);
  border: 4px solid rgb(60, 79, 107);

  /* default unshown */
  display: none;

}

/* --------------------------------------------------------------- */
/* Mindset Videos Container
/* --------------------------------------------------------------- */

#mindset-videos-container {

  display: grid;
  justify-items: center;

  /* mobile */
  grid: auto auto / 1fr;

  /* grid: auto / 1fr 1fr; */

  column-gap: 2.5em;
  row-gap: 2.5em;

  /* background-color: red; */

}

/* --------------------------------------------------------------- */
/* Mindset Video Item
/* --------------------------------------------------------------- */

.mindset-video-item {

  width: 100%;

  display: grid;
  justify-items: flex-start;

  row-gap: .6em;

}

/* --------------------------------------------------------------- */
/* Header | Mindset Video Item
/* --------------------------------------------------------------- */

.mindset-video-item > header {

  width: 100%;

  display: grid;
  row-gap: .4em;

}

/* div 1 > header */
.mindset-video-item > header > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

}

/* --------------------------------------------------------------- */
/* Nr Box | Header
/* --------------------------------------------------------------- */

.nr-box-mindset-video {

  height: 2em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;

  font-weight: bold;

  border: 2px solid rgb(138, 138, 138);
  color:rgb(138, 138, 138);

}

.nr-box-mindset-video > div {

  font-size: 15px;

}

/* --------------------------------------------------------------- */
/* Time Box | Header
/* --------------------------------------------------------------- */

.time-box-mindset-video {

  height: 2em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  /* border: 2px solid rgb(138, 138, 138); */
  color:rgb(138, 138, 138);

}

.time-box-mindset-video > span {

  font-size: 15px;

}

/* div 2 | title */
.mindset-video-item > header > div:nth-of-type(2) {

  font-size: 16px;
  padding-left: .3em;

  font-style: italic;
  font-weight: bold;

  color: rgb(144, 144, 144);

  color:rgb(229, 229, 229);

}

/* --------------------------------------------------------------- */
/* Video | Mindset Video Item
/* --------------------------------------------------------------- */

.mindset-video-item > video {

  width: 100%;
  height: 14em;

  object-fit: cover;
  /* object-fit: fill; */
  /* object-fit: contain; */
  border-radius: 1em;

  border: 4px solid rgba(87, 87, 87, .3);

  /* border: 4px solid rgb(60, 79, 107); */

  /* border: 4px solid #444444; */

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

/* --------------------------------------------------------------- */
/* Mindset Quote Container
/* --------------------------------------------------------------- */

#mindset-quote-container {

  /* mobile */
  display: grid;
  justify-items: center;
  row-gap: .6em;

  column-gap: .4em;

}

/* div */
#mindset-quote-container > div {

  min-width: 7em;
  height: 2.3em;
  padding: 0 .8em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .6em;

  font-weight: bold;


  color:rgb(138, 138, 138);

}

/* img */
#mindset-quote-container > img {

  height: 2.5em;
  opacity: .3;

}

/* img 1/2 */
#mindset-quote-container > img:nth-of-type(1) {

  transform: rotate(180deg);

  /* mobile */
  transform: rotate(-90deg);

}

/* div 1,3 */
#mindset-quote-container > div:nth-of-type(1),
#mindset-quote-container > div:nth-of-type(3) {

  /* border: 2px solid rgb(138, 138, 138); */

}

/* div 2 */
#mindset-quote-container > div:nth-of-type(2) {

  /* border: 2px solid wheat; */

  background-color: wheat;
  color:black;

}

/* img 2/2 */
#mindset-quote-container > img:nth-of-type(2) {

  /* mobile */
  transform: rotate(90deg);

}
