/* --------------------------------------------------------------- */
/* > mindset.css
/*
/* : styles it skills
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Mindset | Show More Container
/* --------------------------------------------------------------- */

#mindset-show-more-container {

   margin: 1.3em 0 2.5em 0;
  padding: 3em 1em;
  width: 100%;

  display: grid;

  /* background-color: violet; */

  border: 1px dashed grey;

  /* default unshown */
  display: none;

}
