/* ---------------------------------------------------------------- */
/* > kits-nav-handlings.css
/* ---------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Default Unshown
/* -------------------------------------------------------------- */

input[name="name-radio-codings-kits-nav"] {

  display: none;

}

/* ------------------------------------------------------------- */
/* Handlings - Stylings
/* ------------------------------------------------------------- */

/* text color */
#radio-codings-kits-nav-web:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-web"],
#radio-codings-kits-nav-software:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-software"],
#radio-codings-kits-nav-backend:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-backend"],
#radio-codings-kits-nav-others:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-others"] {

  background-color: rgb(216, 216, 216);
  color:rgb(58, 58, 58);

}

/* unshow grey img */
#radio-codings-kits-nav-web:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-web"] > div:nth-of-type(1) > img:nth-of-type(1),
#radio-codings-kits-nav-software:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-software"] > div:nth-of-type(1) > img:nth-of-type(1),
#radio-codings-kits-nav-backend:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-backend"] > div:nth-of-type(1) > img:nth-of-type(1),
#radio-codings-kits-nav-others:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-others"] > div:nth-of-type(1) > img:nth-of-type(1) {

  display: none;

}

/* unshow black img */
#radio-codings-kits-nav-web:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-web"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-codings-kits-nav-software:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-software"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-codings-kits-nav-backend:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-backend"] > div:nth-of-type(1) > img:nth-of-type(2),
#radio-codings-kits-nav-others:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-others"] > div:nth-of-type(1) > img:nth-of-type(2) {

  display: flex;

}

/* counter box */
#radio-codings-kits-nav-web:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-web"] > div:last-child,
#radio-codings-kits-nav-software:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-software"] > div:last-child,
#radio-codings-kits-nav-backend:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-backend"] > div:last-child,
#radio-codings-kits-nav-others:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-others"] > div:last-child {

  /* background-color: rgb(210, 195, 164);

  background-color: rgb(179, 161, 131);
  color:rgb(36, 36, 36); */

}

/* counter color text */
#radio-codings-kits-nav-web:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-web"] > div:last-child > div,
#radio-codings-kits-nav-software:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-software"] > div:last-child > div,
#radio-codings-kits-nav-backend:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-backend"] > div:last-child > div,
#radio-codings-kits-nav-others:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-others"] > div:last-child > div {

  color:rgb(36, 36, 36);

}

/* ------------------------------------------------------------- */
/* 🟥 Handlings - Content
/* ------------------------------------------------------------- */

/* #radio-codings-kits-nav-web:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-web"] > div:last-child > div,
#radio-codings-kits-nav-software:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-software"] > div:last-child > div,
#radio-codings-kits-nav-backend:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-backend"] > div:last-child > div,
#radio-codings-kits-nav-others:checked ~ #codings-kits-nav label[for="radio-codings-kits-nav-others"] > div:last-child > div   */


/* unshown primary checked + nav tech any is checked -> unshown codings masonry container */
/* #radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-java:checked ~ #codings-kits-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-spring-boot:checked ~ #codings-kits-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-observability:checked ~ #codings-kits-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-cloud:checked ~ #codings-kits-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-ai-ml-llm:checked ~ #codings-kits-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-angular:checked ~ #codings-kits-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-pyhton:checked ~ #codings-kits-nav #codings-masonry-container,
#radio-codings-nav-unshown:checked ~ #radio-codings-nav-tech-react-native:checked ~ #codings-kits-nav #codings-masonry-container {

  display: none;

} */
