/* --------------------------------------------------------------- */
/* > masnory-coding-container.css
/*
/* : styles codings
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Mansory Coding Container
/* --------------------------------------------------------------- */

.masonry-coding-container {

  position: relative;
  width: 100%;

  display: grid;

}

/* -------------------------------------------------------------- */
/* Tech Masonries
/* -------------------------------------------------------------- */

#masonry-tech-java-container,
#masonry-tech-spring-boot-container,
#masonry-tech-microservices-container,
#masonry-tech-angular-container,
#masonry-tech-python-container,
#masonry-tech-react-native-container {

  /* default unshown */
  display: none;

}
