/* --------------------------------------------------------------- */
/* > masnory-coding-item-task.css
/*
/* : styles masonry coding item task
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Masonry Coding Item Task
/* > in progress, later, done
/* --------------------------------------------------------------- */

.masonry-coding-item-task-in-progress,
.masonry-coding-item-task-later,
.masonry-coding-item-task-done {

  width: 100%;
  padding: 1em .8em;

  display: grid;
  align-items: flex-start;

  background-color: white;

  transition: all .4s;

}

/* --------------------------------------------------------------- */
/* In Progress | Masonry
/* --------------------------------------------------------------- */

.masonry-coding-item-task-in-progress:hover {

  background-color: rgb(255, 240, 202);

}

/* --------------------------------------------------------------- */
/* Later | Masonry
/* --------------------------------------------------------------- */

.masonry-coding-item-task-later:hover {

  background-color: rgb(237, 237, 237);

}

/* --------------------------------------------------------------- */
/* Done | Masonry
/* --------------------------------------------------------------- */

.masonry-coding-item-task-done:hover {

  background-color: rgb(199, 255, 199);
}

/* --------------------------------------------------------------- */
/* Status + Main
/* --------------------------------------------------------------- */

.masonry-coding-item-task-in-progress  > div:nth-of-type(1),
.masonry-coding-item-task-later > div:nth-of-type(1),
.masonry-coding-item-task-done > div:nth-of-type(1) {

  display: grid;
  align-items: flex-start;

  grid: auto / auto 1fr;

  column-gap: .8em;

}

/* --------------------------------------------------------------- */
/* Main - Title
/* --------------------------------------------------------------- */

.masonry-coding-item-task-in-progress > div:nth-of-type(1) > main,
.masonry-coding-item-task-later > div:nth-of-type(1) > main,
.masonry-coding-item-task-done > div:nth-of-type(1) > main {

  line-height: 1.6em;

  font-size: 14.5px;

}

/* div 1 - bold header - in progress */
.masonry-coding-item-task-in-progress  > div:nth-of-type(1) > main > div:nth-of-type(1) {

  font-weight: bold;
  color:rgb(152, 121, 18);

  color:rgba(152, 121, 18, .6);

  color:rgb(164, 133, 29);

}

/* div 1 - bold header - later */
.masonry-coding-item-task-later  > div:nth-of-type(1) > main > div:nth-of-type(1) {

  font-weight: bold;
  color:rgb(62, 62, 62);

  color:rgb(113, 113, 113);

  color:rgba(113, 113, 113, .6);

}

/* div 1 - bold header - done */
.masonry-coding-item-task-done  > div:nth-of-type(1) > main > div:nth-of-type(1) {

  font-weight: bold;
  color:rgb(17, 129, 34);

  color:rgba(19, 156, 40, 0.8);

}

/* div 2 - text header */
.masonry-coding-item-task-in-progress  > div:nth-of-type(1) > main > div:nth-of-type(2),
.masonry-coding-item-task-later  > div:nth-of-type(1) > main > div:nth-of-type(2),
.masonry-coding-item-task-done  > div:nth-of-type(1) > main > div:nth-of-type(2) {

  color:grey;

}

/* --------------------------------------------------------------- */
/* Footer | Masonry Coding Item To Do
/* --------------------------------------------------------------- */

.masonry-coding-item-task-in-progress > footer,
.masonry-coding-item-task-later > footer,
.masonry-coding-item-task-done > footer {

  margin-top: .8em;

  display: flex;
  justify-content: flex-end;

  /* display: none; */

}

/* --------------------------------------------------------------- */
/* Link | Footer
/* --------------------------------------------------------------- */

.masonry-coding-item-task-in-progress > footer > a,
.masonry-coding-item-task-later > footer > a,
.masonry-coding-item-task-done > footer > a {

  text-decoration: none;

  height: 1.6em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  border-radius: .8em;

  font-weight: bold;

  border: 1px solid rgb(216, 216, 216);

  color: rgb(145, 145, 145);

  background-color: rgba(239, 239, 239, 0.1);

  /* opacity: .6; */

  transition: all .4s;

}

/* hover */
.masonry-coding-item-task-in-progress > footer > a:hover,
.masonry-coding-item-task-later > footer > a:hover,
.masonry-coding-item-task-done > footer > a:hover {

  background-color: rgb(211, 211, 211);
  color:black;
  opacity: 1;

}

/* img - link */
.masonry-coding-item-task-in-progress > footer > a > img ,
.masonry-coding-item-task-later > footer > a > img ,
.masonry-coding-item-task-done > footer > a > img  {

  height: .8em;
  opacity: .8;

}

/* div - link */
.masonry-coding-item-task-in-progress > footer > a > div,
.masonry-coding-item-task-later > footer > a > div,
.masonry-coding-item-task-done > footer > a > div {

  font-size: 12.5px;


}
