/* ---------------------------------------------------------------- */
/* > docs-category-container.css
/* : doc category container
/* ---------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Docs Category Container
/* --------------------------------------------------------------- */

.docs-category-container {

  width: 100%;

  display: grid;
  row-gap: 1.3em;

  /* background-color: red; */

}
