/* --------------------------------------------------------------- */
/* > footer-body.css
/*
/* : styles footer body
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Footer Body
/* --------------------------------------------------------------- */

#footer-body {

  height: 3em;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(28, 28, 28);
  border-top: 1px solid rgb(47, 47, 47);

}

/* --------------------------------------------------------------- */
/* Overwrite Style | 📐 Resp Medium
/* --------------------------------------------------------------- */

#footer-body > .resp-content-container-medium{

  background-color: rgb(28, 28, 28);

}

/* --------------------------------------------------------------- */
/* Footer Content Body
/* --------------------------------------------------------------- */

#footer-content-body {

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(28, 28, 28);

  /* border-left: 1px solid grey;
  border-right: 1px solid grey; */

}

/* --------------------------------------------------------------- */
/* Copyright Footer Container
/* --------------------------------------------------------------- */

#copyright-footer-container {

  display: flex;
  align-items: center;
  column-gap: .2em;

  font-weight: bold;

}

/* --------------------------------------------------------------- */
/* Title | Copyright Title Footer
/* --------------------------------------------------------------- */

#copyright-title-footer  {

  display: flex;
  align-items: center;
  column-gap: .3em;

}

/* img copyright */
#copyright-title-footer > img:nth-of-type(1) {

  opacity: .6;

}

#copyright-title-footer > div:nth-of-type(1) {

  /* 14.5px | 14.5/16 = .90625em */
  font-size: .90625em;

  color:grey;

}

/* --------------------------------------------------------------- */
/* Seperator | Copyright Seperator Footer
/* --------------------------------------------------------------- */

#copyright-seperator-footer {


}

/* div */
#copyright-seperator-footer > div {

  /* 14.5px | 14.5/16 = .90625em */
  font-size: .90625em;

  font-weight: bold;
  color:rgba(245, 222, 179, .6);


}

/* --------------------------------------------------------------- */
/* Year | Copyright Year Footer
/* --------------------------------------------------------------- */

#copyright-year-footer {

  /* 14.5px | 14.5/16 = .90625em */
  font-size: .90625em;

  color:rgba(245, 222, 179, .6);

}
