/* ---------------------------------------------------------------- */
/* > codings-task-card-status-sticker.css
/* ---------------------------------------------------------------- */


/* ------------------------------------------------------------ */
/* All | Codings task Card Status sticker
/* ------------------------------------------------------------ */

.codings-task-card-status-sticker-in-progress,
.codings-task-card-status-sticker-later,
.codings-task-card-status-sticker-done {

  height: 1.7em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .8em;

  font-weight: bold;


}

/* default img unshown */
.codings-task-card-status-sticker-in-progress > img,
.codings-task-card-status-sticker-later > img,
.codings-task-card-status-sticker-done > img {

  display: none;

}

/* img media queries - 340px */
@media (min-width: 340px) {

  .codings-task-card-status-sticker-in-progress > img,
  .codings-task-card-status-sticker-later > img,
  .codings-task-card-status-sticker-done > img {

    display: flex;

  }

}

/* Img  */
.codings-task-card-status-sticker-in-progress > img,
.codings-task-card-status-sticker-later > img {

  opacity: .4;

}

.codings-task-card-status-sticker-done > img {

  /* layout optimal fix */
  margin-top: 1px;

  opacity: .4;

}

/* Status Text */
.codings-task-card-status-sticker-in-progress > div,
.codings-task-card-status-sticker-later > div,
.codings-task-card-status-sticker-done > div {

  font-size: 12px;

}


/* ------------------------------------------------------------ */
/* In Progress | Codings task Card Status sticker
/* ------------------------------------------------------------ */

.codings-task-card-status-sticker-in-progress {

  background-color: rgb(251, 217, 132);

  /* border: 1px solid rgb(230, 192, 96); */

  color:rgb(182, 141, 39);


  /* opacity: .8; */

}

/* ------------------------------------------------------------ */
/* Later | Codings task Card Status sticker
/* ------------------------------------------------------------ */

.codings-task-card-status-sticker-later {

  background-color: #e3e3e3;
  color: #929292;

}

/* ------------------------------------------------------------ */
/* Done | Codings task Card Status sticker
/* ------------------------------------------------------------ */

.codings-task-card-status-sticker-done {

  background-color: rgb(136, 216, 136);
  color: rgb(25, 141, 25);

}
