/* ---------------------------------------------------------------- */
/* > codings-task-card-headers.css
/* ---------------------------------------------------------------- */


/* ------------------------------------------------------------ */
/* Codings Task Card Header
/* ------------------------------------------------------------ */

.codings-task-card-header {

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  column-gap: 0.3em;

  /* background-color: rgb(251, 217, 132); */
  /* border-radius: .8em; */

}

/* ------------------------------------------------------------ */
/* Div 1 | Left Box | Nr Box & Status Sticker
/* ------------------------------------------------------------ */

.codings-task-card-header > div:nth-of-type(1) {

  display: flex;
  align-items: center;

  column-gap: .3em;

}

/* ------------------------------------------------------------ */
/* Nr Box
/* ------------------------------------------------------------ */

.codings-task-card-nr-box {

  min-width: 1.8em;
  height: 1.7em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .5em;

  font-weight: bold;

  opacity: .9;

}

/* Nr Text */
.codings-task-card-nr-box > div {

  font-size: 12.5px;

}

/* Nr Box - In Progress */
.codings-task-card-in-progress .codings-task-card-nr-box {

  background-color: rgb(251, 217, 132);
  color: rgb(182, 141, 39);

}

/* Nr Box - Later */
.codings-task-card-later .codings-task-card-nr-box {

  background-color: #e3e3e3;
  color: rgb(143, 143, 143);

}

/* Nr Box - Done */
.codings-task-card-done .codings-task-card-nr-box {

  background-color: rgb(136, 216, 136);
  color: rgb(86, 151, 86);

}

/* ------------------------------------------------------------ */
/* Tech Type Box - Debugging, Codings, Migrate, Addon
/* ------------------------------------------------------------ */

.codings-task-card-type-box {

  height: 1.7em;
  padding: 0 .5em;

  display: flex;
  align-items: center;
  column-gap: .25em;

  border-radius: .5em;

  /* opacity: .9; */

}

/* Img */
.codings-task-card-type-box > img {

  opacity: .4;

}

/* Text */
.codings-task-card-type-box > div {

  font-size: 12.5px;
  font-weight: bold;

}

/* In Progress - tech category sticker */
.codings-task-card-in-progress .codings-task-card-type-box  {

  color: #9c9c9c;

   border: 1px dashed rgb(206, 206, 206);

  /* background-color: rgb(251, 217, 132);
  color: rgba(182, 141, 39, 1); */

}

/* Later - tech category sticker */
.codings-task-card-later .codings-task-card-type-box  {

  /* background-color: #e3e3e3; */

  border: 1px dashed rgb(206, 206, 206);

  color: #9c9c9c;


}

/* Done - tech category sticker */
.codings-task-card-done .codings-task-card-type-box  {

  /* background-color: rgb(136, 216, 136);
  color: rgb(86, 151, 86); */

  border: 1px dashed rgb(206, 206, 206);

  color: #9c9c9c;
}
