/* ---------------------------------------------------------------- */
/* > codings-task-card-status-sticker.css
/* ---------------------------------------------------------------- */


/* ------------------------------------------------------------ */
/* All | Codings task Card Status sticker
/* ------------------------------------------------------------ */

.codings-task-card-status-sticker-in-progress,
.codings-task-card-status-sticker-later,
.codings-task-card-status-sticker-done {

  height: 1.7em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  border-radius: .5em;

  font-weight: bold;


}

/* Img  */
.codings-task-card-status-sticker-in-progress > img,
.codings-task-card-status-sticker-later > img {

  opacity: .6;

}

.codings-task-card-status-sticker-done > img {

  /* layout optimal fix */
  margin-top: 1px;

  opacity: .6;

}

/* Status Text */
.codings-task-card-status-sticker-in-progress > div,
.codings-task-card-status-sticker-later > div,
.codings-task-card-status-sticker-done > div {

  font-size: 12px;

}


/* ------------------------------------------------------------ */
/* In Progress | Codings task Card Status sticker
/* ------------------------------------------------------------ */

.codings-task-card-status-sticker-in-progress {

  background-color: rgb(251, 217, 132);

  /* border: 1px solid rgb(230, 192, 96); */

  color:rgb(144, 112, 30);


  opacity: .8;

}

/* ------------------------------------------------------------ */
/* Later | Codings task Card Status sticker
/* ------------------------------------------------------------ */

.codings-task-card-status-sticker-later {

  background-color: #e3e3e3;

  /* border: 1px solid #c3c3c3; */

  color:#545454;

  opacity: .8;

}

/* ------------------------------------------------------------ */
/* Done | Codings task Card Status sticker
/* ------------------------------------------------------------ */

.codings-task-card-status-sticker-done {

  background-color: rgb(136, 216, 136);

  /* border: 1px solid rgb(113, 185, 113); */

  color:rgb(53, 92, 53);

  opacity: .8;

}
