/* ---------------------------------------------------------------- */
/* > codings-task-card-headers.css
/* ---------------------------------------------------------------- */


/* ------------------------------------------------------------ */
/* Codings Task Card Header
/* ------------------------------------------------------------ */

.codings-task-card-header {

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  column-gap: .6em;

  /* background-color: rgb(251, 217, 132); */

}

/* ------------------------------------------------------------ */
/* Div 1 | Left Box | Nr Box & Status Sticker
/* ------------------------------------------------------------ */

.codings-task-card-header > div:nth-of-type(1) {

  display: flex;
  align-items: center;

  column-gap: .3em;

}

/* ------------------------------------------------------------ */
/* Nr Box
/* ------------------------------------------------------------ */

.codings-task-card-nr-box {

  min-width: 1.8em;
  height: 1.7em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .5em;

  font-weight: bold;
  /* opacity: .8; */

}

/* Nr Text */
.codings-task-card-nr-box > div {

  font-size: 12.5px;

}

/* Nr Box - In Progress */
.codings-task-card-in-progress .codings-task-card-nr-box {

  background-color: rgb(251, 217, 132);
  color:rgb(180, 142, 43);

  /* opacity: .8; */

}

/* Nr Box - Later */
.codings-task-card-later .codings-task-card-nr-box {

  background-color: #e3e3e3;
  color:#949494;

}

/* Nr Box - Done */
.codings-task-card-done .codings-task-card-nr-box {

  background-color: rgb(136, 216, 136);
  color:rgb(86, 151, 86);
  /* opacity: .8; */

}

/* ------------------------------------------------------------ */
/* ➡️🟥 Category Box
/* ------------------------------------------------------------ */

.codings-task-card-category-box {

  min-width: 1.8em;
  height: 1.7em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .5em;

  display: flex;
  align-items: center;
  justify-content: center;

}

/* img */
.codings-task-card-category-box > img {

  opacity: .3;

}


/* In Progress - Category Box */
.codings-task-card-in-progress .codings-task-card-category-box {

  /* background-color: rgb(251, 217, 132); */
  border: 1px solid rgb(206, 206, 206);

}

/* Later - Category Box */
.codings-task-card-later .codings-task-card-category-box {

  /* background-color: #e3e3e3; */
  border: 1px solid rgb(206, 206, 206);


}

/* Done - Category Box */
.codings-task-card-done .codings-task-card-category-box {

  /* background-color: rgb(136, 216, 136); */
  border: 1px solid rgb(206, 206, 206);


}

/* ------------------------------------------------------------ */
/* Tech Type Box - Debugging, Codings, Migrate, Addon
/* ------------------------------------------------------------ */

.codings-task-card-type-box {

  height: 1.7em;
  padding: 0 .5em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  border-radius: .5em;

}

/* Img */
.codings-task-card-type-box > img {

  opacity: .3;

}

/* Text */
.codings-task-card-type-box > div {

  font-size: 12.5px;
  font-weight: bold;

}

/* In Progress - tech category sticker */
.codings-task-card-in-progress .codings-task-card-type-box  {

  background-color: rgb(251, 217, 132);
  color:rgb(182, 141, 39);

  /* border: 1px solid rgb(206, 206, 206); */
  /* color: #a2a2a2; */

}

/* Later - tech category sticker */
.codings-task-card-later .codings-task-card-type-box  {

  background-color: #e3e3e3;

  /* border: 1px solid rgb(206, 206, 206); */
  color: #a2a2a2;

}

/* Done - tech category sticker */
.codings-task-card-done .codings-task-card-type-box  {

  background-color: rgb(136, 216, 136);
  color: rgb(63, 139, 63);

  /* border: 1px solid rgb(206, 206, 206);
  color: #a2a2a2; */


}
