/* ---------------------------------------------------------------- */
/* > codings-task-card-headers.css
/* ---------------------------------------------------------------- */


/* ------------------------------------------------------------ */
/* Codings Task Card Header
/* ------------------------------------------------------------ */

.codings-task-card-header {

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

  /* background-color: rgb(251, 217, 132); */


}

/* ------------------------------------------------------------ */
/* Div 1 | Left Box | Nr Box & Status Sticker
/* ------------------------------------------------------------ */

.codings-task-card-header > div:nth-of-type(1) {

  display: flex;
  align-items: center;

  column-gap: .3em;

}

/* ------------------------------------------------------------ */
/* Nr Box
/* ------------------------------------------------------------ */

.codings-task-card-nr-box {

  min-width: 1.8em;
  height: 1.7em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .5em;

  font-weight: bold;
  /* opacity: .8; */

}

/* Nr Text */
.codings-task-card-nr-box > div {

  font-size: 12.5px;

}

/* Nr Box - In Progress */
.codings-task-card-in-progress .codings-task-card-nr-box {

  background-color: rgb(251, 217, 132);

  border: 1px solid rgba(224, 175, 50, .8);
  color:rgb(186, 145, 43);

  color:rgb(143, 111, 30);

  opacity: .8;

}

/* Nr Box - Later */
.codings-task-card-later .codings-task-card-nr-box {

  background-color: #e3e3e3;

  border: 1px solid #c3c3c3;
  color:#727272;

  opacity: .8;

}

/* Nr Box - Done */
.codings-task-card-done .codings-task-card-nr-box {

  background-color: rgb(136, 216, 136);

  border: 1px solid rgb(113, 185, 113);
  color: rgb(46, 132, 46);

   opacity: .8;

}

/* ------------------------------------------------------------ */
/* Tech Category Sticker
/* ------------------------------------------------------------ */

.codings-task-card-tech-category-sticker {

  height: 1.7em;
  padding: 0 .5em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  border-radius: .5em;

}

/* Img */
.codings-task-card-tech-category-sticker > img {

  opacity: .4;

}

/* Text */
.codings-task-card-tech-category-sticker > div {

  font-size: 12.5px;
  font-weight: bold;

}

/* In Progress - tech category sticker */
.codings-task-card-in-progress .codings-task-card-tech-category-sticker  {

  /* background-color: rgb(251, 217, 132); */

  border: 1px solid rgba(224, 175, 50, .8);


  color:rgb(143, 111, 30);

  /* color:rgb(176, 134, 27); */



  /* color:black; */

  opacity: .8;



}

/* Later - tech category sticker */
.codings-task-card-later .codings-task-card-tech-category-sticker  {

  /* background-color: #e3e3e3; */

  border: 1px solid #c3c3c3;
  color: #6c6c6c;

  /* color:black; */

  opacity: .8;

}

/* Done - tech category sticker */
.codings-task-card-done .codings-task-card-tech-category-sticker  {

  /* background-color: rgb(136, 216, 136); */

  border: 1px solid rgb(113, 185, 113);
  color: rgb(38, 109, 38);



  /* color:black; */

  opacity: .8;

}
