/* --------------------------------------------------------------- */
/* > it-skills.css
/*
/* : styles it skills
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* It Skill | Show More Container
/* --------------------------------------------------------------- */

#it-skills-show-more-container {

  margin-bottom: 3.5em;
  padding: 3.5em 1em;
  width: 100%;

  display: grid;
  justify-items: center;
  justify-content: center;
  row-gap: 4em;

  border-radius: 1.3em;
  background-color: rgb(60, 60, 60);

  background-color: rgba(47, 47, 47, .6);

  border: 4px solid rgb(70, 70, 70);

  border: 4px solid rgb(60, 79, 107);


  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  /* default unshown */
  display: none;

}

/* --------------------------------------------------------------- */
/* It Skill Row Container Show More
/* --------------------------------------------------------------- */

.it-skill-row-container-show-more {

  width: 100%;
  /* padding: 1em 0; */

  display: grid;
  justify-items: center;

  row-gap: 1em;

  border-radius: .6em;

  /* border: 1px solid rgb(225, 225, 225); */
  /* background-color: rgb(247, 247, 247); */

}

/* --------------------------------------------------------------- */
/* Header | It Skill Row Container Show More
/* --------------------------------------------------------------- */

.it-skill-row-container-show-more > header {

  width: 100%;

  display: grid;
  justify-items: flex-start;

  grid-template-areas:

    'img-itSkill-showMore nrBox-itSkill-showMore'
    'title-itSkill-showMore title-itSkill-showMore'
    'text-itSkill-showMore text-itSkill-showMore'

  ;

  grid-template-columns: 1fr auto;

  row-gap: 1.3em;

}

/* --------------------------------------------------------- */
/* [1/4] | Img
/* --------------------------------------------------------- */

.it-skill-row-container-show-more > header > img:nth-of-type(1) {

  grid-area: img-itSkill-showMore;

}

/* --------------------------------------------------------- */
/* [2/4] | Title
/* --------------------------------------------------------- */

.title-category-it-skill-show-more {

  grid-area: title-itSkill-showMore;

  line-height: 1.2em;

  font-weight: bold;
  font-size: 20px;

  color:rgb(122, 122, 122);

  color:white;

}

/* --------------------------------------------------------- */
/* [3/4] | Text
/* --------------------------------------------------------- */

.text-it-skill-show-more {

  grid-area: text-itSkill-showMore;

  padding-left: .4em;

  line-height: 1.8em;

  font-style: italic;

  font-weight: bold;


  color:rgb(103, 103, 103);

  color:rgb(138, 138, 138);

  /* color:rgb(147, 147, 147); */

}

/* --------------------------------------------------------- */
/* [4/4] | Nr
/* --------------------------------------------------------- */

.nr-box-it-skill-category {

  grid-area: nrBox-itSkill-showMore;

  min-height: 2.5em;
  min-width: 2.6em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .6em;

  border: 2px solid rgb(138, 138, 138);

  /* background-color: rgb(246, 246, 246); */
  color:rgb(138, 138, 138);

}

/* div */
.nr-box-it-skill-category > div:nth-of-type(1) {

  font-weight: bold;

  font-size: 16.5px;

}

/* --------------------------------------------------------------- */
/* Main | It Skill Row Container Show More
/* --------------------------------------------------------------- */

.it-skill-row-container-show-more > main {

  padding: 1em 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  column-gap: .4em;
  row-gap: .4em;

  /* border-left: 1px dashed black;
  border-right: 1px dashed black; */

}

/* --------------------------------------------------------------- */
/* Link It Skill About | Main
/* --------------------------------------------------------------- */

.link-it-skill-about {

  text-decoration: none;

  height: 2.5em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-weight: bold;

  border-radius: .6em;

  /* font-weight: bold; */

  border: 1px solid rgb(87, 87, 87);

  /* background-color: rgb(41, 41, 41); */

  background-color: rgba(41, 41, 41, .3);

  color:rgb(162, 162, 162);



  transition: all .4s;

}

/* div 1 */
.link-it-skill-about > div {

  font-size: 14.5px;

}

/* hover */
.link-it-skill-about:hover {

  background-color: rgb(212, 212, 212);

  background-color: rgb(70, 70, 70);


  /* color:rgb(196, 196, 196); */
  color:wheat;

}

/* visited */
.link-it-skill-about {

  /* color:black; */

}


/* --------------------------------------------------------------- */
/* Learning Process It Skills
/* --------------------------------------------------------------- */

.learning-process-it-skills {

  display: flex;
  align-items: center;
  column-gap: .3em;

}


/* --------------------------------------------------------------- */
/* Animation | Learning Process It Skills
/* --------------------------------------------------------------- */

.anim-learning-it-skill-item {

  animation: anim-learning-active-it-skill 1.8s infinite reverse ease;

}

@keyframes anim-learning-active-it-skill {

  0% {
    background-color: rgb(41, 41, 41);
    /* color:rgb(85, 85, 85); */
  }

  50% {

    background-color: rgb(234, 213, 94);
    color:rgb(76, 76, 76);

  }

  100% {

    background-color: rgb(41, 41, 41);
    /* color:rgb(85, 85, 85); */
  }


}
