/* --------------------------------------------------------------- */
/* > it-skills.css
/*
/* : styles it skills
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* It Skill | Show More Container
/* --------------------------------------------------------------- */

#it-skills-show-more-container {

  padding: 3em 1em;
  width: 100%;

  display: grid;

  /* background-color: olive; */

  border: 1px dashed grey;

  /* default unshown */
  display: none;

}
