/* --------------------------------------------------------------- */
/* > nav-header-body.css
/*
/* : styles nav header of body
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Nav Header Body
/* --------------------------------------------------------------- */

#nav-header-body {

  display: flex;
  align-items: center;
  /* column-gap: .4em; */

}

/* --------------------------------------------------------------- */
/* Label | Nav Header Body
/* --------------------------------------------------------------- */

.lbl-header-body {

  height: 2.8em;
  padding: 0em .8em;

  display: flex;
  align-items: center;

  column-gap: .6em;

  border-radius: .8em;

  font-weight: bold;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  border: 2px solid rgb(47, 47, 47);
  /* background-color: rgb(44, 44, 44); */

  color:grey;

  cursor: pointer;
  user-select: none;
  transition: all .4s;

}

/* div 1 | title */
.lbl-header-body > div:nth-of-type(1) {

  font-size: 14.5px;



}

/* default small mobile img unshown */
.lbl-header-body > img {

  display: none;

}

/* default img black unshown (unset) */
.lbl-header-body > img:nth-of-type(2) {

  display: none;

}

/* hover */
.lbl-header-body:hover {

  background-color: wheat;
}

/* --------------------------------------------------------------- */
/* Img Seperaotr Nav Header Body
/* --------------------------------------------------------------- */

.img-seperator-nav-header-body {

  padding: 0 .3em;

  height: .4em;
  opacity: .6;

  /* display: none; */


}
