/* --------------------------------------------------------------- */
/* > nav-header-body.css
/*
/* : styles nav header of body
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Nav Header Body
/* --------------------------------------------------------------- */

#nav-header-body {

  display: flex;
  align-items: center;
  column-gap: .8em;

}
