/* --------------------------------------------------------------- */
/* > lbl-no-border-transparent-on-white.css
/* : styles label no border transparent
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Label Counter No Border | Transparent
/* --------------------------------------------------------------- */

.lbl-counter-no-border-transparent-on-white {

  height: 2.1em;
  padding: 0 .4em;

  border-radius: .4em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .4em;

  font-weight: bold;

  border: 1px solid transparent;

  color:rgb(72, 72, 72);


}

/* icons + title box */
.lbl-counter-no-border-transparent-on-white > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .5em;

}

/* div 1 - title */
.lbl-counter-no-border-transparent-on-white > div:nth-of-type(1) > div:last-child {

  font-size: 14.5px;
  /* color:red; */

}

/* --------------------------------------------------------------- */
/* Img - Grey
/* --------------------------------------------------------------- */

.lbl-counter-no-border-transparent-on-white > div:nth-of-type(1) > img:nth-of-type(1) {

  opacity: .6;

}

/* --------------------------------------------------------------- */
/* Default Unshown | Black Img
/* --------------------------------------------------------------- */

.lbl-counter-no-border-transparent-on-white > div:nth-of-type(1) > img:nth-of-type(2) {

  display: none;

}

/* ------------------------------------------------------------------------- */
/* Extra Hover Handling
/* > show black img by hover, unshown grey img
/* ------------------------------------------------------------------------- */

.lbl-counter-no-border-transparent-on-white:hover {

  /* background-color: wheat; */
  color: rgb(209, 189, 153);
  color:black;

}

/* unshow grey img */
.lbl-counter-no-border-transparent-on-white:hover > div:nth-of-type(1) > img:nth-of-type(1) {

  display: none;

}

/* show black img */
.lbl-counter-no-border-transparent-on-white:hover > div:nth-of-type(1) > img:nth-of-type(2) {

  display: flex;

}

/* -------------------------------------------------------------- */
/* Counter
/* -------------------------------------------------------------- */

.lbl-counter-no-border-transparent-on-white > div:nth-of-type(2) {

  height: 1.5em;
  padding: 0 .2em;

  display: flex;
  align-items: center;
  justify-content: center;

}

.lbl-counter-no-border-transparent-on-white > div:nth-of-type(2) > div {

  font-size: 12.5px;

  color:rgb(79, 79, 79);

}

/* hover */

.lbl-counter-no-border-transparent-on-white:hover  > div:nth-of-type(2) > div {

  color:rgb(192, 192, 192);

}
